<div class="connections-container">
  <div class="connection-header">
    <span>Sportizen</span>
  </div>
  <div class="connection-body">
    <div class="connection-user" *ngFor="let member of chatMembers" (click)="chatMember(member)">
      <span class="profile-icon-container">
        <img
          class="profile-icon"
          aria-hidden
          [src]="member.userImageURL"
          [alt]="member.name"
          onerror="this.src='./../../../../../assets/images/user.png'"
        />
        <span class="online"></span>
      </span>
      <span class="profile-name">{{ member.name | capitalizeEachWord }}</span>
    </div>
  </div>
</div>
