<div class="upload-container">
  <mat-dialog-content>
    <span class="float-right pointer close" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </span>

    <h2 mat-dialog-title>Post</h2>

    <hr />

    <form (ngSubmit)="uploadPost()" [formGroup]="form">
      <ng-container *ngIf="!postUploading; else uploadingData">
        <ng-container *ngIf="data.postImagePreview && data.postImagePreview.length > 0">
          <div class="image-container" *ngFor="let image of data.postImagePreview; let i = index">
            <img [src]="image" class="image" [alt]="" loading="lazy" />

            <div div class="middle">
              <a class="remove" (click)="removeImage(i)">
                <i class="fa fa-trash-o trash"></i>
              </a>
            </div>
          </div>
        </ng-container>

        <mat-form-field class="description">
          <mat-label for="description">Whats going on your Mind?</mat-label>
          <textarea
            rows="4"
            matInput
            type="text"
            name="description"
            id="description"
            formControlName="description"
          ></textarea>
        </mat-form-field>
      </ng-container>

      <button
        type="submit"
        class="submit-flat-btn"
        mat-flat-button
        color="primary"
        [disabled]="postUploading || form.invalid"
      >
        <span class="">Post Now</span>
      </button>
    </form>
  </mat-dialog-content>
</div>

<ng-template #uploadingData>
  <div class="loading-container">
    <mat-spinner diameter="25"></mat-spinner>
    <div class="text-center">
      <p>Post Uploading.., Please Wait...</p>
    </div>
  </div>
</ng-template>
