$primary-color: #05bae3;
$secondary-color: #075492;
$grey-color: #838383;

.upload-container {
  width: 30rem;
}

.col-12 {
  padding: 0;
}

.share-post-label {
  padding: 0 1rem;
}

.description {
  padding: 0 1rem;
  width: 100%;
}

.action-container {
  // align-items: flex-end;

  .close-btn,
  .submit-btn {
    line-height: 0;
    height: 2rem;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .upload-container {
    width: 25rem;
  }

  .share-post-label {
    font-size: 98%;
  }

  .description {
    font-size: 98%;
  }

  .action-container {
    .close-btn,
    .submit-btn {
      font-size: 98%;
      line-height: 0;
      height: 2rem;
      padding: 0 0.75rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  .upload-container {
    width: 22rem;
  }

  .share-post-label {
    font-size: 95%;
  }

  .description {
    font-size: 95%;
  }

  .action-container {
    .close-btn,
    .submit-btn {
      font-size: 95%;
      line-height: 0;
      height: 1.875rem;
      padding: 0 0.75rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .upload-container {
    width: 18rem;
  }

  .share-post-label {
    font-size: 90%;
  }

  .description {
    font-size: 90%;
  }

  .action-container {
    .close-btn,
    .submit-btn {
      font-size: 90%;
      line-height: 0;
      height: 1.75rem;
      padding: 0 0.75rem;
    }
  }
}

@media only screen and (max-width: 400px) {
  .upload-container {
    width: 12.5rem;
  }

  .share-post-label {
    font-size: 80%;
  }

  .description {
    font-size: 80%;
  }

  .action-container {
    .close-btn,
    .submit-btn {
      font-size: 80%;
      line-height: 0;
      height: 1.5rem;
      padding: 0 0.5rem;
    }
  }
}
