<div class="sports-interest">
  <span class="float-right btn-close" (click)="onClose()">X</span>

  <h3 class="text-center">Select Your Sports Interest</h3>

  <mat-chip-list>
    <mat-chip
      *ngFor="let curSport of sports"
      class="btn-sports-interest"
      [ngClass]="!isSportsInterest(curSport._id) ? 'btn-sports-outline' : 'btn-sports'"
      (click)="toggleSportsInterest(curSport._id)"
    >
      {{ curSport.sport }}
      <mat-icon class="icon">
        {{ !isSportsInterest(curSport._id) ? 'add' : ' remove' }}
      </mat-icon>
    </mat-chip>
  </mat-chip-list>

  <hr />

  <div class="sports-interest-actions">
    <button mat-raised-button class="btn-save" color="primary" (click)="onSave()">Save</button>
  </div>
</div>
