$primary-color: #05bae3;

.row {
  margin: 0;
  padding: 0;
  width: 100%;

  .col-md-6,
  .col-12 {
    margin: 0;
    padding: 0;
  }
}

.events-container {
  padding: 1rem;

  .event-card {
    margin: 1rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;

    .bold-text {
      font-weight: bold;
    }

    .registration-container {
      font-size: 100%;

      .registration-heading {
        font-weight: bold;
        font-size: 1.5rem;

        .registration {
          padding-bottom: 0.125rem;
          border-bottom: 0.25rem solid #05bae3;
        }
      }

      .register-btn {
        border-radius: 2rem;
        line-height: 0;
        height: 2rem;
        padding: 0 1rem;
      }
    }
  }
}

@media only screen and(max-width:900px) {
  .events-container {
    padding: 0.75rem;

    .event-card {
      margin: 0.75rem auto;
      border-radius: 0.875rem;

      .registration-container {
        font-size: 97.5%;

        .register-btn {
          font-size: 97.5%;
          line-height: 0;
          height: 2rem;
          padding: 0 0.75rem;
        }
      }
    }
  }
}

@media only screen and(max-width:767px) {
  .events-container {
    padding: 0.75rem;

    .event-card {
      margin: 0.75rem auto;
      border-radius: 0.75rem;

      .registration-container {
        font-size: 95%;

        .register-btn {
          font-size: 95%;
          line-height: 0;
          height: 1.875rem;
          padding: 0 0.75rem;
        }
      }
    }
  }
}

@media only screen and(max-width:600px) {
  .events-container {
    padding: 0.625rem;

    .event-card {
      margin: 0.625rem auto;
      border-radius: 0.625rem;

      .registration-container {
        font-size: 92.5%;

        .register-btn {
          font-size: 92.5%;
          line-height: 0;
          height: 1.75rem;
          padding: 0 0.75rem;
        }
      }
    }
  }
}

@media only screen and(max-width:400px) {
  .events-container {
    padding: 0.5rem;

    .event-card {
      margin: 0.5rem auto;
      border-radius: 0.5rem;

      .registration-container {
        font-size: 90%;

        .register-btn {
          font-size: 90%;
          line-height: 0;
          height: 1.5rem;
          padding: 0 0.5rem;
        }
      }
    }
  }
}
