<div class="row events-container">
  <div class="col-12">
    <mat-card class="event-card" *ngIf="!loading; else loadingSpinner">
      <mat-card-content>
        <app-event-details [eventDetails]="event" [isList]="false"></app-event-details>

        <hr />

        <div class="row">
          <div class="col-md-9 col-11 mx-auto">
            <div class="registration-container">
              <h3>Registration for {{ event.name | capitalizeEachWord }}</h3>

              <form
                (ngSubmit)="registerNow()"
                [formGroup]="joinEventForm"
                *ngIf="event.registrationType === 'individual'"
              >
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="full-width">
                      <mat-label>Name: </mat-label>

                      <input matInput type="text" name="name" id="name" formControlName="name" />

                      <mat-error *ngIf="joinEventForm.get('name').hasError('required')">
                        Name is required*
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4">
                    <mat-form-field class="full-width">
                      <mat-label>Email: </mat-label>

                      <input
                        matInput
                        type="email"
                        name="email"
                        id="email"
                        formControlName="email"
                      />

                      <mat-error *ngIf="joinEventForm.get('email').hasError('required')">
                        Email is required*
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4">
                    <mat-form-field class="full-width">
                      <mat-label>Contact: </mat-label>

                      <input
                        matInput
                        type="text"
                        name="contact"
                        id="contact"
                        formControlName="contact"
                      />

                      <mat-error *ngIf="joinEventForm.get('contact').hasError('required')">
                        Contact is required*
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <button mat-raised-button color="primary" type="submit" class="rounded-btn">
                  {{ event.registration ? 'Update' : 'Register Now' }}
                </button>
              </form>

              <form
                (ngSubmit)="registerNow()"
                [formGroup]="joinEventForm"
                *ngIf="event.registrationType === 'team'"
              >
                <mat-form-field class="full-width">
                  <mat-label for="team-name">Team Name</mat-label>

                  <input
                    matInput
                    type="text"
                    name="teamName"
                    id="team-name"
                    formControlName="teamName"
                  />

                  <mat-error *ngIf="joinEventForm.get('teamName').hasError('required')">
                    Team Name is required*
                  </mat-error>
                </mat-form-field>

                <ng-container
                  *ngFor="
                    let teamMember of joinEventForm.get('teamMembers')['controls'];
                    let i = index
                  "
                >
                  <div class="row" [formGroup]="teamMember">
                    <div class="col-12">
                      <span>Team Member {{ i + 1 }} Details: </span>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                        <mat-label>Name: </mat-label>

                        <input
                          matInput
                          type="text"
                          name="name-{{ i }}"
                          id="name-{{ i }}"
                          formControlName="name"
                        />

                        <mat-error *ngIf="teamMember.get('name').hasError('required')">
                          Name is required*
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                        <mat-label>Email: </mat-label>

                        <input
                          matInput
                          type="email"
                          name="email-{{ i }}"
                          id="email-{{ i }}"
                          formControlName="email"
                        />

                        <mat-error *ngIf="teamMember.get('email').hasError('required')">
                          Email is required*
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                        <mat-label>Contact: </mat-label>

                        <input
                          matInput
                          type="text"
                          name="contact-{{ i }}"
                          id="contact-{{ i }}"
                          formControlName="contact"
                        />

                        <mat-error *ngIf="teamMember.get('contact').hasError('required')">
                          Contact is required*
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </ng-container>

                <button mat-raised-button color="primary" type="submit" class="register-btn">
                  {{ event.registration ? 'Update' : 'Register Now' }}
                </button>
              </form>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #loadingSpinner>
  <div class="loading-container">
    <mat-spinner diameter="25"></mat-spinner>
  </div>
</ng-template>
