<span class="create-blog">
  <a class="btn-create-blog shadow-sm" routerLink="/saveBlog">
    <span class="icon">+</span>
    <span class="text">Write Blog</span>
  </a>
</span>

<div class="flex-container">
  <div class="primary-blog" (click)="openBlog(1)">
    <img src="https://picsum.photos/1500/600" />
    <div class="blog-details">
      <div class="blog-details-header">
        <span class="bold-text">Category</span>
        <span>Date</span>
        <span class="bold-text">Blog by</span>
      </div>
      <div>
        <h2>Blog Title</h2>
      </div>
      <div>Hello Text</div>
    </div>
  </div>

  <div class="blog" *ngFor="let blog of blogsList" (click)="openBlog(blog.id)">
    <div class="blog-image">
      <img src="{{ blog.blogImage }}" />
    </div>
    <div class="blog-details">
      <div class="blog-details-header">
        <span class="bold-text">{{ blog.blogCategory }}</span>
        <span>{{ blog.blogDate }}</span>
        <span class="bold-text">{{ blog.blogBy }}</span>
      </div>
      <div>
        <h2>{{ blog.blogTitle }}</h2>
      </div>
      <div>
        {{ blog.blogDescription }}
      </div>
    </div>
  </div>
</div>
