<div class="blog-container">
  <div class="blog-header-container">
    <div class="blog-btn float-right">
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="save-blog-btn"
        (click)="submitBlog()"
        [disabled]="submit"
      >
        <span class="">Save</span>
      </button>
    </div>

    <h2 class="header-title">{{ blog ? 'Edit' : 'Create' }} Blog</h2>

    <div class="blog-header-image-container">
      <img
        class="blog-header-image"
        [src]="headerImagePreview"
        alt=""
        onerror="this.src='./../../../assets/images/no-image.jpg'"
      />

      <ng-container *ngIf="true">
        <input
          type="file"
          accept=".jpg,.png,.jpeg"
          #headerImagePicker
          (change)="onImagePicked($event)"
        />

        <div class="header-image-btn" (click)="headerImagePicker.click()">
          <i class="fa fa-edit"></i>
          &nbsp;Edit Header Image
        </div>
      </ng-container>
    </div>

    <div class="input-blog-tag">
      <mat-form-field class="full-width tag-input">
        <mat-label for="tag">Tag</mat-label>

        <input
          class="tag"
          matInput
          type="text"
          name="tag"
          id="tag"
          #tag
          (keyup.enter)="addTag($event.target)"
          maxlength="25"
        />
        <mat-icon class="add-tag-btn" matTooltip="Add Tag" matSuffix (click)="addTag(tag)">
          add
        </mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="blog-tags" *ngIf="tags.length > 0">
    <mat-chip-list>
      <mat-chip class="btn-tag" *ngFor="let tag of tags; let i = index">
        {{ tag | uppercase }}
        <mat-icon class="icon" matTooltip="Remove Tag" (click)="removeTag(i)"> close </mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <form class="blog-form-container" [formGroup]="blogForm">
    <div class="row">
      <div class="col-12">
        <mat-form-field class="full-width title">
          <mat-label for="title">Title</mat-label>

          <input
            matInput
            type="text"
            name="title"
            id="title"
            maxlength="75"
            formControlName="title"
          />

          <mat-error *ngIf="blogForm.get('title').hasError('required')"
            >Title is required*</mat-error
          >
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field class="full-width sub-title">
          <mat-label for="sub-title">Subtitle</mat-label>

          <textarea
            matInput
            type="text"
            name="subtitle"
            id="sub-title"
            maxlength="150"
            formControlName="subtitle"
            rows="2"
          ></textarea>

          <mat-error *ngIf="blogForm.get('subtitle').hasError('required')">
            Subtitle is required*
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12">
        <br />
        <ckeditor
          matInput
          class="description"
          tagName="textarea"
          [config]="ckeditorConfig"
          name="description"
          id="description"
          formControlName="description"
          [editor]="classicEditor"
          (ready)="onReady($event)"
        ></ckeditor>

        <mat-error
          style="display: block; text-align: left; font-size: 80%"
          *ngIf="
            blogForm.get('description').touched && blogForm.get('description').hasError('required')
          "
        >
          Description is required*
        </mat-error>
      </div>
    </div>
  </form>
</div>
