<div class="blog-container">
  <mat-card class="blog-card" *ngIf="!loading">
    <mat-card-header>
      <mat-card-title>
        <span>&nbsp;{{ blog ? 'Edit' : 'Create' }} Blog</span>

        <!-- <span class="float-right pointer">
        <mat-icon (click)="close()">close</mat-icon>
      </span> -->
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row text-center">
        <div class="col-12">
          <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step [editable]="!submit" [stepControl]="detailsForm">
              <ng-template matStepLabel>
                <span class="hide-on-mobile">Details</span>
              </ng-template>
              <form [formGroup]="detailsForm">
                <div class="form-fields">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <mat-label for="title">Title</mat-label>

                        <input
                          matInput
                          type="text"
                          name="title"
                          id="title"
                          formControlName="title"
                        />

                        <mat-error *ngIf="detailsForm.get('title').hasError('required')"
                          >Title is required*</mat-error
                        >
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <mat-label for="sport">Sport</mat-label>

                        <mat-select formControlName="sport" name="sport" id="sport">
                          <mat-option
                            *ngFor="let sport of sports; let i = index"
                            [value]="sport._id"
                          >
                            {{ sport.sport }}
                          </mat-option>
                        </mat-select>

                        <mat-error *ngIf="detailsForm.get('sport').hasError('required')">
                          Sports is required*
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-12">
                      <mat-form-field class="full-width">
                        <mat-label for="sub-title">Subtitle</mat-label>

                        <textarea
                          matInput
                          type="text"
                          name="subtitle"
                          id="sub-title"
                          formControlName="subtitle"
                          rows="2"
                        ></textarea>

                        <mat-error *ngIf="detailsForm.get('subtitle').hasError('required')"
                          >Subtitle is required*</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <button
                      mat-raised-button
                      matStepperNext
                      color="primary"
                      class="control-btn float-right"
                    >
                      Next
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>

            <mat-step [editable]="!submit" [stepControl]="blogForm">
              <ng-template matStepLabel>
                <span class="hide-on-mobile">Write a Blog </span>
              </ng-template>

              <form [formGroup]="blogForm">
                <div class="form-fields">
                  <div class="row">
                    <div class="col-12">
                      <br />
                      <ckeditor
                        matInput
                        tagName="textarea"
                        [config]="ckeditorConfig"
                        name="description"
                        id="description"
                        formControlName="description"
                        [editor]="classicEditor"
                        (ready)="onReady($event)"
                      ></ckeditor>

                      <mat-error
                        style="display: block; text-align: left; font-size: 80%"
                        *ngIf="
                          blogForm.get('description').touched &&
                          blogForm.get('description').hasError('required')
                        "
                      >
                        Description is required*
                      </mat-error>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <button
                      mat-raised-button
                      matStepperNext
                      color="primary"
                      class="control-btn float-right"
                    >
                      Next
                    </button>
                    <button mat-button matStepperPrevious class="control-btn float-left">
                      Previous
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>

            <mat-step [editable]="!submit">
              <ng-template matStepLabel>
                <span class="hide-on-mobile">Header Images</span>
              </ng-template>

              <ng-container>
                <div class="form-fields">
                  <div class="row" *ngIf="!loadingImages; else loadingImagesData">
                    <div class="col-12 text-left">
                      <input
                        class="blog-images-file-picker form-control"
                        type="file"
                        name="blogImages"
                        id="blogImages"
                        multiple
                        #blogImages
                        (change)="onImagePicked($event)"
                      />

                      <span class="input-error" *ngIf="invalidImage">
                        *Please Select a Valid Image File
                      </span>

                      <div class="row">
                        <div class="col-12">
                          <ng-container
                            *ngIf="blogImagePreview.length > 0 || (blog && blog.images.length > 0)"
                          >
                            <span
                              class="image-container"
                              *ngFor="let image of blogImagePreview; let i = index"
                            >
                              <img [src]="image" class="image" [alt]="" loading="lazy" />

                              <div class="middle">
                                <a class="remove" (click)="removeImage(i)"
                                  ><i class="fa fa-trash-o trash"></i>
                                </a>
                                <a class="view" (click)="openImageModel(image)">
                                  <i class="fa fa-eye eye"></i>
                                </a>
                              </div>
                            </span>

                            <ng-container *ngIf="blog">
                              <div
                                class="image-container"
                                *ngFor="let image of blog.images; let i = index"
                              >
                                <img
                                  [src]="image.secureUrl"
                                  class="image"
                                  [alt]="image.imageName"
                                  loading="lazy"
                                />

                                <div class="middle">
                                  <a class="remove" (click)="deleteImage(blog._id, image._id, i)">
                                    <i class="fa fa-trash-o trash"></i>
                                  </a>
                                  <a class="view" (click)="openImageModel(image.secureUrl)">
                                    <i class="fa fa-eye eye"></i>
                                  </a>
                                </div>
                              </div>
                            </ng-container>
                          </ng-container>

                          <span
                            class="image-container"
                            matTooltip="Upload Image"
                            (click)="blogImages.click()"
                          >
                            <img
                              src="./../../../assets/images/upload-image.png"
                              class="image-upload"
                              alt="Upload Image"
                              loading="lazy"
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <button
                      mat-raised-button
                      matStepperNext
                      color="primary"
                      class="control-btn float-right"
                    >
                      Next
                    </button>

                    <button mat-button matStepperPrevious class="control-btn float-left">
                      Previous
                    </button>
                  </div>
                </div>
              </ng-container>
            </mat-step>

            <mat-step [editable]="!submit">
              <ng-template matStepLabel>
                <span class="hide-on-mobile">Submit</span>
              </ng-template>

              <div class="form-fields">
                <div class="row" *ngIf="!submit; else loadingSpinner">
                  <div class="col-12">
                    <h4 class="text-center">You are now done.</h4>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <button
                    mat-raised-button
                    color="primary"
                    type="button"
                    class="control-btn float-right"
                    (click)="submitBlog()"
                    [disabled]="submit"
                  >
                    <span class=""> {{ blog ? 'Save' : 'Create' }}</span>
                    <!-- <mat-spinner [diameter]="20" *ngIf="submit"></mat-spinner> -->
                  </button>

                  <button mat-button matStepperPrevious class="control-btn float-left">
                    Previous
                  </button>
                </div>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loadingSpinner>
  <div class="loading-container">
    <mat-spinner diameter="25"></mat-spinner>
  </div>
</ng-template>

<ng-template #loadingImagesData>
  <div class="loading-container">
    <mat-spinner diameter="25"></mat-spinner>
    <div class="text-center">
      <p>Loading Images.., Please Wait...</p>
    </div>
  </div>
</ng-template>
