.row {
  margin: 0;
  padding: 0;

  .col-md-12,
  .col-12 {
    margin: 0;
    padding: 0;
  }
}

::ng-deep .ck-content {
  height: 80vh;
}

.blog-container {
  padding: 1rem 5rem 5rem 5rem;
  background-color: #fff;
  position: relative;

  input[type='file'] {
    display: none;
  }

  .blog-header-container {
    .header-title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .blog-btn {
      float: right;

      .save-blog-btn {
        padding: 0 1.5rem;
        height: 2rem;
        font-size: 0.9rem;
        line-height: 0.9rem;

        &:focus {
          outline: none !important;
        }
      }
    }

    .blog-header-image-container {
      position: relative;
      margin-bottom: 1rem;
      background-color: #ddd;

      .header-image-btn {
        position: absolute;
        top: 2rem;
        left: 2rem;
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
        border-radius: 0.25rem;
        padding: 0.5rem;
        cursor: pointer;
      }

      .blog-header-image {
        height: 20rem;
        width: 100%;
        background-size: cover;
        object-fit: cover;
      }
    }

    .input-blog-tag {
      width: 40%;
      margin: 0 0 0 auto;

      .tag-input {
        font-size: 1rem;
      }

      .add-tag-btn {
        cursor: pointer;
        margin-left: 0.5rem;
        height: 1.25rem;
        width: 1.25rem;
        font-size: 1.25rem;
      }
    }
  }

  .blog-tags {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;

    .btn-tag {
      font-size: 1rem;

      .icon {
        cursor: pointer;
        margin-left: 0.5rem;
        height: 1.25rem;
        width: 1.25rem;
        font-size: 1.25rem;
      }
    }
  }

  .blog-form-container {
    width: 80%;
    margin: 0 auto;

    .title {
      font-size: 1.2rem;
    }

    .sub-title {
      font-size: 0.9rem;
    }
  }
}

@media only screen and(max-width:900px) {
  .blog-container {
    padding: 0.875rem 4.25rem 4.25rem 4.25rem;

    .blog-header-container {
      .header-title {
        font-size: 1.875rem;
        margin-bottom: 0.875rem;
      }

      .blog-btn {
        .save-blog-btn {
          padding: 0 1.375rem;
          height: 1.875rem;
          font-size: 0.85rem;
          line-height: 0.85rem;
        }
      }

      .blog-header-image-container {
        margin-bottom: 0.875rem;

        .header-image-btn {
          top: 1.75rem;
          left: 1.75rem;
          padding: 0.4325rem;
        }

        .blog-header-image {
          height: 18.75rem;
        }
      }

      .input-blog-tag {
        width: 50%;

        .tag-input {
          font-size: 0.95rem;
        }

        .add-tag-btn {
          margin-left: 0.4375rem;
          height: 1.1875rem;
          width: 1.1875rem;
          font-size: 1.1875rem;
        }
      }
    }

    .blog-tags {
      width: 92.5%;
      padding-bottom: 0.875rem;

      .btn-tag {
        font-size: 0.95rem;

        .icon {
          margin-left: 0.4375rem;
          height: 1.1875rem;
          width: 1.1875rem;
          font-size: 1.1875rem;
        }
      }
    }

    .blog-form-container {
      width: 85%;

      .title {
        font-size: 1.15rem;
      }

      .sub-title {
        font-size: 0.85rem;
      }
    }
  }
}

@media only screen and(max-width:767px) {
  .blog-container {
    padding: 0.75rem 3.5rem 3.5rem 3.5rem;

    .blog-header-container {
      .header-title {
        font-size: 1.75rem;
        margin-bottom: 0.75rem;
      }

      .blog-btn {
        .save-blog-btn {
          padding: 0 1.25rem;
          height: 1.75rem;
          font-size: 0.8rem;
          line-height: 0.8rem;
        }
      }

      .blog-header-image-container {
        margin-bottom: 0.75rem;

        .header-image-btn {
          top: 1.5rem;
          left: 1.5rem;
          padding: 0.375rem;
        }

        .blog-header-image {
          height: 17.5rem;
        }
      }

      .input-blog-tag {
        width: 60%;

        .tag-input {
          font-size: 0.9rem;
        }

        .add-tag-btn {
          margin-left: 0.375rem;
          height: 1.125rem;
          width: 1.125rem;
          font-size: 1.125rem;
        }
      }
    }

    .blog-tags {
      width: 95%;
      padding-bottom: 0.75rem;

      .btn-tag {
        font-size: 0.9rem;

        .icon {
          margin-left: 0.375rem;
          height: 1.125rem;
          width: 1.125rem;
          font-size: 1.125rem;
        }
      }
    }

    .blog-form-container {
      width: 90%;

      .title {
        font-size: 1.1rem;
      }

      .sub-title {
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and(max-width:600px) {
  .blog-container {
    padding: 0.625rem 2rem 2rem 2rem;

    .blog-header-container {
      .header-title {
        font-size: 1.625rem;
        margin-bottom: 0.625rem;
      }

      .blog-btn {
        .save-blog-btn {
          padding: 0 1.125rem;
          height: 1.625rem;
          font-size: 0.75rem;
          line-height: 0.75rem;
        }
      }

      .blog-header-image-container {
        margin-bottom: 0.625rem;

        .header-image-btn {
          top: 1.25rem;
          left: 1.25rem;
          padding: 0.3125rem;
        }

        .blog-header-image {
          height: 16.25rem;
        }
      }

      .input-blog-tag {
        width: 80%;

        .tag-input {
          font-size: 0.85rem;
        }

        .add-tag-btn {
          margin-left: 0.3125rem;
          height: 1.0625rem;
          width: 1.0625rem;
          font-size: 1.0625rem;
        }
      }
    }

    .blog-tags {
      width: 97.5%;
      padding-bottom: 0.625rem;

      .btn-tag {
        font-size: 0.85rem;

        .icon {
          margin-left: 0.3125rem;
          height: 1.0625rem;
          width: 1.0625rem;
          font-size: 1.0625rem;
        }
      }
    }

    .blog-form-container {
      width: 95%;

      .title {
        font-size: 1.05rem;
      }

      .sub-title {
        font-size: 0.75rem;
      }
    }
  }
}

@media only screen and(max-width:400px) {
  .blog-container {
    padding: 0.5rem;

    .blog-header-container {
      .header-title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      .blog-btn {
        .save-blog-btn {
          padding: 0 1rem;
          height: 1.5rem;
          font-size: 0.7rem;
          line-height: 0.7rem;
        }
      }

      .blog-header-image-container {
        margin-bottom: 0.5rem;

        .header-image-btn {
          top: 1rem;
          left: 1rem;
          border-radius: 0.125rem;
          padding: 0.25rem;
        }

        .blog-header-image {
          height: 15rem;
        }
      }

      .input-blog-tag {
        width: 100%;

        .tag-input {
          font-size: 0.8rem;
        }

        .add-tag-btn {
          margin-left: 0.25rem;
          height: 1rem;
          width: 1rem;
          font-size: 1rem;
        }
      }
    }

    .blog-tags {
      width: 100%;
      padding-bottom: 0.5rem;

      .btn-tag {
        font-size: 0.8rem;

        .icon {
          margin-left: 0.25rem;
          height: 1rem;
          width: 1rem;
          font-size: 1rem;
        }
      }
    }

    .blog-form-container {
      width: 100%;

      .title {
        font-size: 1rem;
      }

      .sub-title {
        font-size: 0.7rem;
      }
    }
  }
}
