<div class="like-container">
  <div mat-dialog-content class="">
    <span class="float-right pointer close" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </span>

    <h2 mat-dialog-title>Team Players</h2>

    <hr />

    <div>
      <div class="row">
        <div class="col-md-10 col-sm-12 mx-auto table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>#</th>
                <th>User</th>
                <th>Email</th>
                <th>Contact</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let teamMember of data.teamMembers; let i = index">
                <td>
                  {{ i + 1 }}
                </td>
                <td>
                  <span> {{ teamMember.name | capitalizeEachWord }}</span>
                </td>
                <td>{{ teamMember.email }}</td>
                <td>
                  {{ teamMember.contact }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <br />
      </div>
    </div>
  </div>
</div>
