<div class="like-container">
  <div mat-dialog-content class="">
    <span class="float-right pointer close" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </span>

    <h2 mat-dialog-title>Team Players</h2>

    <hr />

    <div>
      <mat-list role="team-members">
        <mat-list-item
          *ngFor="let teamMember of data.teamMembers; let i = index"
          role="team-member"
        >
          <div class="team-member-card">
            <div class="team-member-name">
              {{ teamMember.name | capitalizeEachWord }}
            </div>

            <div class="team-member-email">
              <em>{{ teamMember.email }}</em>
            </div>

            <div class="team-member-contact">
              {{ teamMember.contact }}
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
