<div class="loading-comments" *ngIf="commentsLoading">
  <mat-spinner style="margin: 0 auto"></mat-spinner>
</div>

<div class="comment-container" *ngIf="!commentsLoading">
  <!-- <img class="comment-image" [src]="data.imageUrl"  loading="lazy" /> -->
  <div class="comments-list-container">
    <div *ngIf="comments && comments.length > 0; else noComments">
      <div
        class="singe-comment-container"
        *ngFor="let singleComment of comments; let commentIndex = index"
      >
        <div class="user-details">
          <div class="profile-icon">
            <img
              class="profile-image"
              [src]="singleComment.userImageURL"
              onerror="this.src='../../../assets/images/user.png'"
            />
          </div>

          <div class="user-sub-details">
            <div class="name">{{ singleComment.name | capitalizeEachWord }}</div>

            <div class="comment-time">
              <i class="fa fa-clock-o icon-blue mr-2"></i>{{ singleComment.createdAt | amTimeAgo }}
            </div>
          </div>
        </div>

        <div class="comment-text">
          <div class="comment">
            {{ singleComment.comment }}
          </div>

          <div class="action-links">
            <span class="pr-2" (click)="replyComment(singleComment._id, singleComment.name)">
              <i class="fa fa-reply icon-yellow" aria-hidden="true"></i>
              <span class="">&nbsp;Reply</span>
            </span>

            <span
              class="pr-2"
              (click)="
                likeUnlikeComment(singleComment._id, singleComment.alreadyLiked, commentIndex)
              "
            >
              <i
                class="fa fa-thumbs-up"
                [ngClass]="[singleComment.alreadyLiked ? 'icon-blue' : 'icon-grey']"
                aria-hidden="true"
              ></i>
              <span class="">&nbsp;{{ singleComment.alreadyLiked ? 'Liked' : 'Like' }}</span>
            </span>

            <span
              *ngIf="mySportizenId == singleComment.sportizenId"
              class="pr-2"
              (click)="deleteComment(singleComment._id, commentIndex)"
            >
              <i class="fa fa-trash icon-red" aria-hidden="true"></i>
              <span class="">&nbsp;Delete</span>
            </span>

            <span
              class="float-right comment-likes"
              (click)="viewCommentLikeDetails(singleComment._id)"
              *ngIf="singleComment.postCommentLikes > 0"
            >
              <span
                >{{ singleComment.postCommentLikes ? singleComment.postCommentLikes : 0 }}&nbsp;
              </span>

              <i class="fa fa-thumbs-up icon-blue" aria-hidden="true"></i>
            </span>
          </div>

          <div
            class="reply-comment"
            data-toggle="collapse"
            [attr.data-target]="'#viewReply' + commentIndex"
            *ngIf="singleComment.postReplyComments"
            (click)="viewCommentDetails(singleComment._id, commentIndex)"
          >
            <span class="">
              ------- View {{ singleComment.postReplyComments }}&nbsp;{{
                singleComment.postReplyComments > 1 ? 'Replies' : 'Reply'
              }}
            </span>
          </div>

          <!--reply comment div start-->
          <div id="{{ 'viewReply' + commentIndex }}" class="collapse">
            <div
              *ngFor="
                let singleReplyComment of singleComment.replyComments;
                let replyCommentIndex = index
              "
              class="reply-comment-container"
            >
              <div class="reply-user-details">
                <div class="reply-profile-icon">
                  <img
                    class="profile-image"
                    [src]="singleReplyComment.userImageURL"
                    onerror="this.src='../../../assets/images/user.png'"
                  />
                </div>

                <div class="reply-user-sub-details">
                  <div class="name">{{ singleReplyComment.name | capitalizeEachWord }}</div>

                  <div class="comment-time">
                    <i class="fa fa-clock-o icon-blue mr-2"></i>
                    <span class="">{{ singleReplyComment.createdAt | amTimeAgo }}</span>
                  </div>
                </div>
              </div>

              <div class="reply-comment-text">
                <div class="comment">
                  <span class=""> {{ singleReplyComment.replyComment }}</span>
                </div>

                <div class="action-links">
                  <span
                    class="pr-2"
                    (click)="replyComment(singleComment._id, singleReplyComment.name)"
                  >
                    <i class="fa fa-reply icon-yellow" aria-hidden="true"></i>
                    <span class="">&nbsp;Reply</span>
                  </span>

                  <span
                    class="pr-2"
                    (click)="
                      likeUnlikeReplyComment(
                        singleComment._id,
                        singleReplyComment._id,
                        singleReplyComment.alreadyLiked,
                        commentIndex,
                        replyCommentIndex
                      )
                    "
                  >
                    <i
                      class="fa fa-thumbs-up"
                      [ngClass]="[singleReplyComment.alreadyLiked ? 'icon-blue' : 'icon-grey']"
                      aria-hidden="true"
                    >
                    </i>
                    <span class=""
                      >&nbsp;{{ singleReplyComment.alreadyLiked ? 'Liked' : 'Like' }}</span
                    >
                  </span>

                  <span
                    *ngIf="mySportizenId == singleReplyComment.sportizenId"
                    class="pr-2"
                    (click)="
                      deleteReplyComment(singleReplyComment._id, commentIndex, replyCommentIndex)
                    "
                  >
                    <i class="fa fa-trash icon-red" aria-hidden="true"></i>
                    <span class="">&nbsp;Delete</span>
                  </span>

                  <span
                    class="float-right reply-comment-likes"
                    (click)="viewReplyCommentLikeDetails(singleComment._id, singleReplyComment._id)"
                    *ngIf="singleReplyComment.postReplyCommentLikes > 0"
                  >
                    <span>
                      {{
                        singleReplyComment.postReplyCommentLikes
                          ? singleReplyComment.postReplyCommentLikes
                          : 0
                      }}
                      &nbsp;
                    </span>
                    <i class="fa fa-thumbs-up icon-blue" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!--reply comment div end-->
        </div>
      </div>
    </div>

    <ng-template #noComments>
      <p class="text-center">You are the first one to comment</p>
    </ng-template>
  </div>

  <div class="post-comment-input">
    <mat-form-field class="full-width">
      <mat-label>Comment</mat-label>
      <textarea
        rows="2"
        matInput
        [(ngModel)]="postComment"
        #commentInput
        (ngModelChange)="updateReplyCommentFlag()"
      ></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="float-right btn-post"
      (click)="submitComment()"
    >
      Post
    </button>
  </div>
</div>
