<div class="loading-comments" *ngIf="commentsLoading">
  <mat-spinner style="margin: 0 auto"></mat-spinner>
</div>

<div class="comment-container" *ngIf="!commentsLoading">
  <!-- <img class="comment-image" [src]="data.imageUrl" /> -->
  <div class="comments-list-container">
    <div *ngIf="comments && comments.length > 0; else noComments">
      <div
        class="singe-comment-container"
        *ngFor="let singleComment of comments; let commentIndex = index"
      >
        <div class="profile-icon">
          <img
            class="profile-image"
            [src]="singleComment.userImageURL"
            onerror="this.src='../../../assets/images/user.png'"
          />
        </div>

        <div class="comment-text">
          <div>
            <span class="name">{{ singleComment.name }}</span>

            <span class="comment-time"
              ><i class="fa fa-clock-o icon-blue mr-2"></i
              >{{ singleComment.createdAt | amTimeAgo }}</span
            >
          </div>

          <div class="comment">
            {{ singleComment.comment }}
          </div>

          <div class="action-links">
            <span class="pr-2" (click)="replyComment(singleComment._id, singleComment.name)">
              <i class="fa fa-reply icon-yellow pr-2" aria-hidden="true"></i>
              <span class="">Reply</span>
            </span>

            <span
              class="pr-2"
              (click)="
                likeUnlikeComment(singleComment._id, singleComment.alreadyLiked, commentIndex)
              "
            >
              <i
                [ngClass]="[
                  singleComment.alreadyLiked
                    ? 'fa fa-thumbs-up icon-blue pr-2'
                    : 'fa fa-thumbs-up icon-grey pr-2'
                ]"
                aria-hidden="true"
              ></i>
              <span class="">{{ singleComment.alreadyLiked ? 'Liked' : 'Like' }}</span>
            </span>

            f.9po
            <span
              *ngIf="mySportizenId == singleComment.sportizenId"
              class="pr-2"
              (click)="deleteComment(singleComment._id, commentIndex)"
            >
              <i class="fa fa-trash icon-red pr-2" aria-hidden="true"></i>
              <span class="">Delete</span>
            </span>
          </div>

          <div
            class="reply-comment"
            data-toggle="collapse"
            [attr.data-target]="'#viewReply' + commentIndex"
            *ngIf="singleComment.postReplyComments"
            (click)="viewCommentDetails(singleComment._id, commentIndex)"
          >
            <span class=""> ------- View {{ singleComment.postReplyComments }} Replies</span>
          </div>

          <!--reply comment div start-->
          <div id="{{ 'viewReply' + commentIndex }}" class="collapse">
            <div
              *ngFor="
                let singleReplyComment of singleComment.replyComments;
                let replyCommentIndex = index
              "
            >
              <div class="reply-comment-container">
                <div class="reply-profile-icon">
                  <img
                    class="profile-image"
                    [src]="singleReplyComment.userImageURL"
                    onerror="this.src='../../../assets/images/user.png'"
                  />
                </div>

                <div class="reply-comment-text">
                  <div>
                    <span class="name">{{ singleReplyComment.name }}</span>

                    <span class="comment-time">
                      <i class="fa fa-clock-o icon-blue mr-2"></i>
                      <span class="">{{ singleReplyComment.createdAt | amTimeAgo }}</span>
                    </span>
                  </div>

                  <div class="comment">
                    <span class=""> {{ singleReplyComment.replyComment }}</span>
                  </div>

                  <div class="action-links">
                    <span
                      class="pr-2"
                      (click)="replyComment(singleComment._id, singleReplyComment.name)"
                    >
                      <i class="fa fa-reply icon-yellow pr-2" aria-hidden="true"></i>
                      <span class="">Reply</span>
                    </span>

                    <span
                      class="pr-2"
                      (click)="
                        likeUnlikeReplyComment(
                          singleComment._id,
                          singleReplyComment._id,
                          singleReplyComment.alreadyLiked,
                          commentIndex,
                          replyCommentIndex
                        )
                      "
                    >
                      <i
                        [ngClass]="[
                          singleReplyComment.alreadyLiked
                            ? 'fa fa-thumbs-up icon-blue pr-2'
                            : 'fa fa-thumbs-up icon-grey pr-2'
                        ]"
                        aria-hidden="true"
                      >
                      </i>
                      <span class="">{{ singleReplyComment.alreadyLiked ? 'Liked' : 'Like' }}</span>
                    </span>

                    <span
                      *ngIf="mySportizenId == singleReplyComment.sportizenId"
                      class="pr-2"
                      (click)="
                        deleteReplyComment(singleReplyComment._id, commentIndex, replyCommentIndex)
                      "
                    >
                      <i class="fa fa-trash icon-red pr-2" aria-hidden="true"></i>
                      <span class="">Delete</span>
                    </span>

                    <span
                      class="float-right"
                      (click)="
                        viewReplyCommentLikeDetails(singleComment._id, singleReplyComment._id)
                      "
                    >
                      <span>
                        {{
                          singleReplyComment.postReplyCommentLikes
                            ? singleReplyComment.postReplyCommentLikes
                            : 0
                        }}
                      </span>
                      <i class="fa fa-thumbs-up icon-blue pl-2" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--reply comment div end-->
        </div>

        <span class="float-right comment-likes" (click)="viewCommentLikeDetails(singleComment._id)">
          <span>{{ singleComment.postCommentLikes ? singleComment.postCommentLikes : 0 }}</span>
          <i class="fa fa-thumbs-up icon-blue" aria-hidden="true"></i>
        </span>

        <div class="clearfix"></div>
      </div>
    </div>

    <ng-template #noComments>You are the first one to comment</ng-template>
  </div>

  <div class="post-comment-input">
    <mat-form-field class="full-width">
      <mat-label>Comment</mat-label>

      <textarea
        rows="2"
        matInput
        [(ngModel)]="postComment"
        #commentInput
        (ngModelChange)="updateReplyCommentFlag()"
      ></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" class="float-right" (click)="submitComment()">
      Post
    </button>
  </div>
</div>
