<div class="row">
  <div class="col-md-6">
    <h1
      class="heading"
      [ngClass]="isList ? 'pointer' : ''"
      (click)="isList ? viewEvent(event._id) : null"
    >
      {{ event.name | capitalizeEachWord }}
    </h1>
  </div>

  <div class="col-md-6">
    <div class="registered-user-container">
      <div class="register-user-label">
        <div>
          <strong>Registered Users: </strong>
        </div>
        <div class="number-of-members">
          {{ event.registrations.length }}/{{ event.noOfRegistrations }} Registrations
        </div>
      </div>

      <div class="joined-users-container">
        <div class="joined-users-image-container">
          <ng-container *ngIf="event.registrations.length > 0; else noRegistrations">
            <img
              class="joined-user"
              *ngFor="let user of getRegistrations(event.registrations)"
              [src]="user.userImageURL"
              [alt]="user.name"
              [matTooltip]="user.name | capitalizeEachWord"
              (click)="viewProfile(user.sportizenId)"
            />

            <span class="more-user-container" *ngIf="event.registrations.length > 6">
              <span class="more-joined-user">
                <strong>+{{ event.registrations.length - 6 }}</strong>
              </span>
            </span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 order-md-2">
    <div class="event-image-container" *ngIf="event.images.length > 0; else noImage">
      <div class="carousel-background">
        <div id="{{ 'event-image' }}" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li
              [attr.data-target]="'#event-image'"
              *ngFor="let image of event.images; let j = index"
              [attr.data-slide-to]="j"
              [ngClass]="j == 0 ? 'active' : ''"
            ></li>
          </ul>

          <div class="carousel-inner">
            <div
              class="carousel-item"
              *ngFor="let image of event.images; let k = index"
              [ngClass]="k == 0 ? 'item active' : 'item'"
            >
              <div class="image-container">
                <img class="image" [src]="image.secureUrl" [alt]="event.name" loading="lazy" />
              </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="{{ '#event-image' }}" data-slide="prev">
            <span class="fa fa-angle-left"></span>
          </a>

          <a class="carousel-control-next" href="{{ '#event-image' }}" data-slide="next">
            <span class="fa fa-angle-right"></span>
          </a>
        </div>
      </div>
    </div>

    <ng-template #noImage>
      <div class="no-image-container">No Images Available</div>
    </ng-template>
  </div>

  <div class="col-md-6 order-md-1">
    <div class="event-action">
      <mat-chip-list>
        <mat-chip class="event-type-box"
          >Event Type: {{ event.eventType | capitalizeEachWord }}</mat-chip
        >

        <ng-container *ngIf="sportizenId && isList; else loginForEventRegistration">
          <mat-chip
            class="join-event-box"
            *ngIf="event.createdBy !== sportizenId"
            (click)="joinEvent(event._id)"
          >
            {{ event.isRegistered ? 'Registered' : 'Join Event' }}
          </mat-chip>

          <ng-container *ngIf="event.createdBy === sportizenId">
            <mat-chip class="edit-chip" (click)="editEvent(event._id)">Edit</mat-chip>

            <mat-chip class="delete-chip" (click)="deleteEvent(event._id, event.createdBy)">
              Delete
            </mat-chip>
          </ng-container>
        </ng-container>

        <ng-template #loginForEventRegistration>
          <mat-chip
            class="join-event-box"
            *ngIf="!sportizenId"
            (click)="loginForJoinEvent(event._id)"
          >
            Join Event
          </mat-chip>
        </ng-template>
      </mat-chip-list>
    </div>

    <div class="created-user">
      <span class="image-container">
        <img
          [src]="event.createdUserImage"
          [alt]="event.createdUser"
          class="created-user-image"
          onerror="'./../../../../../assets/images/user.png'"
        />
      </span>

      <span class=""><strong>Created By :</strong></span>

      <span> {{ event.createdUser | capitalizeEachWord }}</span>

      <span class="created-at float-right">
        <i class="fa fa-clock-o icon-blue mr-2"></i>

        <time class="">{{ event.createdAt | amTimeAgo }}</time>
      </span>
    </div>

    <div class="schedule-container">
      <div class="border-box border-box-date">
        <div class="bold-text">
          <span class="">Start Date :</span>
        </div>

        <div>
          <i class="fa fa-calendar icon-yellow"></i>
          <time> {{ event.startDate | amCalendar: 'DD/MM/YYYY' }}</time>
        </div>
      </div>

      <div class="border-box border-box-date">
        <div class="bold-text">
          <span class=""> End Date :</span>
        </div>

        <div>
          <i class="fa fa-calendar icon-green"></i>
          <time> {{ event.registerTill | amCalendar: 'DD/MM/YYYY' }}</time>
        </div>
      </div>

      <div class="border-box border-box-date" *ngIf="event.time">
        <div class="bold-text">Time :</div>
        <div>
          <i class="fa fa-clock-o icon-blue"></i>
          <time> {{ event.time | clock12hr }}</time>
        </div>
      </div>
    </div>

    <div class="registration-close">
      <strong>Registration Closed on : </strong>
      {{ event.registerTill | amCalendar: 'DD/MM/YYYY' }}
    </div>

    <div class="description-container">
      <div class="bold-text">Description :</div>
      <p class="description" [ngClass]="isList ? 'description-less' : ''">
        {{ event.description }}
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
        passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions of Lorem Ipsum
      </p>
    </div>

    <div class="entry-container">
      <div class="border-box entry-box">
        <span class="bold-text">Entry Type : </span>

        <span class="">{{ event.registrationType | capitalizeEachWord }} Entry</span>
      </div>

      <div class="border-box entry-box">
        <span class="bold-text">Entry Fees : </span>

        <span class="">{{ event.fees ? (event.fees | amount) : 'free' }}</span>
      </div>
    </div>

    <div class="winning-container">
      <div class="winning-prize-box">
        <i class="fa fa-trophy icon-yellow" aria-hidden="true"></i>
        &nbsp;
        <span class="bold-text">Winning Prize : </span>

        <span class="">{{ event.winningPrice | amount }}</span>
      </div>
    </div>
  </div>
</div>

<ng-template #noRegistrations>
  <span>You are first to Register on This Event</span>
</ng-template>
