<div class="home-page-container">
  <mat-drawer-container class="side-nav-container" autosize>
    <mat-drawer
      #drawer
      class="side-nav-drawer"
      class="shadow"
      [opened]="screenWidth > responsiveWidth"
      [mode]="screenWidth > responsiveWidth ? 'side' : 'over'"
    >
      <!-- <div class="dummy-header">&nbsp;</div> -->

      <app-dashboard-side-nav></app-dashboard-side-nav>
    </mat-drawer>

    <mat-drawer-content id="dashboardContent">
      <nav id="dashboardLinks" class="dashboard-links-container">
        <ul class="dashboard-links">
          <li
            *ngFor="let navLink of navLinks"
            class="dashboard-link"
            [routerLink]="navLink.link"
            [matTooltip]="navLink.title"
            (click)="changeNavLink(navLink.title)"
            [ngClass]="activeNavLink === navLink.title ? 'active' : 'inactive '"
          >
            <i class="fa" [ngClass]="navLink.icon"> </i>
          </li>
        </ul>
      </nav>

      <div class="router-outlet">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

  <!-- <app-dashboard-chat></app-dashboard-chat> -->
</div>
