$primary-color: #05bae3;
$secondary-color: #075492;
$grey-color: #838383;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-page-container {
  position: relative;
  height: -webkit-calc(100% - 4rem);
  height: -moz-calc(100% - 4rem);
  height: calc(100% - 4rem);

  .side-nav-container {
    height: 100%;

    .side-nav-drawer {
      height: 100%;
    }
  }

  .dashboard-links-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 3rem;
    z-index: 1;
    background-color: #fff;
    visibility: visible;
    -webkit-box-shadow: 0 0.0625px 4px #8e8e8e;
    -moz-box-shadow: 0 0.0625px 4px #8e8e8e;
    box-shadow: 0 0.0625px 4px #8e8e8e;

    .dashboard-links {
      position: absolute;
      width: calc(80%);
      margin: 0 10%;
      list-style: none;

      .dashboard-link {
        width: calc(100% / 6);
        color: #8e8e8e;
        margin: 0.875rem auto;
        display: inline-block;
        text-align: center;
        font-size: 1.25rem;
        cursor: pointer;
        transition: all 0.25s;
      }

      .active {
        color: #05bae3;
      }

      .active:after {
        content: ' ';
        display: block;
        height: 0.125rem;
        border-radius: 0.0625rem;
        background-color: #075492;
        margin: 0 auto;
        margin-top: 0.75rem;
        animation: fadeIn 0.25s;
      }
    }
  }

  .router-outlet {
    margin-top: 0rem;
  }
}

.nav-up {
  opacity: 0;
  transition: all 0.125s;
  visibility: hidden;
  // display: none;
}

.disable-dashboard-link {
  display: none;
}

.enable-dashboard-link {
  display: inline-block;
}

.nav-down {
  opacity: 1;
  transition: all 0.125s;
  visibility: visible;
  // display: block;
}

@media only screen and (max-width: 900px) {
  .home-page-container {
    height: -webkit-calc(100% - 3.75rem);
    height: -moz-calc(100% - 3.75rem);
    height: calc(100% - 3.75rem);

    .dashboard-links-container {
      height: 3rem;

      .dashboard-links {
        width: calc(90%);
        margin: 0 5%;

        .dashboard-link {
          margin: 0.875rem auto;
          font-size: 1.1rem;
        }

        .active:after {
          height: 0.125rem;
          border-radius: 0.125rem;
          margin-top: 0.75rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .home-page-container {
    height: -webkit-calc(100% - 3.5rem);
    height: -moz-calc(100% - 3.5rem);
    height: calc(100% - 3.5rem);

    .dashboard-links-container {
      height: 2.5rem;

      .dashboard-links {
        width: calc(95%);
        margin: 0 2.5%;

        .dashboard-link {
          margin: 0.625rem auto;
          font-size: 1rem;
        }

        .active:after {
          content: ' ';
          height: 0.125rem;
          border-radius: 0.125rem;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-page-container {
    height: -webkit-calc(100% - 3.25rem);
    height: -moz-calc(100% - 3.25rem);
    height: calc(100% - 3.25rem);

    .dashboard-links-container {
      height: 2.25rem;

      .dashboard-links {
        width: calc(98%);
        margin: 0 1%;

        .dashboard-link {
          margin: 0.5625rem auto;
          font-size: 0.9rem;
        }

        .active:after {
          content: ' ';
          height: 0.125rem;
          border-radius: 0.125rem;
          margin-top: 0.325rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .home-page-container {
    height: -webkit-calc(100% - 3rem);
    height: -moz-calc(100% - 3rem);
    height: calc(100% - 3rem);

    .dashboard-links-container {
      height: 2rem;

      .dashboard-links {
        width: calc(100%);
        margin: 0 0;

        .dashboard-link {
          margin: 0.4rem auto;
          font-size: 0.8rem;
        }

        .active:after {
          height: 0.125rem;
          border-radius: 0.125rem;
          margin-top: 0.25rem;
        }
      }
    }
  }
}
