<div class="connection-list-container">
  <h2 class="bold-text">Your Connections</h2>
  <!-- <input type="text" class="search-bar" placeholder="Search Friends" /> -->
  <div class="row">
    <div class="col-12">
      <div class="connection-card" *ngFor="let searchResult of searchResults; let i = index">
        <mat-card>
          <mat-card-content>
            <img class="connection-photo" [src]="searchResult.userImageURL" />
            <div class="connection-details">
              <div
                class="connection-name"
                matTooltipHideDelay="100"
                [matTooltip]="searchResult.name"
              >
                {{ searchResult.name }}
              </div>
              <div class="connection-mutual-info">8 Mutual friends</div>
              <div
                class="connection-btn"
                [ngClass]="
                  searchResult.connectionStatus === 'following' ? 'connected' : 'not-connected'
                "
                (click)="
                  followUnfollow(
                    searchResult.name,
                    searchResult.sportizenId,
                    searchResult.connectionStatus,
                    i
                  )
                "
              >
                {{ searchResult.connectionStatus === 'following' ? 'Unfollow' : 'Follow' }}
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
