$primary-color: #05bae3;
$secondary-color: #075492;

.connected {
  background-color: white;
  color: $primary-color;
  border: 0.0625rem solid $primary-color;
}

.not-connected {
  background-color: $primary-color;
  color: white;
}

mat-card {
  padding: 0;
}

.connection-main-container {
  padding: 0 !important;
}

.connection-list-container {
  padding: 0 5rem;

  input[type='text'] {
    background-image: url('./../../../../../assets/search.png');
    background-size: 1rem 1rem;
    background-position: 0.75rem 0.5rem;
    background-repeat: no-repeat;
    padding: 0.75rem 1rem 0.5rem 2rem;
  }

  input[type='text']:focus {
    outline: none;
  }

  .search-bar {
    width: 75%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: lighten(#787878, 40%);
    border: none;
    margin: 0.4rem 0.5rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    font-family: Arial, FontAwesome;
  }

  .connection-container {
    display: inline-block;
    width: 50%;
    padding: 1rem;

    .connection-card {
      padding: 1rem;
    }
  }
}

@media only screen and (max-width: 900px) {
  .connection-list-container {
    padding: 0 1rem;
    font-size: 97.5%;

    .search-bar {
      width: 81.25%;
      padding: 0.375rem 0.875rem;
    }

    .connection-container {
      padding: 0.875rem;

      .connection-card {
        padding: 0.875rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .connection-list-container {
    font-size: 95%;
    padding: 0 3rem;

    .search-bar {
      width: 87.5%;
      padding: 0.25rem 0.75rem;
    }

    .connection-container {
      padding: 0.75rem;

      .connection-card {
        padding: 0.75rem;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .connection-list-container {
    font-size: 92.5%;
    padding: 0 2rem;

    .search-bar {
      width: 93.75%;
      padding: 0.125rem 0.625rem;
    }

    .connection-container {
      padding: 0.625rem;

      .connection-card {
        padding: 0.625rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .connection-list-container {
    .connection-container {
      display: block;
      margin: 0 auto;
      width: 75%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .connection-list-container {
    .connection-container {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 400px) {
  .connection-list-container {
    font-size: 90%;
    padding: 0 1rem;

    .search-bar {
      width: 100%;
      padding: 0rem 0.5rem;
    }

    .connection-container {
      width: 100%;
      padding: 0.5rem;

      .connection-card {
        padding: 0.5rem;
      }
    }
  }
}
