$primary-color: #05bae3;
$secondary-color: #075492;
$grey-color: #838383;

/*css related to upload buttons*/

.upload-text {
  display: inline-block;
  padding-bottom: 1rem;

  &::after {
    content: ' ';
    display: block;
    background-color: $primary-color;
    font-size: 2rem;
    // width: 20rem;
    height: 1.5px;
    margin: 4px auto 0;
  }
}

.upload-btn {
  padding: 0.2rem 0.5rem;
  margin: 0.3rem 2rem;
  border-radius: 0.3rem;
  display: inline-block;
  width: 7rem;

  i {
    padding: 0.2rem 0.5rem;
  }
}

.yellow {
  border: 2px solid #cfcf0b;

  i {
    color: #cfcf0b;
  }
}

.green {
  border: 2px solid green;

  i {
    color: green;
  }
}

.blue {
  border: 2px solid $primary-color;

  i {
    color: $primary-color;
  }
}

.upload-btn-text {
  display: inline-block;
}

@media only screen and (max-width: 900px) {
  .upload-text {
    font-size: 98%;
    padding-bottom: 1.25rem;

    &::after {
      font-size: 2rem;
      height: 1.5px;
      margin: 0.5 auto 0;
    }
  }

  .upload-btn {
    padding: 0.2rem 0.625rem;
    margin: 0.5rem 2rem;
    font-size: 98%;
    width: 6rem;

    i {
      padding-right: 0.5rem;
    }
  }

  .yellow {
    border: 2px solid #cfcf0b;
  }

  .green {
    border: 2px solid green;
  }

  .blue {
    border: 2px solid $primary-color;
  }
}

@media only screen and (max-width: 767px) {
  .upload-text {
    font-size: 95%;
    padding-bottom: 1.125rem;

    &::after {
      font-size: 1.875rem;
      height: 1.5px;
      margin: 0.5 auto 0;
    }
  }

  .upload-btn {
    padding: 0.175rem 0.615rem;
    margin: 0.5rem 1.875rem;
    font-size: 95%;
    width: 4rem;

    i {
      padding: 0.25rem 0.625rem;
    }
  }

  .yellow {
    border: 1.875px solid #cfcf0b;
  }

  .green {
    border: 1.875px solid green;
  }

  .blue {
    border: 1.875px solid $primary-color;
  }

  .upload-btn-text {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .upload-text {
    font-size: 90%;
    padding-bottom: 1rem;

    &::after {
      font-size: 1.75rem;
      height: 1.375px;
      margin: 0.375 auto 0;
    }
  }

  .upload-btn {
    padding: 0.15rem 0.5rem;
    margin: 0.45rem 1.75rem;
    font-size: 90%;
    width: 3rem;

    i {
      padding: 0.2rem 0.5rem;
    }
  }

  .yellow {
    border: 1.75px solid #cfcf0b;
  }

  .green {
    border: 1.75px solid green;
  }

  .blue {
    border: 1.75px solid $primary-color;
  }

  .upload-btn-text {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .upload-text {
    font-size: 80%;
    padding-bottom: 1rem;

    &::after {
      font-size: 1.5rem;
      height: 1.25px;
      margin: 0.25 auto 0;
    }
  }

  .upload-btn {
    padding: 0.1rem 0.375rem;
    margin: 0.3rem 1.5rem;
    font-size: 80%;
    width: 2.5rem;

    i {
      padding: 0.15rem 0.375rem;
    }
  }

  .yellow {
    border: 1.5px solid #cfcf0b;
  }

  .green {
    border: 1.5px solid green;
  }

  .blue {
    border: 1.5px solid $primary-color;
  }
}
