<div class="row event-container">
  <div class="col-12">
    <mat-card class="event-card" *ngIf="!loading">
      <mat-card-header>
        <mat-card-title>
          <i class="fa fa-plus-circle"></i>
          <span>&nbsp;{{ editingMode ? 'Edit' : 'Create' }} Event</span>

          <span class="float-right pointer">
            <mat-icon (click)="close()">close</mat-icon>
          </span>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="row text-center">
          <div class="col-12">
            <form (ngSubmit)="saveEvent()" [formGroup]="form">
              <div class="row">
                <div class="col-12">
                  <mat-form-field class="full-width">
                    <mat-label for="name">Name</mat-label>

                    <input matInput type="text" name="name" id="name" formControlName="name" />

                    <mat-error *ngIf="form.get('name').hasError('required')"
                      >Name is required*</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <mat-form-field class="full-width">
                    <mat-label for="description">Description</mat-label>

                    <textarea
                      rows="4"
                      matInput
                      type="text"
                      name="description"
                      id="description"
                      formControlName="description"
                    ></textarea>

                    <mat-error *ngIf="form.get('description').hasError('required')">
                      Description is required*
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label for="start-date">Start Date</mat-label>

                    <input
                      matInput
                      [matDatepicker]="startDatePicker"
                      name="startDate"
                      id="start-date"
                      formControlName="startDate"
                    />

                    <mat-datepicker-toggle
                      matSuffix
                      [for]="startDatePicker"
                    ></mat-datepicker-toggle>

                    <mat-datepicker #startDatePicker color="primary"></mat-datepicker>

                    <mat-error *ngIf="form.get('startDate').hasError('required')">
                      Start Date is required*
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label for="end-date">End Date</mat-label>

                    <input
                      matInput
                      [matDatepicker]="endDatePicker"
                      name="endDate"
                      id="end-date"
                      formControlName="endDate"
                    />

                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>

                    <mat-datepicker #endDatePicker color="primary"></mat-datepicker>

                    <mat-error *ngIf="form.get('endDate').hasError('required')">
                      End Date is required*
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label for="register-till">Registeration Closed on </mat-label>

                    <input
                      matInput
                      [matDatepicker]="registeredTill"
                      name="registerTill"
                      id="register-till"
                      formControlName="registerTill"
                    />

                    <mat-datepicker-toggle [for]="registeredTill" matSuffix></mat-datepicker-toggle>

                    <mat-datepicker #registeredTill> </mat-datepicker>

                    <mat-error *ngIf="form.get('registerTill').hasError('required')">
                      Registered Till is required*
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label for="sport">Sport</mat-label>

                    <mat-select formControlName="sport" name="sport" id="sport">
                      <mat-option *ngFor="let sport of sports; let i = index" [value]="sport._id">
                        {{ sport.sport }}</mat-option
                      >
                    </mat-select>

                    <mat-error *ngIf="form.get('sport').hasError('required')">
                      Sports is required*
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label for="registration-type"> Registration Type </mat-label>

                    <mat-select
                      formControlName="registrationType"
                      name="registrationType"
                      id="registration-type"
                    >
                      <mat-option value="0">Individual</mat-option>
                      <mat-option value="1">Team</mat-option>
                    </mat-select>

                    <mat-error *ngIf="form.get('registrationType').hasError('required')">
                      Registration Type is required*
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label for="no-of-players">No of Players</mat-label>

                    <input
                      matInput
                      type="number"
                      name="noOfPlayers"
                      id="no-of-players"
                      formControlName="noOfPlayers"
                    />

                    <mat-error *ngIf="form.get('noOfPlayers').hasError('required')">
                      No of Players is required*
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label for="winning-price">Winning Price</mat-label>

                    <input
                      matInput
                      type="number"
                      name="winningPrice"
                      id="winning-price"
                      formControlName="winningPrice"
                    />

                    <mat-error *ngIf="form.get('winningPrice').hasError('required')">
                      Winning Price is required*
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label for="fees">Fees</mat-label>

                    <input
                      matInput
                      type="number"
                      name="fees"
                      id="fees"
                      min="0"
                      formControlName="fees"
                    />
                    <mat-error *ngIf="form.get('fees').hasError('min')">
                      Fees should be More than 0*
                    </mat-error>

                    <mat-error *ngIf="form.get('fees').hasError('required')"
                      >Fees is required*</mat-error
                    >
                  </mat-form-field>
                </div>

                <div class="col-md-12">
                  <mat-form-field class="full-width">
                    <mat-label for="address">Address</mat-label>

                    <input
                      matInput
                      type="text"
                      name="address"
                      id="address"
                      formControlName="address"
                    />

                    <mat-error *ngIf="form.get('fees').hasError('required')">
                      Address is required*
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label for="state">State</mat-label>

                    <mat-select
                      formControlName="state"
                      name="state"
                      id="state"
                      (valueChange)="changeState($event)"
                    >
                      <mat-option value="">Select State</mat-option>
                      <mat-option *ngFor="let state of states" [value]="state.name">
                        {{ state.name }}
                      </mat-option>
                    </mat-select>

                    <mat-error *ngIf="form.get('state').hasError('required')">
                      State is required*
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label for="city">City</mat-label>

                    <mat-select
                      formControlName="city"
                      name="city"
                      id="city"
                      (valueChange)="changeCity($event)"
                    >
                      <mat-option value="">Select City</mat-option>
                      <mat-option *ngFor="let city of cities" [value]="city.name">
                        {{ city.name }}
                      </mat-option>
                    </mat-select>

                    <mat-error *ngIf="form.get('city').hasError('required')">
                      City is required*
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-left">
                  <input
                    class="event-images-file-picker form-control"
                    type="file"
                    name="eventImages"
                    id="eventImages"
                    multiple
                    #eventImages
                    (change)="onImagePicked($event)"
                  />

                  <button
                    type="button"
                    mat-raised-button
                    class="event-btn"
                    color="primary"
                    (click)="eventImages.click()"
                  >
                    <i class="fa fa-plus-circle"></i>
                    <span>&nbsp;Add Images</span>
                  </button>

                  <ng-template #noImagePicked>
                    <p class="d-inline-block ml-2">No Images Picked Yet</p>
                  </ng-template>

                  <span class="input-error" *ngIf="invalidImage">
                    *Please Select a Valid Image File
                  </span>

                  <div
                    class="row"
                    *ngIf="
                      eventImagePreview.length > 0 || (event && event.images.length > 0);
                      else noImagePicked
                    "
                  >
                    <div class="col-12">
                      <span
                        class="image-container"
                        *ngFor="let image of eventImagePreview; let i = index"
                      >
                        <img [src]="image" class="image" [alt]="" loading="lazy" />

                        <div class="middle">
                          <a class="remove" (click)="removeImage(i)"
                            ><i class="fa fa-trash-o trash"></i
                          ></a>
                        </div>
                      </span>

                      <ng-container *ngIf="event">
                        <div
                          class="image-container"
                          *ngFor="let image of event.images; let i = index"
                        >
                          <img
                            [src]="image.secureUrl"
                            class="image"
                            [alt]="image.imageName"
                            loading="lazy"
                          />

                          <div class="middle">
                            <a class="remove" (click)="deleteImage(event._id, image._id, i)">
                              <i class="fa fa-trash-o trash"></i>
                            </a>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    class="event-btn"
                    [disabled]="savingRecord"
                  >
                    <span class=""> {{ editingMode ? 'Save' : 'Create' }}</span>
                    <!-- <mat-spinner [diameter]="20" *ngIf="savingRecord"></mat-spinner> -->
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
