<div
  class="post"
  *ngIf="postService.postList && postService.postList.length > 0; else noPostsUploaded"
>
  <ng-container *ngFor="let post of postService.postList; let i = index">
    <app-post-details
      [post]="post"
      [index]="i"
      [isUserFeed]="isUserFeed"
      [sportizenId]="sportizenId"
    ></app-post-details>
  </ng-container>
</div>

<div class="loading-feed-container">
  <mat-spinner diameter="25" *ngIf="loadingFeed"></mat-spinner>
</div>

<ng-template #noPostsUploaded>
  <div class="no-posts text-center" *ngIf="!loadingFeed">
    <span>No Posts Uploaded</span>
  </div>
</ng-template>
