<div
  class="post"
  *ngIf="postService.postList && postService.postList.length > 0; else noPostsUploaded"
>
  <mat-card
    class="post-card"
    *ngFor="let post of postService.postList; let i = index"
    [id]="'p' + i"
  >
    <mat-card-content
      class="post-content"
      snInViewport
      (inViewportChange)="callViewPost(post._id, post.alreadyViewed, i, $event)"
      *ngIf="post.postType === 'shared'"
    >
      <span class="float-right post-action pointer"> ... </span>

      <div class="profile-icon" (click)="viewProfile(post.sportizenUser, i)">
        <img
          class="profile-image"
          [src]="post.userImageURL"
          onerror="this.src='../../../assets/images/user.png'"
        />
      </div>

      <div class="user-details">
        <div class="profile-name" (click)="viewProfile(post.sportizenUser, i)">
          <span class="">{{ post.userName }}</span>
        </div>

        <div class="clearfix"></div>

        <div class="">
          <i class="fa fa-clock-o icon-blue mr-2"></i>
          <span class="">{{ post.modifiedAt | amTimeAgo }}</span>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="post-description">
        <span class=""> {{ post.description }}</span>
      </div>

      <div class="post-image" *ngIf="post.secureUrl">
        <img [src]="post.secureUrl" *inView />
      </div>

      <div class="shared-post">
        <div class="profile-icon" (click)="viewProfile(post.sharedPost.sportizenUser, i)">
          <img
            class="profile-image"
            [src]="post.sharedPost.userImageURL"
            onerror="this.src='../../../assets/images/user.png'"
          />
        </div>

        <div class="user-details">
          <div class="profile-name" (click)="viewProfile(post.sharedPost.sportizenUser, i)">
            <span class=""> {{ post.sharedPost.userName }}</span>
          </div>

          <div class="clearfix"></div>

          <div class="">
            <i class="fa fa-clock-o icon-blue mr-2"></i>
            <span class="">{{ post.sharedPost.modifiedAt | amTimeAgo }}</span>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="post-description">
          <span class=""> {{ post.sharedPost.description }}</span>
        </div>

        <div class="post-image" *ngIf="post.sharedPost.secureUrl">
          <img [src]="post.sharedPost.secureUrl" *inView />
        </div>
      </div>

      <div>
        <span class="post-details" (click)="showViewDetails(post._id)" *ngIf="post.postViews">
          <i class="fa fa-eye icon-grey" aria-hidden="true"></i>
          <span class="">{{ post.postViews ? post.postViews : 0 }} Views</span>
        </span>

        <span class="post-details" (click)="showLikeDetails(post._id)" *ngIf="post.postLikes">
          <i class="fa fa-thumbs-up icon-grey" aria-hidden="true"></i>
          <span class=""> {{ post.postLikes ? post.postLikes : 0 }} Likes</span>
        </span>

        <span
          class="post-details"
          (click)="openCommentsSheet(post._id, post.secureUrl)"
          *ngIf="post.postComments"
        >
          <i class="fa fa-comment icon-grey" aria-hidden="true"></i>
          <span class="">{{ post.postComments ? post.postComments : 0 }} Comments</span>
        </span>
      </div>

      <hr />

      <div class="post-actions">
        <span
          class="post-action-btn"
          matRipple
          (click)="likeUnlikePost(post._id, post.alreadyLiked, i)"
        >
          <i
            [ngClass]="[
              post.alreadyLiked
                ? 'fa fa-thumbs-up icon-blue pr-2'
                : 'fa fa-thumbs-up icon-white pr-2'
            ]"
            aria-hidden="true"
          ></i>
          <span class="">{{ post.alreadyLiked ? 'Liked' : 'Like' }}</span>
        </span>

        <span
          class="post-action-btn"
          matRipple
          (click)="openCommentsSheet(post._id, post.secureUrl)"
        >
          <i class="fa fa-comment icon-yellow pr-2" aria-hidden="true"></i>
          <span class="">Comment</span>
        </span>

        <span class="post-action-btn" matRipple (click)="sharePost(post.sharedPost._id)">
          <i class="fa fa-share icon-green pr-2" aria-hidden="true"></i>
          <span class="">Share</span>
        </span>

        <span
          class="float-right pointer save-post"
          (click)="saveUnsavePost(post._id, post.alreadySaved, i)"
        >
          <i
            [ngClass]="[
              post.alreadySaved ? 'fa fa-bookmark icon-blue' : 'fa fa-bookmark icon-light-grey'
            ]"
            aria-hidden="true"
          ></i>
        </span>
      </div>
    </mat-card-content>

    <mat-card-content
      class="post-content"
      snInViewport
      (inViewportChange)="callViewPost(post._id, post.alreadyViewed, i, $event)"
      *ngIf="post.postType !== 'shared'"
    >
      <span class="float-right post-action pointer"> ... </span>

      <div class="profile-icon" (click)="viewProfile(post.sportizenUser, i)">
        <img
          class="profile-image"
          [src]="post.userImageURL"
          onerror="this.src='../../../assets/images/user.png'"
        />
      </div>

      <div class="user-details">
        <div class="profile-name" (click)="viewProfile(post.sportizenUser, i)">
          <span class=""> {{ post.userName }}</span>
        </div>

        <div class="clearfix"></div>

        <div class="">
          <i class="fa fa-clock-o icon-blue mr-2"></i>
          <span class="">{{ post.modifiedAt | amTimeAgo }}</span>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="post-description">
        <span class=""> {{ post.description }}</span>
      </div>

      <div class="post-image" *ngIf="post.secureUrl">
        <img [src]="post.secureUrl" *inView />
      </div>

      <div class="">
        <span class="post-details" (click)="showViewDetails(post._id)" *ngIf="post.postViews">
          <i class="fa fa-eye icon-grey" aria-hidden="true"></i>
          <span class=""> {{ post.postViews ? post.postViews : 0 }} Views</span>
        </span>

        <span class="post-details" (click)="showLikeDetails(post._id)" *ngIf="post.postLikes">
          <i class="fa fa-thumbs-up icon-grey" aria-hidden="true"></i>
          <span class=""> {{ post.postLikes ? post.postLikes : 0 }} Likes</span>
        </span>

        <span
          class="post-details"
          (click)="openCommentsSheet(post._id, post.secureUrl)"
          *ngIf="post.postComments"
        >
          <i class="fa fa-comment icon-grey" aria-hidden="true"></i>
          <span class=""> {{ post.postComments ? post.postComments : 0 }} Comments</span>
        </span>
      </div>

      <hr />

      <div class="post-actions">
        <span
          class="post-action-btn"
          matRipple
          (click)="likeUnlikePost(post._id, post.alreadyLiked, i)"
        >
          <i
            [ngClass]="[
              post.alreadyLiked
                ? 'fa fa-thumbs-up icon-blue pr-2'
                : 'fa fa-thumbs-up icon-white pr-2'
            ]"
            aria-hidden="true"
          >
          </i>
          <span class="">{{ post.alreadyLiked ? 'Liked' : 'Like' }}</span>
        </span>

        <span
          class="post-action-btn"
          matRipple
          (click)="openCommentsSheet(post._id, post.secureUrl)"
        >
          <i class="fa fa-comment icon-yellow pr-2" aria-hidden="true"></i>
          <span class="">Comment</span>
        </span>

        <span class="post-action-btn" matRipple (click)="sharePost(post._id)">
          <i class="fa fa-share icon-green pr-2" aria-hidden="true"></i>
          <span class="">Share</span>
        </span>

        <span
          class="float-right pointer save-post"
          (click)="saveUnsavePost(post._id, post.alreadySaved, i)"
        >
          <i
            [ngClass]="[
              post.alreadySaved ? 'fa fa-bookmark icon-blue' : 'fa fa-bookmark icon-light-grey'
            ]"
            aria-hidden="true"
          ></i>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #noPostsUploaded
  ><div class="no-posts">
    <span>No Posts Uploaded</span>
  </div>
</ng-template>
