$primary-color: #05bae3;

.row {
  margin: 0;
  padding: 0;
  width: 100%;

  .col-md-6,
  .col-12 {
    margin: 0;
    padding: 0;
  }
}

.loading-event-container {
  mat-spinner {
    margin: 0.5rem auto;
  }
}

.create-event {
  width: auto;
  height: 2.5rem;

  .btn-create-event {
    text-decoration: none;
    position: fixed;
    display: inline-flex;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
    font-size: 1.25rem;
    text-align: center;
    align-items: center;
    outline: none;
    background-color: #07bae3;
    color: #fff;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0rem;
    border-radius: 2.5rem;
    overflow: hidden;
    transition: all 0.25s;

    .icon {
      padding: 0 0.875rem;
      display: flex;
      align-items: center;
      font-weight: bold;
    }

    .text {
      white-space: nowrap;
      display: none;
      font-size: 1rem;
      padding-right: 0.875rem;
    }
  }

  .btn-create-event:hover {
    width: 9.5rem;
    transform: scale(1.025);

    .text {
      display: inline;
    }
  }
}

.event-image-container {
  position: relative;
  height: 15rem;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
    url('./../../../assets/images/cover-image.jpg');
  background-size: cover;
  object-fit: cover;
  background-position: center;
  // background-attachment: fixed;

  .cover-text {
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    bottom: 3rem;
    left: 4rem;
  }
}

.event-list {
  width: 100%;
}

.events-container {
  padding: 1rem;

  .event-card {
    margin: 1rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
  }
}

@media only screen and(max-width:900px) {
  .event-image-container {
    height: 13.75rem;

    .cover-text {
      font-size: 2.75rem;
      bottom: 2.75rem;
      left: 3.5rem;
    }
  }

  .events-container {
    padding: 0.75rem;

    .event-card {
      margin: 0.75rem auto;
      border-radius: 1.5rem;
    }
  }
}

@media only screen and(max-width:767px) {
  .event-image-container {
    height: 12.5rem;

    .cover-text {
      font-size: 2.5rem;
      bottom: 2.5rem;
      left: 3rem;
    }
  }

  .events-container {
    padding: 0.75rem;

    .event-card {
      margin: 0.75rem auto;
      border-radius: 1.5rem;
    }
  }
}

@media only screen and(max-width:600px) {
  .event-image-container {
    height: 11.25rem;

    .cover-text {
      font-size: 2.25rem;
      bottom: 2.25rem;
      left: 2.5rem;
    }
  }

  .events-container {
    padding: 0.625rem;

    .event-card {
      margin: 0.625rem auto;
      border-radius: 1.25rem;
    }
  }
}

@media only screen and(max-width:400px) {
  .event-image-container {
    height: 10rem;

    .cover-text {
      font-size: 2rem;
      bottom: 2rem;
      left: 2rem;
    }
  }

  .events-container {
    padding: 0.5rem;

    .event-card {
      margin: 0.5rem auto;
      border-radius: 0.5rem;
    }
  }
}
