<span class="create-event" *ngIf="sportizenId && type === 'list'">
  <a class="btn-create-event shadow-sm" (click)="newEvent()">
    <span class="icon">+</span>
    <span class="text">Create Event</span>
  </a>
</span>

<div class="event-image-container shadow-sm">
  <div class="cover-text">{{ type | capitalizeEachWord }} Event</div>
</div>

<div class="event-list" *ngIf="loading || events.length > 0; else noEvents">
  <div class="row events-container">
    <div class="col-12">
      <mat-card class="event-card" *ngFor="let event of events; let i = index">
        <mat-card-content>
          <app-event-details
            [eventDetails]="event"
            [isList]="true"
            [listType]="type"
            (deletedEvent)="deleteEvent($event)"
          ></app-event-details>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="loading-event-container">
  <mat-spinner diameter="25" *ngIf="loadingEvents"></mat-spinner>
</div>

<ng-template #noEvents>
  <h3 class="mt-3 text-center">
    <span>No Events Available</span>
  </h3>
</ng-template>
