<nav class=""></nav>
<header id="home" class="content-header">
  <nav class="sticky" id="nav">
    <div class="row">
      <div class="col-12">
        <a class="" routerLink="/home">
          <img
            class="logo"
            src="../../../assets/LOGO/white-1.png"
            alt="SPORTIZEN"
            title=""
            loading="lazy"
          />
        </a>
        <ul class="main-nav">
          <li><a class="js--nav-link" routerLink="/service">Our Offerings</a></li>
          <li><a class="js--nav-link" routerLink="/about">About Us</a></li>
          <li><a class="js--nav-link" routerLink="/contact">Contact Us</a></li>
          <li><a class="js--nav-link" routerLink="/login">Login</a></li>
        </ul>
        <a class="mobile-nan-icon js--nav-icon"><i class="fa fa-list"></i></a>
      </div>
    </div>
  </nav>
</header>
