<div class="profile-image-container">
  <ng-container *ngIf="!loading; else loadingData">
    <div class="row" *ngIf="gallery.length > 0; else noGallery">
      <div class="col-12 gallery-container">
        <div class="photo-box" *ngFor="let galleryImage of gallery; let i = index">
          <img
            class="photo"
            [src]="galleryImage.secureUrl"
            loading="lazy"
            (click)="openImageModel(galleryImage.secureUrl)"
          />
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loadingData>
  <div class="loading-container">
    <mat-spinner diameter="25"></mat-spinner>
  </div>
</ng-template>

<ng-template #noGallery>
  <div class="row">
    <div class="col-12">
      <p class="text-center">No Gallery</p>
    </div>
  </div>
</ng-template>
