.blog-container {
  width: 75%;
  height: max-content;
  margin: 1rem auto;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 1rem #bbb;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;

  .blog-image-container {
    display: block;
    position: relative;
    width: 100%;

    .blog-image {
      background-size: cover;
      object-fit: cover;
      width: 100%;
      max-height: 20rem;
    }
  }

  .blog-content {
    padding: 1.5rem 2.5rem;
    color: #000;

    .blog-header-data {
      display: block;

      .blog-title {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.75rem;
      }

      .blog-sub-title {
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 0.5rem 0;
      }

      .created-at {
        font-size: 1rem;
        font-weight: 500;
        color: #05bae3;
      }
    }

    .blog-author {
      display: block;
      margin: 1rem 0;

      .auther-heading {
        font-size: 1rem;
        font-weight: bold;

        &::after {
          display: block;
          margin: 0.125rem 0;
          height: 0.125rem;
          background-color: #05bae3;
          content: ' ';
          width: 2.5rem;
        }
      }

      .author-profile {
        display: block;
        padding: 0.5rem 0;

        .author-profile-image {
          display: inline-block;
          width: 3rem;
          height: 2.5rem;

          .profile-image {
            border-radius: 100%;
            border: 0.0625rem solid #05bae3;
            vertical-align: top;
            width: 2.5rem;
            height: 2.5rem;
          }
        }

        .author-profile-name {
          display: inline-block;
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }

    .blog-description {
      width: 100%;
      max-height: max-content;
    }

    .blog-tags {
      margin: 0.5rem;

      .tag {
        font-size: 1rem;
      }
    }
  }
}

@media screen and(max-width:900px) {
  .blog-container {
    width: 85%;
    margin: 0.75rem auto;

    .blog-image-container {
      .blog-image {
        max-height: 18.75rem;
      }
    }

    .blog-content {
      padding: 1.25rem 2.125rem;

      .blog-header-data {
        .blog-title {
          font-size: 1.375rem;
          line-height: 1.625rem;
        }

        .blog-sub-title {
          font-size: 0.9375rem;
          line-height: 1.375rem;
          margin: 0.4375rem 0;
        }

        .created-at {
          font-size: 0.9375rem;
        }
      }

      .blog-author {
        margin: 0.875rem 0;

        .auther-heading {
          font-size: 0.9375rem;

          &::after {
            width: 2.375rem;
          }
        }

        .author-profile {
          padding: 0.4375rem 0;

          .author-profile-image {
            width: 2.875rem;
            height: 2.375rem;

            .profile-image {
              width: 2.375rem;
              height: 2.375rem;
            }
          }

          .author-profile-name {
            font-size: 0.95rem;
          }
        }
      }

      .blog-tags {
        margin: 0.4375rem;

        .tag {
          font-size: 0.9375rem;
        }
      }
    }
  }
}

@media screen and(max-width:767px) {
  .blog-container {
    width: 90%;
    margin: 0.5rem auto;

    .blog-image-container {
      .blog-image {
        max-height: 17.5rem;
      }
    }

    .blog-content {
      padding: 1rem 1.75rem;

      .blog-header-data {
        .blog-title {
          font-size: 1.25rem;
          line-height: 1.5rem;
        }

        .blog-sub-title {
          font-size: 0.875rem;
          line-height: 1.125rem;
          margin: 0.375rem 0;
        }

        .created-at {
          font-size: 0.875rem;
        }
      }

      .blog-author {
        margin: 0.75rem 0;

        .auther-heading {
          font-size: 0.875rem;

          &::after {
            width: 2.25rem;
          }
        }

        .author-profile {
          padding: 0.375rem 0;

          .author-profile-image {
            width: 2.75rem;
            height: 2.25rem;

            .profile-image {
              width: 2.25rem;
              height: 2.25rem;
            }
          }

          .author-profile-name {
            font-size: 0.9rem;
          }
        }
      }

      .blog-tags {
        margin: 0.375rem;

        .tag {
          font-size: 0.875rem;
        }
      }
    }
  }
}

@media screen and(max-width:600px) {
  .blog-container {
    width: 95%;
    margin: 0.25rem auto;

    .blog-image-container {
      .blog-image {
        max-height: 16.25rem;
      }
    }

    .blog-content {
      padding: 0.75rem 1.375rem;

      .blog-header-data {
        .blog-title {
          font-size: 1.125rem;
          line-height: 1.375rem;
        }

        .blog-sub-title {
          font-size: 0.8125rem;
          line-height: 1.0625rem;
          margin: 0.3125rem 0;
        }

        .created-at {
          font-size: 0.8125rem;
        }
      }

      .blog-author {
        margin: 0.625rem 0;

        .auther-heading {
          font-size: 0.8125rem;

          &::after {
            width: 2.125rem;
          }
        }

        .author-profile {
          padding: 0.3125rem 0;

          .author-profile-image {
            width: 2.625rem;
            height: 2.125rem;

            .profile-image {
              width: 2.125rem;
              height: 2.125rem;
            }
          }

          .author-profile-name {
            font-size: 0.85rem;
          }
        }
      }

      .blog-tags {
        margin: 0.3125rem;

        .tag {
          font-size: 0.8125rem;
        }
      }
    }
  }
}

@media screen and(max-width:400px) {
  .blog-container {
    width: 100%;
    margin: 0rem auto;

    .blog-image-container {
      .blog-image {
        max-height: 15rem;
      }
    }

    .blog-content {
      padding: 0.5rem 1rem;

      .blog-header-data {
        .blog-title {
          font-size: 1rem;
          line-height: 1.25rem;
        }

        .blog-sub-title {
          font-size: 0.75rem;
          line-height: 1rem;
          margin: 0.25rem 0;
        }

        .created-at {
          font-size: 0.75rem;
        }
      }

      .blog-author {
        margin: 0.5rem 0;

        .auther-heading {
          font-size: 0.75rem;

          &::after {
            width: 2rem;
          }
        }

        .author-profile {
          padding: 0.25rem 0;

          .author-profile-image {
            width: 2.5rem;
            height: 2rem;

            .profile-image {
              width: 2rem;
              height: 2rem;
            }
          }

          .author-profile-name {
            font-size: 0.8rem;
          }
        }
      }

      .blog-tags {
        margin: 0.25rem;

        .tag {
          font-size: 0.75rem;
        }
      }
    }
  }
}
