<div class="blog-container" *ngIf="!loading">
  <div class="blog-image-container">
    <ng-container *ngIf="blog.secureUrl; else noImage">
      <div class="blog-image">
        <img class="image" [src]="blog.secureUrl" [alt]="blog.title" loading="lazy" />
      </div>
    </ng-container>

    <div class="blog-info">
      <div class="profile-image-container">
        <img class="profile-image" [src]="blog.createdUserImage" [alt]="blog.createdUser" />

        <div class="created-user">{{ blog.createdUser | capitalizeEachWord }}</div>

        <div class="created-at">
          <i class="fa fa-calendar icon-blue" aria-hidden="true"></i>
          {{ blog.createdAt | amCalendar }}
        </div>
      </div>
    </div>
  </div>

  <div class="blog-content">
    <h2 class="blog-title">{{ blog.title }}</h2>

    <div class="blog-subtitle">{{ blog.subtitle }}</div>

    <div class="blog-description ck-content" [innerHtml]="blog.description | safeHtml"></div>
  </div>
</div>

<ng-template #noImage>
  <div class="blog-image">
    <img
      class="image"
      src="../../../../../assets/images/blog.jpg"
      [alt]="blog.title"
      loading="lazy"
    />
  </div>
</ng-template>
