<div class="blog-container" *ngIf="!loading">
  <div class="blog-image-container" *ngIf="blog.secureUrl">
    <img class="blog-image" [src]="blog.secureUrl" [alt]="blog.title" loading="lazy" />
  </div>

  <div class="blog-content">
    <div class="blog-header-data">
      <div class="blog-title">
        {{ blog.title }}
      </div>

      <div class="blog-sub-title">
        {{ blog.subtitle }}
      </div>

      <div class="created-at">
        <i class="fa fa-calendar icon-blue" aria-hidden="true"></i>
        &nbsp;{{ blog.createdAt | amDateFormat: 'LL' }}
      </div>
    </div>

    <div class="blog-author">
      <div class="auther-heading">Written By:</div>

      <div class="author-profile">
        <div class="author-profile-image">
          <img class="profile-image" [src]="blog.userImageURL" [alt]="blog.userName" />
        </div>
        <div class="author-profile-name">
          {{ blog.userName | capitalizeEachWord }}
        </div>
      </div>
    </div>

    <hr />

    <div class="ck-content blog-description" [innerHtml]="blog.description | safeHtml"></div>

    <hr />

    <div class="blog-tags">
      <mat-chip-list>
        <mat-chip class="tag" *ngFor="let tag of blog.tags">
          {{ tag | uppercase }}
        </mat-chip>
      </mat-chip-list>
    </div>

    <hr />

    <div class="blog-actions" *ngIf="sportizenId">
      <span class="blog-action-btn">
        <span class="blog-action-icon" (click)="likeUnlikeBlog(blog._id, blog.alreadyLiked)">
          <i
            class="fa fa-thumbs-up"
            [ngClass]="[blog.alreadyLiked ? 'icon-blue' : 'icon-grey']"
            aria-hidden="true"
          ></i>
        </span>
        <span class="blog-action-text" (click)="showLikeDetails(blog._id)">
          {{ blog.blogLikes ? blog.blogLikes : 0 }}&nbsp;{{ blog.blogLikes > 1 ? 'Likes' : 'Like' }}
        </span>
      </span>

      <span class="blog-action-btn" (click)="openCommentsSheet(blog._id)">
        <span class="blog-action-icon">
          <i class="fa fa-comment icon-yellow" aria-hidden="true"></i>
        </span>
        <span class="blog-action-text">
          {{ blog.blogComments ? blog.blogComments : 0 }}&nbsp;{{
            blog.blogComments > 1 ? 'Comments' : 'Comment'
          }}
        </span>
      </span>

      <span class="blog-action-btn" (click)="showViewDetails(blog._id)">
        <span class="blog-action-icon">
          <i class="fa fa-eye icon-grey" aria-hidden="true"></i>
        </span>
        <span class="blog-action-text">
          {{ blog.blogViews ? blog.blogViews : 0 }}&nbsp;{{ blog.blogViews > 1 ? 'Views' : 'View' }}
        </span>
      </span>

      <span
        class="float-right pointer bookmark-blog"
        (click)="bookmarkBlog(blog._id, blog.alreadyBookmarked)"
      >
        <i
          [ngClass]="[
            blog.alreadyBookmarked ? 'fa fa-bookmark icon-blue' : 'fa fa-bookmark icon-light-grey'
          ]"
          aria-hidden="true"
        ></i>
      </span>
    </div>
  </div>
</div>

<ng-template #noImage>
  <div class="blog-image">
    <img
      class="image"
      src="../../../../../assets/images/blog.jpg"
      [alt]="blog.title"
      loading="lazy"
    />
  </div>
</ng-template>
