<div class="blog-container" *ngIf="!loading">
  <div class="blog-image-container" *ngIf="blog.secureUrl">
    <img class="blog-image" [src]="blog.secureUrl" [alt]="blog.title" loading="lazy" />
  </div>

  <div class="blog-content">
    <div class="blog-header-data">
      <div class="blog-title">
        {{ blog.title }}
      </div>

      <div class="blog-sub-title">
        {{ blog.subtitle }}
      </div>

      <div class="created-at">
        <i class="fa fa-calendar icon-blue" aria-hidden="true"></i>
        &nbsp;{{ blog.createdAt | amDateFormat: 'LL' }}
      </div>
    </div>

    <div class="blog-author">
      <div class="auther-heading">Written By:</div>

      <div class="author-profile">
        <div class="author-profile-image">
          <img class="profile-image" [src]="blog.createdUserImage" [alt]="blog.createdUser" />
        </div>
        <div class="author-profile-name">
          {{ blog.createdUser | capitalizeEachWord }}
        </div>
      </div>
    </div>

    <hr />

    <div class="ck-content blog-description" [innerHtml]="blog.description | safeHtml"></div>

    <hr />

    <div class="blog-tags">
      <mat-chip-list>
        <mat-chip class="tag" *ngFor="let tag of blog.tags">
          {{ tag | uppercase }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>

<ng-template #noImage>
  <div class="blog-image">
    <img
      class="image"
      src="../../../../../assets/images/blog.jpg"
      [alt]="blog.title"
      loading="lazy"
    />
  </div>
</ng-template>
