$dark-grey-color: #545454;
$light-grey-color: #dadada;

.blog-container {
  width: 75%;
  height: max-content;
  margin: 1rem auto;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 1rem $light-grey-color;

  .blog-image-container {
    display: block;
    position: relative;
    width: 100%;

    .blog-image {
      background-size: cover;
      object-fit: cover;
      width: 100%;
      max-height: 40vh;
      // max-height: 20rem;
    }
  }

  .blog-content {
    padding: 1.5rem 2.5rem;
    color: #000;

    .blog-header-data {
      display: block;

      .blog-title {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.75rem;
      }

      .blog-sub-title {
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 0.5rem 0;
      }

      .created-at {
        font-size: 1rem;
        font-weight: 500;
        color: #05bae3;
      }
    }

    .blog-auther-actions {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0.5rem 0rem;

      .blog-btn-container {
        .semi-rounded-btn {
          margin: 0;
          color: #fff;
          border: none;
        }

        .edit-btn {
          background-color: #054792;
        }

        .delete-btn {
          background-color: #da1b3e;
        }
      }
    }

    .blog-author {
      display: block;
      margin: 1rem 0;

      .auther-heading {
        font-size: 1rem;
        font-weight: bold;

        &::after {
          display: block;
          margin: 0.125rem 0;
          height: 0.125rem;
          background-color: #05bae3;
          content: ' ';
          width: 2.5rem;
        }
      }

      .author-profile {
        display: block;
        padding: 0.5rem 0;

        .author-profile-image {
          display: inline-block;
          width: 3rem;
          height: 2.5rem;

          .profile-image {
            border-radius: 100%;
            border: 0.0625rem solid #05bae3;
            vertical-align: top;
            width: 2.5rem;
            height: 2.5rem;
          }
        }

        .author-profile-name {
          display: inline-block;
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }

    .blog-description {
      width: 100%;
      max-height: max-content;
      font-size: 100%;
    }

    .blog-tags {
      margin: 0.5rem;

      .tag {
        cursor: pointer;
        font-size: 1rem;
      }
    }

    .blog-actions {
      margin: 0.5rem 0;

      .blog-action {
        border-radius: 0.5rem;
        padding: 0.2rem 0.4rem;
        margin-right: 0.5rem;
        display: inline-block;
        cursor: pointer;
      }

      .bookmark-blog {
        font-size: 1.25rem;
      }
    }

    .blog-comment-container {
      margin: 0.5rem 0;

      .blog-comment-input {
        margin: 1rem 0;

        .comment-input {
          font-size: 0.9rem;
          line-height: 1rem;
          // min-height: 2rem;
        }

        .submit-comment-btn {
          text-align: right;

          .control-btn {
            color: #fff;
            margin: 0 !important;
          }
        }
      }

      .comment-text {
        font-size: 1.5rem;
        margin: 0.5rem;
      }

      .blog-comment {
        display: block;
        padding: 1.5rem;
        border-bottom: 0.0625rem solid #dadada;

        .commented-user-image-container {
          display: inline-block;
          width: 4.5rem;
          height: 3.5rem;
          vertical-align: top;

          .commented-user-image {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 100%;
          }
        }

        .comment-details {
          display: inline-block;
          width: calc(100% - 4.5rem);

          .commented-user-name {
            display: block;
            font-size: 1rem;
            font-weight: bold;
          }

          .commented-on {
            display: block;
            font-size: 0.8rem;
            padding: 0.5rem 0;
            font-weight: 600;
            color: #787878;
          }

          .comment {
            display: block;
            font-size: 0.9 rem;
          }
        }
      }
    }
  }
}

@media screen and(max-width:900px) {
  .blog-container {
    width: 85%;
    margin: 0.75rem auto;

    .blog-image-container {
      .blog-image {
        max-height: 37.5vh;
        // max-height: 18.75rem;
      }
    }

    .blog-content {
      padding: 1.25rem 2rem;

      .blog-header-data {
        .blog-title {
          font-size: 1.375rem;
          line-height: 1.625rem;
        }

        .blog-sub-title {
          font-size: 0.9375rem;
          line-height: 1.375rem;
          margin: 0.4375rem 0;
        }

        .created-at {
          font-size: 0.9375rem;
        }
      }

      .blog-author {
        margin: 0.875rem 0;

        .auther-heading {
          font-size: 0.9375rem;

          &::after {
            width: 2.375rem;
          }
        }

        .author-profile {
          padding: 0.4375rem 0;

          .author-profile-image {
            width: 2.875rem;
            height: 2.375rem;

            .profile-image {
              width: 2.375rem;
              height: 2.375rem;
            }
          }

          .author-profile-name {
            font-size: 0.95rem;
          }
        }
      }

      .blog-description {
        font-size: 97.5%;
      }

      .blog-tags {
        margin: 0.4375rem;

        .tag {
          font-size: 0.9375rem;
        }
      }

      .blog-actions {
        margin-top: 0.45rem;

        .blog-action {
          font-size: 97.5%;
          border-radius: 0.45rem;
          padding: 0.175rem 0.4rem;
          margin-right: 0.45rem;
        }

        .bookmark-blog {
          font-size: 1.2rem;
        }
      }

      .blog-comment-container {
        margin: 0.4375rem 0;

        .blog-comment-input {
          margin: 0.875rem 0;

          .comment-input {
            font-size: 0.875rem;
            line-height: 0.975rem;
          }
        }

        .comment-text {
          font-size: 1.4375rem;
          margin: 0.4375rem;
        }

        .blog-comment {
          padding: 1.25rem;

          .commented-user-image-container {
            width: 4.25rem;
            height: 3.375rem;

            .commented-user-image {
              width: 3.375rem;
              height: 3.375rem;
            }
          }

          .comment-details {
            width: calc(100% - 4.25rem);

            .commented-user-name {
              font-size: 0.975rem;
            }

            .commented-on {
              font-size: 0.775rem;
              padding: 0.4375rem 0;
            }

            .comment {
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:767px) {
  .blog-container {
    width: 90%;
    margin: 0.5rem auto;

    .blog-image-container {
      .blog-image {
        max-height: 35vh;
        // max-height: 17.5rem;
      }
    }

    .blog-content {
      padding: 1rem 1.5rem;

      .blog-header-data {
        .blog-title {
          font-size: 1.25rem;
          line-height: 1.5rem;
        }

        .blog-sub-title {
          font-size: 0.875rem;
          line-height: 1.125rem;
          margin: 0.375rem 0;
        }

        .created-at {
          font-size: 0.875rem;
        }
      }

      .blog-author {
        margin: 0.75rem 0;

        .auther-heading {
          font-size: 0.875rem;

          &::after {
            width: 2.25rem;
          }
        }

        .author-profile {
          padding: 0.375rem 0;

          .author-profile-image {
            width: 2.75rem;
            height: 2.25rem;

            .profile-image {
              width: 2.25rem;
              height: 2.25rem;
            }
          }

          .author-profile-name {
            font-size: 0.9rem;
          }
        }
      }

      .blog-description {
        font-size: 95%;
      }

      .blog-tags {
        margin: 0.375rem;

        .tag {
          font-size: 0.875rem;
        }
      }

      .blog-actions {
        margin-top: 0.3875rem;

        .blog-action {
          font-size: 95%;
          border-radius: 0.3875rem;
          padding: 0.15rem 0.4rem;
          margin-right: 0.4125rem;
        }

        .bookmark-blog {
          font-size: 1.175rem;
        }
      }

      .blog-comment-container {
        margin: 0.375rem 0;

        .blog-comment-input {
          margin: 0.75rem 0;

          .comment-input {
            font-size: 0.85rem;
            line-height: 0.95rem;
          }
        }

        .comment-text {
          font-size: 1.375rem;
          margin: 0.375rem;
        }

        .blog-comment {
          padding: 1rem;

          .commented-user-image-container {
            width: 4rem;
            height: 3.25rem;

            .commented-user-image {
              width: 3.25rem;
              height: 3.25rem;
            }
          }

          .comment-details {
            width: calc(100% - 4rem);

            .commented-user-name {
              font-size: 0.95rem;
            }

            .commented-on {
              font-size: 0.75rem;
              padding: 0.375rem 0;
            }

            .comment {
              font-size: 0.85rem;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:600px) {
  .blog-container {
    width: 95%;
    margin: 0.25rem auto;

    .blog-image-container {
      .blog-image {
        max-height: 32.5vh;
        // max-height: 16.25rem;
      }
    }

    .blog-content {
      padding: 0.75rem 1rem;

      .blog-header-data {
        .blog-title {
          font-size: 1.125rem;
          line-height: 1.375rem;
        }

        .blog-sub-title {
          font-size: 0.8125rem;
          line-height: 1.0625rem;
          margin: 0.3125rem 0;
        }

        .created-at {
          font-size: 0.8125rem;
        }
      }

      .blog-author {
        margin: 0.625rem 0;

        .auther-heading {
          font-size: 0.8125rem;

          &::after {
            width: 2.125rem;
          }
        }

        .author-profile {
          padding: 0.3125rem 0;

          .author-profile-image {
            width: 2.625rem;
            height: 2.125rem;

            .profile-image {
              width: 2.125rem;
              height: 2.125rem;
            }
          }

          .author-profile-name {
            font-size: 0.85rem;
          }
        }
      }

      .blog-description {
        font-size: 92.5%;
      }

      .blog-tags {
        margin: 0.3125rem;

        .tag {
          font-size: 0.8125rem;
        }
      }

      .blog-actions {
        margin-top: 0.325rem;

        .blog-action {
          font-size: 92.5%;
          border-radius: 0.325rem;
          padding: 0.125rem 0.4rem;
          margin-right: 0.375rem;
        }

        .bookmark-blog {
          font-size: 1.15rem;
        }
      }

      .blog-comment-container {
        margin: 0.3125rem 0;

        .blog-comment-input {
          margin: 0.625rem 0;

          .comment-input {
            font-size: 0.825rem;
            line-height: 0.925rem;
          }
        }

        .comment-text {
          font-size: 1.3125rem;
          margin: 0.3125rem;
        }

        .blog-comment {
          padding: 0.75rem;

          .commented-user-image-container {
            width: 3.75rem;
            height: 3.125rem;

            .commented-user-image {
              width: 3.125rem;
              height: 3.125rem;
            }
          }

          .comment-details {
            width: calc(100% - 3.75rem);

            .commented-user-name {
              font-size: 0.925rem;
            }

            .commented-on {
              font-size: 0.725rem;
              padding: 0.3125rem 0;
            }

            .comment {
              font-size: 0.825rem;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:400px) {
  .blog-container {
    width: 100%;
    margin: 0rem auto;

    .blog-image-container {
      .blog-image {
        max-height: 30vh;
        // max-height: 15rem;
      }
    }

    .blog-content {
      padding: 0.5rem;

      .blog-header-data {
        .blog-title {
          font-size: 1rem;
          line-height: 1.25rem;
        }

        .blog-sub-title {
          font-size: 0.75rem;
          line-height: 1rem;
          margin: 0.25rem 0;
        }

        .created-at {
          font-size: 0.75rem;
        }
      }

      .blog-author {
        margin: 0.5rem 0;

        .auther-heading {
          font-size: 0.75rem;

          &::after {
            width: 2rem;
          }
        }

        .author-profile {
          padding: 0.25rem 0;

          .author-profile-image {
            width: 2.5rem;
            height: 2rem;

            .profile-image {
              width: 2rem;
              height: 2rem;
            }
          }

          .author-profile-name {
            font-size: 0.8rem;
          }
        }
      }

      .blog-description {
        font-size: 90%;
      }

      .blog-tags {
        margin: 0.25rem;

        .tag {
          font-size: 0.75rem;
        }
      }

      .blog-actions {
        margin-top: 0.25rem;

        .blog-action {
          font-size: 90%;
          border-radius: 0.25rem;
          padding: 0.1rem 0.4rem;
          margin-right: 0.3rem;
        }

        .bookmark-blog {
          font-size: 1rem;
        }
      }

      .blog-comment-container {
        margin: 0.25rem 0;

        .blog-comment-input {
          margin: 0.5rem 0;

          .comment-input {
            font-size: 0.8rem;
            line-height: 0.9rem;
          }
        }

        .comment-text {
          font-size: 1.25rem;
          margin: 0.25rem;
        }

        .blog-comment {
          padding: 0.5rem;

          .commented-user-image-container {
            width: 3.5rem;
            height: 3rem;

            .commented-user-image {
              width: 3rem;
              height: 3rem;
            }
          }

          .comment-details {
            width: calc(100% - 3.5rem);

            .commented-user-name {
              font-size: 0.9 rem;
            }

            .commented-on {
              font-size: 0.7rem;
              padding: 0.25rem 0;
            }

            .comment {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
