<div class="search-bar-container" *ngIf="!minified || isSearchBarOpen" [@searchBar]>
  <input
    type="text"
    class="search-bar"
    [formControl]="myControl"
    placeholder="Search People"
    [matAutocomplete]="auto"
    [ngClass]="minified ? 'on-mobile' : 'on-desktop'"
  />

  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngIf="isLoading" class="is-loading">
      <mat-spinner diameter="30"></mat-spinner>
    </mat-option>

    <ng-container *ngIf="!isLoading">
      <mat-option
        *ngFor="let option of filteredOptions"
        [value]="option"
        (click)="viewProfile(option.sportizenId)"
      >
        <img
          class="profile-icon"
          aria-hidden
          [src]="option.userImageURL"
          [alt]="option.name"
          onerror="this.src='../../assets/images/user.png'"
        />
        <span class="profile-name">{{ option.name | capitalizeEachWord }}</span>
        <span class="profile-name" *ngIf="option.connectionStatus">|</span>
        <small class="following-tag" *ngIf="option.connectionStatus">{{
          option.connectionStatus | capitalizeEachWord
        }}</small>
      </mat-option>

      <mat-option *ngIf="filteredOptions && filteredOptions.length > 0" (click)="allFriends()">
        <span class="show-all">{{ 'msg_show_all' | translate }}</span>
      </mat-option>
    </ng-container>
  </mat-autocomplete>

  <div
    class="back-icon-container"
    matTooltipPosition="right"
    matTooltipHideDelay="100"
    matTooltip="Back"
    (click)="toggleSearchBar()"
    *ngIf="minified && isSearchBarOpen"
  >
    <mat-icon class="back-icon icon-blue">arrow_back</mat-icon>
    <!-- <i class="back-icon fa fa-arrow-circle-left icon-blue" aria-hidden="true"></i> -->
  </div>
</div>

<div
  [@searchBarIcon]
  class="search-icon-container float-right"
  matTooltipPosition="right"
  matTooltipHideDelay="100"
  matTooltip="Search Sportizen"
  (click)="toggleSearchBar()"
  *ngIf="minified && !isSearchBarOpen"
  [ngClass]="minified ? 'on-mobile' : 'on-desktop'"
>
  <i class="fa fa-search search-icon" aria-hidden="true"></i>
</div>
