<div class="profile-details-container">
  <div class="cover-photo-container">
    <div class="edit-cover-photo-btn" (click)="coverPicPicker.click()">
      <i class="fa fa-edit mr-1"></i>Edit Cover Picture
    </div>

    <input type="file" #coverPicPicker (change)="onImagePicked($event, true)" />

    <img
      class="cover-photo"
      [src]="coverImagePreview"
      onerror="this.src='../../../../assets/images/user.png'"
    />

    <div class="profile-image">
      <input type="file" #profilePicPicker (change)="onImagePicked($event, false)" />

      <div class="edit-img-container mx-auto">
        <img [src]="profileImagePreview" onerror="this.src='../../../../assets/images/user.png'" />

        <div class="overlay">
          <span class="icon" title="User Profile" (click)="profilePicPicker.click()">
            <i class="fa fa-pencil"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="profile-name">{{ userProfile.name }}</div>

    <div class="edit-profile-btn float-right">
      <button mat-raised-button color="primary" class="semi-rounded-btn" (click)="editProfile()">
        <i class="fa fa-edit mr-2"></i>
        Edit Profile
      </button>
    </div>
  </div>

  <div class="profile-info-container">
    <div class="row">
      <div class="col-md-5">
        <mat-card class="custom-card">
          <mat-card-header>
            <mat-card-title class="intro-section-title">
              <span>Intro Section</span>
              <span class="float-right">
                <i class="fa fa-edit" *ngIf="!storyEdit" (click)="editStory()"></i>
                <i class="fa fa-save" *ngIf="storyEdit" (click)="saveStory()"></i>
              </span>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <mat-form-field class="full-width" *ngIf="storyEdit">
              <textarea rows="4" maxlength="500" matInput [(ngModel)]="story"></textarea>
            </mat-form-field>
            <span *ngIf="!storyEdit">{{ userProfile.story }}</span>
          </mat-card-content>
        </mat-card>

        <mat-card class="custom-card mt-4">
          <mat-card-header>
            <mat-card-title>
              <span>Photos</span>
              <span class="float-right">
                <div class="header-btn">See All</div>
              </span>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="row photos-container">
              <div class="col-md-4 photo-box">
                <img class="photo" src="https://picsum.photos/200" />
              </div>

              <div class="col-md-4 photo-box">
                <img class="photo" src="https://picsum.photos/200" />
              </div>

              <div class="col-md-4 photo-box">
                <img class="photo" src="https://picsum.photos/200" />
              </div>

              <div class="col-md-4 photo-box">
                <img class="photo" src="https://picsum.photos/200" />
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="custom-card mt-4">
          <mat-card-header>
            <mat-card-title>
              <span>621 Followers</span>
              <span class="float-right">
                <div class="header-btn">
                  <i class="fa fa-plus"></i>
                  Add Friends
                </div>
              </span>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content
            ><div class="row">
              <div class="col-md-6">
                <div class="friend-mini-card">
                  <img class="friend-mini-photo" src="https://picsum.photos/200" />

                  <div class="friend-mini-details">
                    <div class="friend-mini-name">John Doe</div>
                    <div class="friend-mini-mutual-info">8 mutual friends</div>
                    <div class="friend-mini-btn">Unfollow</div>
                  </div>

                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="friend-mini-card">
                  <img class="friend-mini-photo" src="https://picsum.photos/200" />

                  <div class="friend-mini-details">
                    <div class="friend-mini-name">John Doe</div>
                    <div class="friend-mini-mutual-info">8 mutual friends</div>
                    <div class="friend-mini-btn">Unfollow</div>
                  </div>

                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="friend-mini-card">
                  <img class="friend-mini-photo" src="https://picsum.photos/200" />

                  <div class="friend-mini-details">
                    <div class="friend-mini-name">John Doe</div>
                    <div class="friend-mini-mutual-info">8 mutual friends</div>
                    <div class="friend-mini-btn">Unfollow</div>
                  </div>

                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="friend-mini-card">
                  <img class="friend-mini-photo" src="https://picsum.photos/200" />

                  <div class="friend-mini-details">
                    <div class="friend-mini-name">John Doe</div>
                    <div class="friend-mini-mutual-info">8 mutual friends</div>
                    <div class="friend-mini-btn">Unfollow</div>
                  </div>

                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="custom-card mt-4">
          <mat-card-header>
            <mat-card-title>
              <span>632 Following</span>
              <span class="float-right">
                <div class="header-btn">
                  <i class="fa fa-plus"></i>
                  Add Friends
                </div>
              </span>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="row">
              <div class="col-md-6">
                <div class="friend-mini-card">
                  <img class="friend-mini-photo" src="https://picsum.photos/200" />

                  <div class="friend-mini-details">
                    <div class="friend-mini-name">John Doe</div>
                    <div class="friend-mini-mutual-info">8 mutual friends</div>
                    <div class="friend-mini-btn">Unfollow</div>
                  </div>

                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="friend-mini-card">
                  <img class="friend-mini-photo" src="https://picsum.photos/200" />

                  <div class="friend-mini-details">
                    <div class="friend-mini-name">John Doe</div>
                    <div class="friend-mini-mutual-info">8 mutual friends</div>
                    <div class="friend-mini-btn">Unfollow</div>
                  </div>

                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="friend-mini-card">
                  <img class="friend-mini-photo" src="https://picsum.photos/200" />

                  <div class="friend-mini-details">
                    <div class="friend-mini-name">John Doe</div>
                    <div class="friend-mini-mutual-info">8 mutual friends</div>
                    <div class="friend-mini-btn">Unfollow</div>
                  </div>

                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="friend-mini-card">
                  <img class="friend-mini-photo" src="https://picsum.photos/200" />

                  <div class="friend-mini-details">
                    <div class="friend-mini-name">John Doe</div>
                    <div class="friend-mini-mutual-info">8 mutual friends</div>
                    <div class="friend-mini-btn">Unfollow</div>
                  </div>

                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-7">
        <div class="my-posts">
          <app-dashboard-feed [isMyFeed]="true"></app-dashboard-feed>
        </div>
      </div>
    </div>
  </div>
</div>

<app-image-croper
  *ngIf="profilePicCropping"
  [image]="imagePreview"
  (close)="closeImageCropping()"
  (crop)="saveCroppedProfileImage($event)"
  [customSavedBtnName]="'Save'"
>
</app-image-croper>

<app-image-croper
  *ngIf="coverPicCropping"
  [image]="imagePreview"
  (close)="closeImageCropping()"
  (crop)="saveCroppedCoverImage($event)"
  [customAspectRatio]="3"
  [customSavedBtnName]="'Save'"
>
</app-image-croper>
