<div class="profile-details-container" *ngIf="!loading">
  <div class="cover-photo-container">
    <img
      class="cover-photo"
      [src]="userProfile.userCoverImageURL"
      loading="lazy"
      onerror="this.src='../../../../../assets/images/cover-image.jpg'"
    />

    <div class="profile-image">
      <div class="edit-img-container">
        <img
          [src]="userProfile.userImageURL"
          loading="lazy"
          onerror="this.src='../../../../../assets/images/user.png'"
        />
      </div>
    </div>

    <div class="profile-name">{{ userProfile.name | capitalizeEachWord }}</div>
  </div>

  <div class="connection-btn float-right">
    <button mat-raised-button color="primary" class="semi-rounded-btn" (click)="follow()">
      {{ connectionStatus }}
    </button>
  </div>

  <div class="profile-info-container">
    <div class="row">
      <div class="col-md-5">
        <mat-card class="user-info-card" *ngIf="userProfile.story">
          <mat-card-header>
            <mat-card-title>
              <span class="header-title">About Me</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="profile-info">
              {{ userProfile.story }}
            </p>
          </mat-card-content>
        </mat-card>

        <!-- <mat-card class="user-info-card">
          <mat-card-header>
            <mat-card-title>
              <span class="header-title">Photos</span>
              <span class="float-right">
                <div class="header-btn">See All</div>
              </span>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="row">
              <div class="col-12">
                <div class="photos-container">
                  <div class="photo-box">
                    <img class="photo" src="https://picsum.photos/200" loading="lazy" />
                  </div>

                  <div class="photo-box">
                    <img class="photo" src="https://picsum.photos/200" loading="lazy" />
                  </div>

                  <div class="photo-box">
                    <img class="photo" src="https://picsum.photos/200" loading="lazy" />
                  </div>

                  <div class="photo-box">
                    <img class="photo" src="https://picsum.photos/200" loading="lazy" />
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card> -->

        <mat-card class="user-info-card">
          <mat-card-header>
            <mat-card-title>
              <span class="header-title">{{ followers.length }} Followers</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content
            ><div class="row" *ngIf="followers.length > 0; else noFollowers">
              <div class="col-12">
                <div class="friend-mini-card" *ngFor="let follower of followers; let i = index">
                  <img
                    class="friend-mini-photo"
                    [src]="follower.userImageURL"
                    loading="lazy"
                    onerror="this.src='./../../../../../assets/images/user.png'"
                  />
                  <div class="friend-mini-details">
                    <div
                      class="friend-mini-name pointer"
                      (click)="viewProfile(follower.sportizenId)"
                    >
                      {{ follower.name | capitalizeEachWord }}
                    </div>
                    <div
                      class="friend-mini-mutual-info"
                      *ngIf="follower.sportizenId !== sportizenId"
                    >
                      {{ follower.mutuleConnections ? follower.mutuleConnections : 0 }} Mutual
                      Sportizen
                    </div>
                    <div
                      class="friend-mini-btn"
                      *ngIf="follower.sportizenId !== sportizenId"
                      [ngClass]="
                        follower.connectionStatus === 'following' ? 'connected' : 'not-connected'
                      "
                      (click)="
                        follower.connectionStatus === 'following'
                          ? unfollowUser(follower.name, follower.sportizenId)
                          : followUser(follower.name, follower.sportizenId)
                      "
                    >
                      {{ follower.connectionStatus === 'following' ? 'Unfollow' : 'Follow' }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="user-info-card">
          <mat-card-header>
            <mat-card-title>
              <span class="header-title">{{ followings.length }} Followings</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content
            ><div class="row" *ngIf="followings.length > 0; else noFollowings">
              <div class="col-12">
                <div class="friend-mini-card" *ngFor="let following of followings; let i = index">
                  <img
                    class="friend-mini-photo"
                    [src]="following.userImageURL"
                    loading="lazy"
                    onerror="this.src='./../../../../../assets/images/user.png'"
                  />
                  <div class="friend-mini-details">
                    <div
                      class="friend-mini-name pointer"
                      (click)="viewProfile(following.sportizenId)"
                    >
                      {{ following.name | capitalizeEachWord }}
                    </div>
                    <div
                      class="friend-mini-mutual-info"
                      *ngIf="following.sportizenId !== sportizenId"
                    >
                      {{ following.mutuleConnections ? following.mutuleConnections : 0 }} Mutual
                      Sportizen
                    </div>
                    <div
                      class="friend-mini-btn"
                      *ngIf="following.sportizenId !== sportizenId"
                      [ngClass]="
                        following.connectionStatus === 'following' ? 'connected' : 'not-connected'
                      "
                      (click)="
                        following.connectionStatus === 'following'
                          ? unfollowUser(following.name, following.sportizenId)
                          : followUser(following.name, following.sportizenId)
                      "
                    >
                      {{ following.connectionStatus === 'following' ? 'Unfollow' : 'Follow' }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-7">
        <div class="my-posts">
          <app-dashboard-feed [isUserFeed]="true" [userId]="userProfileId"></app-dashboard-feed>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noFollowers>
  <div class="row">
    <div class="col-12">
      <p class="text-center">No Followers</p>
    </div>
  </div>
</ng-template>

<ng-template #noFollowings>
  <div class="row">
    <div class="col-12">
      <p class="text-center">No Followings</p>
    </div>
  </div>
</ng-template>
