<div class="row">
  <div class="col-12">
    <h2>OUR OFFERINGS</h2>
  </div>
</div>

<br /><br />

<div class="service">
  <div class="row offering-container">
    <div class="col-md-4 text-center">
      <div class="card-box dark-card">
        <div class="card-logo">
          <i class="fa fa-users" aria-hidden="true"></i>
        </div>

        <div class="offering-card-header">Community Engagement</div>

        <div class="card-text">
          Sportizen strives hard to bring together all the stakeholders in Sports on one platform
          and create an Active Global Community.
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <div class="card-box light-card">
        <div class="card-logo">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>

        <div class="offering-card-header">Hosting Events</div>

        <div class="card-text">
          A Platform to host your Sports Events and scale your presence across the Sporting
          community.
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <div class="card-box dark-card">
        <div class="card-logo">
          <i class="fa fa-futbol-o" aria-hidden="true"></i>
        </div>

        <div class="offering-card-header">Connecting to sports</div>

        <div class="card-text">
          <!-- Sportizen is a platform where you can consult Sport Professionals across multiple
            verticals to help you or your organization. -->
          Sportizen is a one stop place for every sport to connect and stay updated.
        </div>
      </div>
    </div>
  </div>
</div>
