<div class="container">
  <mat-card class="event-card">
    <mat-card-header>
      <mat-card-title>Create Blog </mat-card-title>
    </mat-card-header>
    <mat-card-content class="blog-content">
      <form (ngSubmit)="saveBlog()" [formGroup]="form">
        <mat-form-field class="full-width">
          <mat-label for="name">Blog Title</mat-label>

          <input matInput type="text" name="title" id="title" formControlName="title" />

          <mat-error *ngIf="form.get('title').hasError('required')">Title is required*</mat-error>
        </mat-form-field>
        <div class="blog-image">
          <button mat-stroked-button type="button" class="mb-4" (click)="blogImages.click()">
            Add Blog Images
          </button>

          <input
            class="image-picker form-control"
            type="file"
            name="blogImages"
            id="blogImages"
            multiple
            #blogImages
            (change)="onImagePicked($event)"
          />

          <ng-template #noImagePicked>
            <p class="d-inline-block ml-2">No Images Picked Yet</p>
          </ng-template>

          <div class="input-error" *ngIf="invalidImage">*Please Select a Valid Image File</div>

          <div
            class="row"
            *ngIf="
              blogImagePreview.length > 0 || (blog && blog.images.length > 0);
              else noImagePicked
            "
          >
            <div class="col-12">
              <span class="image-container" *ngFor="let image of blogImagePreview; let i = index">
                <img [src]="image" class="image" [alt]="" loading="lazy" />

                <div class="middle">
                  <a class="remove" (click)="removeImage(i)"><i class="fa fa-trash-o trash"></i></a>
                </div>
              </span>

              <ng-container *ngIf="blog">
                <div class="image-container" *ngFor="let image of blog.images; let i = index">
                  <img
                    [src]="image.secureUrl"
                    class="image"
                    [alt]="image.imageName"
                    loading="lazy"
                  />

                  <div class="middle">
                    <a class="remove" (click)="deleteImage(blog._id, image._id, i)">
                      <i class="fa fa-trash-o trash"></i>
                    </a>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <ckeditor #myEditor [editor]="Editor" data="<p>Write Your Blog here....</p>"></ckeditor>

        <div class="mt-4">
          <button mat-raised-button color="primary" type="submit" class="event-btn">
            <span class=""> Save</span>
            <!-- <mat-spinner [diameter]="20" *ngIf="savingRecord"></mat-spinner> -->
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
