<div class="like-container">
  <span class="float-right pointer close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </span>

  <h2 mat-dialog-title *ngIf="likes && likes.length > 0">Likes</h2>

  <hr />

  <div mat-dialog-content class="mat-dialog-container-1">
    <div *ngIf="likes && likes.length > 0; else noLikes">
      <div *ngFor="let like of likes" class="user-container">
        <div class="profile-icon">
          <img
            class="profile-image"
            [src]="like.userImageURL"
            onerror="this.src='../../../assets/images/user.png'"
          />
        </div>

        <div class="user-details">
          <div class="user-name">
            <span class="">{{ like.name | capitalizeEachWord }}</span>
          </div>

          <div class="liked-at">
            <i class="fa fa-clock-o icon-blue mr-2"></i>
            <span class="">{{ like.createdAt | amTimeAgo }}</span>
          </div>
        </div>

        <br />
      </div>
    </div>

    <ng-template #noLikes>No Likes Yet</ng-template>
  </div>
</div>
