<div class="container pt-5 pb-5">
  <div class="row" *ngIf="!loading">
    <div class="col-12">
      <div class="row">
        <div class="col-md-6 col-10 mx-auto">
          <div class="card">
            <div class="card-header">
              <h2 class="form-heading-2">Reset Password</h2>
            </div>
            <div class="card-body">
              <form class="form reset-password-form" (submit)="reset()" [formGroup]="form">
                <div class="form-group">
                  <label for="password" class="input-label">Password</label>
                  <input
                    class="input-password form-control"
                    type="password"
                    id="password"
                    name="password"
                    formControlName="password"
                  />
                  <span
                    class="input-error"
                    *ngIf="!form.get('password').valid && form.get('password').touched"
                  >
                    *Please enter Password
                  </span>
                </div>

                <div class="form-group">
                  <label for="confirmPassword" class="input-label">Confirm Password</label>
                  <input
                    type="password"
                    id="confirmPassword"
                    name="confirmPassword"
                    formControlName="confirmPassword"
                    class="input-password form-control"
                  />
                  <span
                    class="input-error"
                    *ngIf="
                      !form.get('confirmPassword').valid && form.get('confirmPassword').touched
                    "
                  >
                    *Please Confirm Password
                  </span>

                  <span
                    class="input-error"
                    *ngIf="form.hasError('invalidPassword') && form.get('password').touched"
                    >*Password & Confirm Password Does Not Match</span
                  >
                </div>

                <hr />

                <div>
                  <button type="submit" class="btn btn-primary float-right">Reset</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
