<mat-card class="options-bar" *ngIf="!loading">
  <div class="user-header shadow-sm">
    <div class="cover-photo-container">
      <img
        class="cover-photo"
        [src]="userProfile.userCoverImageURL"
        onerror="this.src='./../../../assets/images/user.png'"
      />

      <img
        class="profile-image"
        [src]="userProfile.userImageURL"
        onerror="this.src='./../../../../assets/images/user.png'"
      />
    </div>

    <div class="profile-details-container">
      <h2>{{ userProfile.name | capitalizeEachWord }}</h2>

      <p class="profile-id">@{{ userProfile.sportizenId }}</p>

      <span class="profile-desc">{{ userProfile.story }}</span>

      <div class="profile-status-container">
        <div class="profile-status">
          <div>{{ 'msg_followers' | translate }}</div>

          <span>{{ userProfile.followersCount ? userProfile.followersCount : 0 }}</span>
        </div>

        <div class="divider"></div>

        <div class="profile-status">
          <div>{{ 'msg_followings' | translate }}</div>

          <span>{{ userProfile.followingsCount ? userProfile.followingsCount : 0 }}</span>
        </div>
      </div>

      <!-- <div class="">
      <button mat-raised-button color="primary" class="rounded-btn">
        <span class=""> View Profile</span>
      </button>
    </div> -->

      <div class="profile-btn-container">
        <button
          mat-raised-button
          color="primary"
          class="profile-btn"
          (click)="navigateTo('/dashboard/profile')"
        >
          <i class="fa fa-user"></i>

          <span class="">&nbsp;My Profile</span>
        </button>
      </div>
    </div>
  </div>

  <div class="options">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <span class="option-header-title"> Events</span>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item class="clickable" matRipple (click)="navigateTo('/dashboard/event')">
          <h3 matLine>
            <i class="fa fa-link list-icon icon-grey"></i>

            <span class=""> {{ 'msg_event' | translate }}</span>
          </h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item class="clickable" matRipple (click)="navigateTo('/dashboard/event/new')">
          <h3 matLine>
            <i class="fa fa-plus-circle list-icon icon-yellow"></i>

            <span class=""> {{ 'msg_create' | translate }}</span>

            <span class=""> {{ 'msg_event' | translate }}</span>
          </h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item class="clickable" matRipple (click)="navigateTo('/dashboard/event/manage')">
          <h3 matLine>
            <i class="fa fa-pencil list-icon icon-red"></i>

            <span class=""> {{ 'msg_manage' | translate }}</span>

            <span class=""> {{ 'msg_event' | translate }}</span>
          </h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item class="clickable" matRipple (click)="navigateTo('/dashboard/event/joined')">
          <h3 matLine>
            <i class="fa fa-link list-icon icon-green"></i>

            <span class=""> {{ 'msg_join' | translate }}</span>

            <span class=""> {{ 'msg_event' | translate }}</span>
          </h3>
        </mat-list-item>

        <mat-divider></mat-divider>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <span class="option-header-title"> Blogs</span>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item class="clickable" matRipple (click)="navigateTo('/dashboard/blog')">
          <h3 matLine>
            <i class="fa fa-link list-icon icon-grey"></i>

            <span class=""> {{ 'msg_blog' | translate }}</span>
          </h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item class="clickable" matRipple (click)="navigateTo('/dashboard/blog/new')">
          <h3 matLine>
            <i class="fa fa-plus-circle list-icon icon-yellow"></i>

            <span class=""> {{ 'msg_create' | translate }}</span>

            <span class=""> {{ 'msg_blog' | translate }}</span>
          </h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item class="clickable" matRipple (click)="navigateTo('/dashboard/blog/manage')">
          <h3 matLine>
            <i class="fa fa-pencil list-icon icon-red"></i>

            <span class=""> {{ 'msg_manage' | translate }}</span>

            <span class=""> {{ 'msg_blog' | translate }}</span>
          </h3>
        </mat-list-item>

        <mat-divider></mat-divider>
      </mat-list>
    </mat-expansion-panel>

    <!-- <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header >
        <span class="option-header-title"> Connect to Sports Professionals</span>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item class="clickable" matRipple>
          <h3 matLine>
            <i class="fa fa-plus-circle list-icon icon-yellow"></i>
            <span class="">Create Consultancy</span>
          </h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item class="clickable" matRipple>
          <h3 matLine>
            <i class="fa fa-eye list-icon icon-green"></i>
            <span class=""> View Event</span>
          </h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item class="clickable" matRipple>
          <h3 matLine>
            <i class="fa fa-pencil list-icon icon-red"></i>
            <span class=""> Manage Event</span>
          </h3>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel> -->

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <span class="option-header-title">Settings</span>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item
          class="clickable"
          matRipple
          (click)="navigateTo('/dashboard/privacy-policy')"
        >
          <h3 matLine>
            <i class="fa fa-pencil list-icon icon-red"></i>

            <span class="">{{ 'msg_privacy_policy' | translate }}</span>
          </h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item class="clickable" matRipple>
          <h3 matLine>
            <i class="fa fa-phone list-icon icon-green"></i>

            <span class="">{{ 'msg_contact_us' | translate }}</span>
          </h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item class="clickable" matRipple>
          <h3 matLine>
            <i class="fa fa-question-circle list-icon icon-yellow"></i>

            <span class="">{{ 'msg_help' | translate }}</span>
          </h3>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true" class="on-mobile">
      <mat-expansion-panel-header>
        <span class="option-header-title">Navigation</span>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item class="clickable" matRipple (click)="navigateTo('/dashboard')">
          <h3 matLine>
            <i class="fa fa-home list-icon"></i>

            <span class=""> {{ 'msg_home' | translate }}</span>
          </h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item class="clickable" matRipple (click)="onLogout()">
          <h3 matLine>
            <i class="fa fa-sign-out list-icon"></i>

            <span class=""> {{ 'msg_logout' | translate }}</span>
          </h3>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>
</mat-card>
