<div class="connection-list-container">
  <div class="row" *ngIf="!loading">
    <div class="col-12">
      <h2 class="bold-text">{{ userId }}</h2>

      <div class="connection-card" *ngFor="let connection of connections; let i = index">
        <mat-card>
          <mat-card-content>
            <img
              class="connection-photo"
              [src]="connection.userImageURL"
              loading="lazy"
              onerror="this.src='./../../../../../../assets/images/user.png'"
            />
            <div class="connection-details">
              <div class="connection-name pointer" (click)="viewProfile(connection.sportizenId)">
                {{ connection.name | capitalizeEachWord }}
              </div>
              <div class="connection-mutual-info">
                {{ connection.mutuleConnections ? connection.mutuleConnections : 0 }} Mutual
                Sportizen
              </div>
              <div
                class="connection-btn"
                [ngClass]="
                  !userId && isFollowers
                    ? 'connected'
                    : !userId && isFollowers
                    ? 'not-connected'
                    : connection.connectionStatus === 'following'
                    ? 'connected'
                    : 'not-connected'
                "
                (click)="
                  !userId && isFollowers
                    ? unfollowUser(connection.name, connection.sportizenId, i)
                    : !userId && !isFollowers
                    ? removeUser(connection.name, connection.sportizenId, i)
                    : connection.connectionStatus === 'following'
                    ? unfollowUser(connection.name, connection.sportizenId, i)
                    : followUser(connection.name, connection.sportizenId, i)
                "
              >
                {{
                  !userId && isFollowers
                    ? 'Unfollow'
                    : !userId && !isFollowers
                    ? 'Remove'
                    : connection.connectionStatus === 'following'
                    ? 'Unfollow'
                    : 'Follow'
                }}
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
