<div class="connection-list-container">
  <div class="row" *ngIf="!loading">
    <div class="col-12">
      <h2 class="bold-text">
        {{ noOfConnections }}&nbsp;{{ isFollowers ? 'Followers' : 'Followings' }}
      </h2>

      <div class="connection-container" *ngFor="let connection of connections; let i = index">
        <mat-card class="connection-card">
          <mat-card-content>
            <app-user-connection
              [user]="connection"
              [isLoggedInUser]="connection.sportizenId === sportizenId"
              [isConnected]="connection.connectionStatus === 'following'"
              [connectionBtnText]="
                connection.connectionStatus === 'following'
                  ? 'Unfollow'
                  : !userId && isFollowers
                  ? 'Remove'
                  : 'Follow'
              "
              (connectionAction)="
                connection.connectionStatus === 'following'
                  ? unfollowUser(connection.name, connection.sportizenId, i)
                  : !userId && isFollowers
                  ? removeUser(connection.name, connection.sportizenId, i)
                  : followUser(connection.name, connection.sportizenId, i)
              "
            ></app-user-connection>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
