<div class="like-container">
  <div mat-dialog-content class="">
    <span class="float-right pointer close" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </span>

    <h2 mat-dialog-title>Likes</h2>

    <hr />

    <div class="users-container">
      <ng-container *ngIf="likes && likes.length > 0; else noLikes">
        <div *ngFor="let like of likes" class="user-container">
          <div class="profile-icon">
            <img
              class="profile-image"
              [src]="like.userImageURL"
              onerror="this.src='./../../../assets/images/user.png'"
            />
          </div>

          <div class="user-details">
            <div class="user-name">
              <span class="">{{ like.name | capitalizeEachWord }}</span>
            </div>

            <div class="liked-at">
              <i class="fa fa-clock-o icon-blue mr-2"></i>
              <span class="">{{ like.createdAt | amTimeAgo }}</span>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="loading-container">
        <mat-spinner diameter="25" *ngIf="loadingLikes"></mat-spinner>
      </div>
    </div>
  </div>
</div>

<ng-template #noLikes>
  <p class="text-center" *ngIf="!loadingLikes">No Likes Yet</p>
</ng-template>
