<span class="create-blog" *ngIf="sportizenId">
  <a class="btn-create-blog shadow-sm" (click)="newBlog()">
    <span class="icon">+</span>

    <span class="text">Write Blog</span>
  </a>
</span>

<div class="blog-main-header">
  <div class="blog-main-header-text">
    <h1 class="heading">OUR BLOGS</h1>
    <div class="sub-heading">
      Sportizen makes sure your time is worth and you are reading one of finest blogs related
      sports.
    </div>
    <button class="semi-rounded-btn" mat-raised-button color="primary">View Recent Blogs</button>
  </div>
</div>

<div class="blogs-container" *ngIf="!loading">
  <ng-container *ngIf="blogsList.length > 0; else noBlogs">
    <mat-card class="blog" *ngFor="let blog of blogsList; let i = index">
      <mat-card-header class="blog-header">
        <img
          class="blog-header-image"
          mat-card-avatar
          [src]="blog.createdUserImage"
          [alt]="blog.createdUser"
        />

        <mat-card-title class="blog-header-title">{{
          blog.createdUser | capitalizeEachWord
        }}</mat-card-title>

        <mat-card-subtitle class="blog-header-sub-title">
          <i class="fa fa-calendar icon-blue mr-2" aria-hidden="true"> </i>
          {{ blog.createdAt | amCalendar }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="blog-image-container" *ngIf="blog.secureUrl">
          <div class="blog-image">
            <img class="image" [src]="blog.secureUrl" [alt]="blog.title" loading="lazy" />
          </div>
        </div>

        <div class="blog-details-container">
          <h2 class="blog-title">{{ blog.title }}</h2>

          <div class="blog-subtitle">
            {{ blog.subtitle }}
          </div>
        </div>

        <div class="view-button-container">
          <button
            mat-raised-button
            color="primary"
            class="view-button"
            (click)="openBlog(blog._id)"
          >
            View Blog
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>

<div class="loading-container">
  <mat-spinner diameter="25" *ngIf="loading"></mat-spinner>
</div>

<ng-template #noBlogs>
  <p class="mt-2 text-center">No Blogs Available</p>
</ng-template>
