.create-blog {
  width: auto;
  height: 2.5rem;

  .btn-create-blog {
    text-decoration: none;
    position: fixed;
    display: inline-flex;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
    font-size: 1.25rem;
    text-align: center;
    align-items: center;
    outline: none;
    background-color: #07bae3;
    color: #fff;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0rem;
    border-radius: 2.5rem;
    overflow: hidden;
    transition: all 0.25s;

    .icon {
      padding: 0 0.875rem;
      display: flex;
      align-items: center;
      font-weight: bold;
    }

    .text {
      white-space: nowrap;
      display: none;
      font-size: 1rem;
      padding-right: 0.875rem;
    }
  }

  .btn-create-blog:hover {
    width: 9.5rem;
    transform: scale(1.025);

    .text {
      display: inline;
    }
  }
}

.blog-main-header {
  position: relative;
  height: 15rem;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url('./../../../assets/images/cover-image.jpg');
  background-size: cover;
  object-fit: cover;
  background-position: center;

  .blog-main-header-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5rem;
    color: white;

    .heading {
      font-weight: bold;
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    .sub-heading {
      padding-bottom: 2rem;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }
}

.blogs-container {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  justify-content: space-evenly;

  box-sizing: border-box;
  // display: flex;
  // flex-flow: column wrap;

  align-items: center;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 95%;

  .blog {
    width: 30%;

    // width:   30%;
    height: max-content;
    margin: 0.5rem;
    align-items: center;

    // position: relative;
    // box-sizing: border-box;
    // justify-content: center;

    // padding-bottom: 2rem;
    // margin-bottom: 4rem;

    .blog-header {
      width: 100%;

      .blog-header-image {
        width: 2.5rem;
        height: 2.5rem;
      }

      .blog-header-title {
        font-size: 1.2rem;
        margin-bottom: 0.75rem;
      }

      .blog-header-sub-title {
        font-size: 0.9rem;
        margin-bottom: 1rem;
      }
    }

    .blog-image-container {
      width: 100%;
      max-height: 20rem;
      vertical-align: middle;

      .blog-image {
        width: 100%;
        // overflow: hidden;
        // text-align: center;

        .image {
          background-size: cover;
          width: 100%;
          max-height: 20rem;
          object-fit: cover;
        }
      }
    }

    .blog-details-container {
      margin: 0.5rem 0;

      .blog-title {
        font-weight: bold;
        font-size: 1.3rem;
        margin: 0;
      }

      .blog-subtitle {
        font-size: 1rem;
        padding-left: 1rem;
      }
    }

    .view-button-container {
      padding-top: 0.5rem;

      .view-button {
        float: right;
        padding: 0 1rem;
        height: 2.5rem;
        font-size: 1rem;
        line-height: 1rem;
      }
    }
  }
}

.no-blog-image {
  bottom: -2.5rem !important;
  width: 90% !important;
  position: relative !important;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}

@media screen and(max-width:1080px) {
  .blogs-container {
    .blog {
      width: 40%;
    }
  }
}

@media screen and(max-width:900px) {
  .blog-main-header {
    height: 13.75rem;

    .blog-main-header-text {
      padding: 0 4rem;

      .heading {
        font-size: 2.75rem;
        margin-bottom: 0.875rem;
      }

      .sub-heading {
        padding-bottom: 1.75rem;
        font-size: 1.15rem;
        line-height: 1.45rem;
      }
    }
  }

  .blogs-container {
    margin: 0.75rem auto;
    width: 97.5%;

    .blog {
      width: 45%;

      .blog-header {
        .blog-header-image {
          width: 2.375rem;
          height: 2.375rem;
        }

        .blog-header-title {
          font-size: 1.125rem;
          margin-bottom: 0.625rem;
        }

        .blog-header-sub-title {
          font-size: 0.85rem;
          margin-bottom: 0.875rem;
        }
      }

      .blog-image-container {
        max-height: 18.75rem;

        .blog-image {
          .image {
            max-height: 18.75rem;
          }
        }
      }

      .blog-details-container {
        .blog-title {
          font-size: 1.225rem;
        }

        .blog-subtitle {
          font-size: 0.95rem;
          padding-left: 0.95rem;
        }
      }

      .view-button-container {
        padding-top: 0.5rem;

        .view-button {
          padding: 0 0.875rem;
          height: 2.375rem;
          font-size: 0.95rem;
          line-height: 0.95rem;
        }
      }
    }
  }

  .no-blog-image {
    bottom: -2.375rem !important;
    border-radius: 0.4375rem 0.4375rem 0.4375rem 0.4375rem !important;
  }
}

@media screen and(max-width:767px) {
  .blog-main-header {
    height: 12.5rem;

    .blog-main-header-text {
      padding: 0 3rem;

      .heading {
        font-size: 2.5rem;
        margin-bottom: 0.75rem;
      }

      .sub-heading {
        padding-bottom: 1.5rem;
        font-size: 1.1rem;
        line-height: 1.4rem;
      }
    }
  }

  .blogs-container {
    margin: 0.5rem auto;
    width: 100%;

    .blog {
      width: 50%;

      .blog-header {
        .blog-header-image {
          width: 2.25rem;
          height: 2.25rem;
        }

        .blog-header-title {
          font-size: 1.05rem;
          margin-bottom: 0.5rem;
        }

        .blog-header-sub-title {
          font-size: 0.8rem;
          margin-bottom: 0.75rem;
        }
      }

      .blog-image-container {
        max-height: 17.5rem;

        .blog-image {
          .image {
            max-height: 17.5rem;
          }
        }
      }

      .blog-details-container {
        .blog-title {
          font-size: 1.15rem;
        }

        .blog-subtitle {
          font-size: 0.9rem;
          padding-left: 0.9rem;
        }
      }

      .view-button-container {
        padding-top: 0.375rem;

        .view-button {
          padding: 0 0.75rem;
          height: 2.25rem;
          font-size: 0.9rem;
          line-height: 0.9rem;
        }
      }
    }
  }

  .no-blog-image {
    bottom: -2.25rem !important;
    border-radius: 0.375rem 0.375rem 0.375rem 0.375rem !important;
  }
}

@media screen and(max-width:683px) {
  .blogs-container {
    .blog {
      width: 75%;
    }
  }
}

@media screen and(max-width:600px) {
  .blog-main-header {
    height: 11.25rem;

    .blog-main-header-text {
      padding: 0 2rem;

      .heading {
        font-size: 2.25rem;
        margin-bottom: 0.625rem;
      }

      .sub-heading {
        padding-bottom: 1.25rem;
        font-size: 1.05rem;
        line-height: 1.35rem;
      }
    }
  }

  .blogs-container {
    .blog {
      width: 85%;

      .blog-header {
        .blog-header-image {
          width: 2.125rem;
          height: 2.125rem;
        }

        .blog-header-title {
          font-size: 0.975rem;
          margin-bottom: 0.375rem;
        }

        .blog-header-sub-title {
          font-size: 0.75rem;
          margin-bottom: 0.625rem;
        }
      }

      .blog-image-container {
        max-height: 16.25rem;

        .blog-image {
          .image {
            max-height: 16.25rem;
          }
        }
      }

      .blog-details-container {
        .blog-title {
          font-size: 1.075rem;
        }

        .blog-subtitle {
          font-size: 0.85rem;
          padding-left: 0.85rem;
        }
      }

      .view-button-container {
        padding-top: 0.25rem;

        .view-button {
          padding: 0 0.625rem;
          height: 2.125rem;
          font-size: 0.85rem;
          line-height: 0.85rem;
        }
      }
    }
  }

  .no-blog-image {
    bottom: -2.125rem !important;
    border-radius: 0.3125rem 0.3125rem 0.3125rem 0.3125rem !important;
  }
}

@media screen and(max-width:400px) {
  .blog-main-header {
    height: 10rem;

    .blog-main-header-text {
      padding: 0 1.25rem;

      .heading {
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }

      .sub-heading {
        padding-bottom: 1rem;
        font-size: 1rem;
        line-height: 1.3rem;
      }
    }
  }

  .blogs-container {
    // margin: 0.5rem 0rem;

    .blog {
      width: 100%;

      .blog-header {
        .blog-header-image {
          width: 2rem;
          height: 2rem;
        }

        .blog-header-title {
          font-size: 0.9rem;
          margin-bottom: 0.25rem;
        }

        .blog-header-sub-title {
          font-size: 0.7rem;
          margin-bottom: 0.5rem;
        }
      }

      .blog-image-container {
        max-height: 15rem;

        .blog-image {
          .image {
            max-height: 15rem;
          }
        }
      }

      .blog-details-container {
        .blog-title {
          font-size: 1rem;
        }

        .blog-subtitle {
          font-size: 0.8rem;
          padding-left: 0.8rem;
        }
      }

      .view-button-container {
        padding-top: 0.25rem;

        .view-button {
          padding: 0 0.5rem;
          height: 2rem;
          font-size: 0.8rem;
          line-height: 0.8rem;
        }
      }
    }
  }

  .no-blog-image {
    bottom: -2rem !important;
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
  }
}
