$primary-color: #05bae3;
$secondary-color: #075492;

.connected {
  background-color: white;
  color: $primary-color;
  border: 0.0625rem solid $primary-color;
}

.not-connected {
  background-color: $primary-color;
  color: white;
}

.user-connection {
  .user-connection-photo {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 0.25rem;
    background-size: cover;
    vertical-align: top;
  }

  .user-connection-details-container {
    display: inline-block;
    width: calc(100% - 4rem);

    .user-connection-details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      padding-left: 1rem;

      .user-connection-info-container {
        display: inline-block;
        padding-right: 1rem;

        .user-connection-name {
          font-size: 1rem;
          font-weight: 600;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .mutual-connection {
          font-size: 0.8rem;
          margin-top: -0.1rem;
        }
      }

      .user-connection-btn-container {
        display: inline-block;

        .user-connection-btn {
          display: flex;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;
          width: 7rem;
          height: 1.5rem;
          border-radius: 0.3rem;
          text-align: center;
          padding-top: 0.15rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .user-connection {
    .user-connection-photo {
      width: 3.875rem;
      height: 3.875rem;
    }

    .user-connection-details-container {
      .user-connection-details {
        padding-left: 0.875rem;

        .user-connection-info-container {
          padding-right: 0.875rem;

          .user-connection-name {
            font-size: 0.975rem;
          }

          .mutual-connection {
            font-size: 0.775rem;
            margin-top: -0.16875rem;
          }
        }

        .user-connection-btn-container {
          .user-connection-btn {
            font-size: 97.5%;
            width: 6.5rem;
            height: 1.5rem;
            border-radius: 0.275rem;
            padding-top: 0.1375rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .user-connection {
    .user-connection-photo {
      width: 3.75rem;
      height: 3.75rem;
    }

    .user-connection-details-container {
      .user-connection-details {
        padding-left: 0.75rem;

        .user-connection-info-container {
          padding-right: 0.75rem;

          .user-connection-name {
            font-size: 0.95rem;
          }

          .mutual-connection {
            font-size: 0.75rem;
            margin-top: -0.2375rem;
          }
        }

        .user-connection-btn-container {
          .user-connection-btn {
            font-size: 95%;
            width: 6rem;
            height: 1.5rem;
            border-radius: 0.25rem;
            padding-top: 0.125rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .user-connection {
    .user-connection-photo {
      width: 3.625rem;
      height: 3.625rem;
    }

    .user-connection-details-container {
      .user-connection-details {
        padding-left: 0.625rem;

        .user-connection-info-container {
          padding-right: 0.625rem;

          .user-connection-name {
            font-size: 0.925rem;
          }

          .mutual-connection {
            font-size: 0.725rem;
            margin-top: -0.30625rem;
          }
        }

        .user-connection-btn-container {
          .user-connection-btn {
            font-size: 92.5%;
            width: 5.5rem;
            height: 1.5rem;
            border-radius: 0.225rem;
            padding-top: 0.1125rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .user-connection {
    .user-connection-photo {
      width: 3.5rem;
      height: 3.5rem;
    }

    .user-connection-details-container {
      .user-connection-details {
        padding-left: 0.5rem;

        .user-connection-info-container {
          padding-right: 0.5rem;

          .user-connection-name {
            font-size: 0.9rem;
          }

          .mutual-connection {
            font-size: 0.7rem;
            margin-top: -0.5rem;
          }
        }

        .user-connection-btn-container {
          .user-connection-btn {
            font-size: 90%;
            width: 5rem;
            height: 1.5rem;
            border-radius: 0.2rem;
            padding-top: 0.1rem;
          }
        }
      }
    }
  }
}
