@font-face {
  font-family: 'SF Sports Night NS';
  src: url('./../../fonts/logo-font/SFSportsNightNS.woff2') format('woff2'),
    url('./../../fonts/logo-font/SFSportsNightNS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
