<div class="row">
  <div class="col-md-6 col-sm-10 col-12 mx-auto">
    <ul class="footer-nav">
      <li>
        <a routerLink="./" fragment="service">Our Offerings</a>
      </li>
      <li>
        <a routerLink="./" fragment="about">About Us</a>
      </li>
      <li>
        <a routerLink="./" fragment="contact">Contact Us</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-10 col-12 mx-auto">
    <ul class="social-links">
      <li>
        <a href="https://www.facebook.com/Sportizen-352682545821391"
          ><i class="fa fa-facebook"></i
        ></a>
      </li>
      <li>
        <a href="https://twitter.com/_sportizen_"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/_sportizen_/"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/sportizen"><i class="fa fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p class="copyright">
      Copyright &copy; 2020 by SPORTIZEN SPORT SOLUTION LLP - All Rights Reserved.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p class="developer">Developed & Designed by <strong>SPORTIZEN</strong></p>
  </div>
</div>
