$primary-color: #05bae3;
$secondary-color: #075492;
$grey-color: #838383;

.dashboard-content-container {
  text-align: center;
  padding: 1rem 1.5rem;

  .dashboard-feed {
    display: inline-block;
  }

  .dashboard-blog {
    display: inline-block;
  }
}

.stories-bar {
  padding-top: 1rem;
}

.row {
  padding-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
  .dashboard-content-container {
    padding: 0.75rem 1.5rem;

    .dashboard-blog {
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 992px) {
  .dashboard-content-container {
    padding: 0.6rem 1rem;
  }

  .dashboard-blog {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .dashboard-content-container {
    padding: 0.25rem 0rem;
  }
  .dashboard-blog {
    display: none;
  }
}
