<div class="dashboard-content-container">
  <div class="row">
    <div class="col-md-9 col-12">
      <!-- <div class="row">
        <div class="col-12 stories-bar">
          <mat-card>Stories Bar</mat-card>
        </div>
      </div> -->

      <div class="row upload-content">
        <div class="col-12">
          <app-upload-content></app-upload-content>
        </div>
      </div>

      <div class="row dashboard-feed">
        <div class="col-12">
          <app-dashboard-feed
            [isMyFeed]="false"
            [isUserFeed]="false"
            [userId]="null"
          ></app-dashboard-feed>
        </div>
      </div>
    </div>
  </div>
</div>
