<div class="dashboard-content-container">
  <div class="row">
    <div class="col-md-9 col-sm-11 col-12 mx-auto">
      <!-- <div class="row">
        <div class="col-md-12 stories-bar">
          <mat-card>Stories Bar</mat-card>
        </div>
      </div> -->

      <div class="row upload-content">
        <div class="col-md-12">
          <app-upload-content></app-upload-content>
        </div>
      </div>

      <div class="row dashboard-feed">
        <div class="col-md-12">
          <app-dashboard-feed></app-dashboard-feed>
        </div>
      </div>
    </div>
  </div>
</div>
