<mat-card class="post-card" [id]="'post-' + index">
  <mat-card-content
    class="post-content"
    snInViewport
    (inViewportChange)="callViewPost(post._id, post.alreadyViewed, index, $event)"
  >
    <span
      class="float-right post-action pointer"
      [matMenuTriggerFor]="menu"
      [matMenuTriggerData]="{ post: post._id, index: index, createdBy: post.sportizenUser }"
    >
      ...
    </span>

    <div class="profile-icon" (click)="viewProfile(post.sportizenUser, index)">
      <img
        class="profile-image"
        [src]="post.userImageURL"
        onerror="this.src='./../../../assets/images/user.png'"
      />
    </div>

    <div class="user-details">
      <div class="profile-name" (click)="viewProfile(post.sportizenUser, index)">
        <span class="">{{ post.userName | capitalizeEachWord }}</span>
      </div>

      <div class="modified-time">
        <i class="fa fa-clock-o icon-blue mr-2"></i>
        <span>{{ post.modifiedAt | amTimeAgo }}</span>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="post-description" *ngIf="post.description">
      <span id="less-description-{{ index }}" class="">
        {{ getDescriptionLess(post.description) }}

        <span
          class="display-block more-less-content"
          *ngIf="post.description.length > 150"
          (click)="toggleDescription(index, true)"
        >
          Read More
        </span>
      </span>

      <span
        id="more-description-{{ index }}"
        class="display-none"
        *ngIf="post.description.length > 150"
      >
        {{ post.description }}

        <span class="more-less-content" (click)="toggleDescription(index, false)"> Read Less </span>
      </span>
    </div>

    <ng-container *ngIf="post.postType === 'shared'">
      <div class="shared-post" *ngIf="post.sharedPost; else noSharedPost">
        <div class="profile-icon" (click)="viewProfile(post.sharedPost.sportizenUser, index)">
          <img
            class="profile-image"
            [src]="post.sharedPost.userImageURL"
            onerror="this.src='./../../../assets/images/user.png'"
          />
        </div>

        <div class="user-details">
          <div class="profile-name" (click)="viewProfile(post.sharedPost.sportizenUser, index)">
            <span class=""> {{ post.sharedPost.userName | capitalizeEachWord }}</span>
          </div>

          <div class="modified-time">
            <i class="fa fa-clock-o icon-blue mr-2"></i>
            <span class="">{{ post.sharedPost.modifiedAt | amTimeAgo }}</span>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="post-description">
          <span id="less-description-{{ index }}-shared" class="">
            {{ getDescriptionLess(post.sharedPost.description) }}

            <span
              class="display-block more-less-content"
              *ngIf="post.sharedPost.description.length > 150"
              (click)="toggleDescription(index + '-shared', true)"
            >
              Read More
            </span>
          </span>

          <span
            id="more-description-{{ index }}-shared"
            class="display-none"
            *ngIf="post.sharedPost.description.length > 150"
          >
            {{ post.sharedPost.description }}

            <span class="more-less-content" (click)="toggleDescription(index + '-shared', false)">
              Read Less
            </span>
          </span>
        </div>

        <div class="post-image" *ngIf="post.sharedPost.secureUrl">
          <img
            [src]="post.sharedPost.secureUrl"
            onerror="this.src='./../../../../../assets/images/image-loader.png'"
            loading="lazy"
          />
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="post.postType !== 'shared'">
      <div class="post-image" *ngIf="post.secureUrl">
        <img
          [src]="post.secureUrl"
          onerror="this.src='./../../../../../assets/images/image-loader.png'"
          loading="lazy"
        />
      </div>
    </ng-container>

    <div class="post-details-container">
      <span class="post-details" (click)="showViewDetails(post._id)" *ngIf="post.postViews">
        <i class="fa fa-eye icon-grey" aria-hidden="true"></i>
        <span class=""
          >&nbsp;{{ post.postViews ? post.postViews : 0 }}&nbsp;{{
            post.postViews > 1 ? 'Views' : 'View'
          }}
        </span>
      </span>

      <span class="post-details" (click)="showLikeDetails(post._id)" *ngIf="post.postLikes">
        <i class="fa fa-thumbs-up icon-grey" aria-hidden="true"></i>
        <span class=""
          >&nbsp;{{ post.postLikes ? post.postLikes : 0 }}&nbsp;{{
            post.postLikes > 1 ? 'Likes' : 'Like'
          }}
        </span>
      </span>

      <span
        class="post-details"
        (click)="openCommentsSheet(post._id, post.secureUrl)"
        *ngIf="post.postComments"
      >
        <i class="fa fa-comment icon-grey" aria-hidden="true"></i>
        <span class=""
          >&nbsp;{{ post.postComments ? post.postComments : 0 }}&nbsp;{{
            post.postComments > 1 ? 'Comments' : 'Comment'
          }}
        </span>
      </span>
    </div>

    <hr />

    <div class="post-actions" *ngIf="sportizenId">
      <span
        class="post-action-btn"
        matRipple
        (click)="likeUnlikePost(post._id, post.alreadyLiked, index)"
      >
        <i
          class="fa fa-thumbs-up pr-2"
          [ngClass]="[post.alreadyLiked ? 'icon-blue' : 'icon-white']"
          aria-hidden="true"
        ></i>
        <span class="">{{ post.alreadyLiked ? 'Liked' : 'Like' }}</span>
      </span>

      <span class="post-action-btn" matRipple (click)="openCommentsSheet(post._id, post.secureUrl)">
        <i class="fa fa-comment icon-yellow pr-2" aria-hidden="true"></i>
        <span class="">Comment</span>
      </span>

      <span
        class="post-action-btn"
        matRipple
        (click)="
          sharePost(post.postType === 'shared' && post.sharedPost ? post.sharedPost._id : post._id)
        "
        *ngIf="(post.postType === 'shared' && post.sharedPost) || post.postType !== 'shared'"
      >
        <i class="fa fa-share icon-green pr-2" aria-hidden="true"></i>
        <span class="">Share</span>
      </span>

      <span
        class="float-right pointer save-post"
        (click)="saveUnsavePost(post._id, post.alreadySaved, index)"
        *ngIf="(post.postType === 'shared' && post.sharedPost) || post.postType !== 'shared'"
      >
        <i
          [ngClass]="[
            post.alreadySaved ? 'fa fa-bookmark icon-blue' : 'fa fa-bookmark icon-light-grey'
          ]"
          aria-hidden="true"
        ></i>
      </span>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #noSharedPost
  ><div class="shared-post">
    <span class="no-shared-post">*This post no Longer Available</span>
  </div>
</ng-template>

<mat-menu class="mat-panel" #menu="matMenu" xPosition="before">
  <ng-template matMenuContent let-postId="post" let-index="index" let-createdBy="createdBy">
    <button
      mat-menu-item
      (click)="deletePost(postId, createdBy, index)"
      *ngIf="createdBy === sportizenId"
    >
      <i class="fa fa-trash"> </i>
      <span>&nbsp;Delete</span>
    </button>
  </ng-template>
</mat-menu>
