<div class="view-container">
  <div mat-dialog-content>
    <span class="float-right pointer close" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </span>
    <h2 mat-dialog-title *ngIf="views && views.length > 0">Views</h2>

    <hr />

    <div *ngIf="!loading; else loadingViews">
      <ng-container *ngIf="views && views.length > 0; else noViews">
        <div *ngFor="let view of views" class="user-container">
          <div class="profile-icon">
            <img
              class="profile-image"
              [src]="view.userImageURL"
              onerror="this.src='./../../../assets/images/user.png'"
            />
          </div>

          <div class="user-details">
            <div class="user-name">
              <span class="">{{ view.name | capitalizeEachWord }}</span>
            </div>

            <div class="viewed-at">
              <i class="fa fa-clock-o icon-blue mr-2"></i>
              <span class="">{{ view.createdAt | amTimeAgo }}</span>
            </div>
          </div>

          <br />
        </div>
      </ng-container>
    </div>

    <ng-template #loadingViews>
      <div class="user-container">
        <div class="profile-icon">
          <img
            class="profile-image"
            src="../../../../../../assets/images/loading-user.png"
            onerror="this.src='./../../../../../../assets/images/user.png'"
          />
        </div>

        <div class="user-details">
          <div class="user-name">
            <span class="no-user-name"> </span>
          </div>

          <div class="viewed-at">
            <span class="no-viewed-at"> </span>
          </div>
        </div>

        <br />
      </div>
    </ng-template>

    <ng-template #noViews>No Views Yet</ng-template>
  </div>
</div>
