<div class="view-container">
  <div mat-dialog-content>
    <span class="float-right pointer close" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </span>
    <h2 mat-dialog-title *ngIf="views && views.length > 0">Views</h2>

    <hr />

    <div *ngIf="views && views.length > 0; else noViews">
      <div *ngFor="let view of views" class="user-container">
        <div class="profile-icon">
          <img
            class="profile-image"
            [src]="view.userImageURL"
            onerror="this.src='../../../assets/images/user.png'"
          />
        </div>

        <div class="user-details">
          <div class="user-name">
            <span class="">{{ view.name | capitalizeEachWord }}</span>
          </div>

          <div class="viewed-at">
            <i class="fa fa-clock-o icon-blue mr-2"></i>
            <span class="">{{ view.createdAt | amTimeAgo }}</span>
          </div>
        </div>

        <br />
      </div>
    </div>

    <ng-template #noViews>No Views Yet</ng-template>
  </div>
</div>
