<div class="image-croper">
  <span class="float-right pointer" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </span>

  <h3>Fit Your Image</h3>

  <image-cropper
    class="image-cropper"
    [maintainAspectRatio]="true"
    [aspectRatio]="aspectRatio"
    format="jpeg"
    *ngIf="data.image"
    [imageBase64]="data.image"
    (imageCropped)="imageCropped($event)"
  >
  </image-cropper>

  <div class="image-croper-actions">
    <button mat-raised-button class="btn-save" color="primary" (click)="onCrop()">
      {{ savedBtnName }}
    </button>
  </div>
</div>
