<div class="row">
  <div class="col-md-10 col-11 mx-auto">
    <h1 class="text-center">Privacy Policy - Sportizen</h1>
    <div>
      <p>
        Sportizen Sports Solutions, an Indian company with a registered office located at Thane, and
        its technical processors (“Company”, “We” or “Us” or “Our”) are committed to protecting your
        privacy and grant importance to the confidentiality of your data over the internet. This
        privacy policy (“Privacy Policy”) applies to all the content displayed and services offered
        to persons using or visiting (“Users”, “You” or “Your”) https://www.sportizen.in;
        (collectively referred to as “Website”) and/or the mobile application under the name and
        style of Sportizen (“App”), altogether collectively known as “Platform”.
      </p>
      <ol type="a">
        <li>
          The purpose of this Privacy Policy is to inform the User about the processing of his/her
          personal data collected when using the services available on the Website/App.
        </li>
        <li>
          This Privacy Policy is an electronic record in the form of an electronic contract formed
          under the Information Technology Act, 2000 and the rules made there under and the amended
          provisions pertaining to electronic documents/ records in various statutes as amended by
          the Information Technology Act, 2000. This Privacy Policy does not require any physical,
          electronic or digital signature and is a legally binding document between the User and Us.
        </li>
      </ol>
    </div>

    <div>
      <ol type="1">
        <li>
          When the User accesses another website through a link or a URL available on the
          Website/App, this Privacy Policy does not apply anymore. We reserve the right to modify at
          any time this Privacy Policy and to inform User by any mean.
        </li>
        <li>
          In this Privacy Policy, “Personal Information” means any information relating to an
          identified or identifiable User, who can be identified, directly or indirectly, in
          particular by reference to his name, his email address, his Internet Protocol address.
          Personal Information does not include anonymised information that has been appropriately
          processed to make it non-identifiable in order to irreversibly prevent its identification.
        </li>
        <li>
          We respect the privacy of Our Users and are committed to protect it in all respects. The
          information about the User is collected by us as
          <ol type="i">
            <li>information supplied by Users and</li>
            <li>
              information automatically tracked during User’s navigation including User activities
              on the Website/App.
            </li>
          </ol>
        </li>
        <li>
          User acknowledges that this Privacy Policy, together with Sportizen User Agreement and
          Community Guidelines, forms our agreement with the User in relation to his use of the
          Website/App.
        </li>
        <li>
          For any service that User may use, We only collect the data that is strictly necessary
          <ol type="i">
            <li>for the delivery of the services,</li>
            <li>for the performance of a contract for which User is a party,</li>
            <li>for which User has given consent for such processing of data, or</li>
            <li>for compliance with a legal obligation to which We are subject.</li>
          </ol>
        </li>
      </ol>
    </div>

    <div>
      <h3>INFORMATION COLLECTED</h3>

      <ol type="1">
        <li>
          In order to provide services through the Website/App, We automatically track and collect
          the following categories of information when User uses the Website/App:
          <br />
          IP addresses; Domain servers; and other information with respect to Users device,
          interaction of User device with the Website/App and applications (“Traffic Data”).
        </li>

        <li>
          In order to provide services through the Website/App, We may require the User to provide
          us with information that personally identifies himself. Personal Information includes the
          following categories of information:
          <ol type="a">
            <li>Contact data (such as email address, phone number and date of birth); and</li>
            <li>Demographic data (such as time zone, postal address and location details); and</li>
            <li>
              If the User communicates with us by, for example, e-mail or letter, any information
              provided in such communication may be collected by us.
            </li>
            <li>
              Financial data (such as account details, e-wallet details, credit or debit card
              details etc.) that User may have provided to us or shall provide to us.
            </li>
          </ol>
        </li>
        <li>
          The Website/App may transmit User Personal Information to amazon web services or “AWS”
          cloud servers and the “Google Cloud Platform” cloud servers, to ensure secure storage of
          data. Thereby the User is also subject to the terms of the AWS and Google Cloud privacy
          policy. This Personal Information is immediately deleted once User deletes the App or
          deletes his account exclusively made on the Website, except to the extent it is necessary
          to store the same under applicable laws. Further, We have implemented commercially
          reasonable physical, managerial, operational and technical security measures to protect
          the loss, misuse and alteration and to preserve the security of the Personally Information
          in Our care. Finally, this information is used strictly in line with our business purposes
          and to provide you with useful features.
        </li>
        <li>
          Our App may contain links to third party websites or applications. The User agrees and
          understands that privacy policies of these websites are not under our control and the User
          understands that once he leaves our servers, use of any information provided by the User
          shall be governed by the privacy policy of the operator of the site used by him.
        </li>
        <li>
          Personal Information collected therefore differs from one User to another, depending on
          the number of services used by each User.
        </li>

        <li>
          Prior to any direct marketing or commercial operation (for example for sending the
          newsletters or commercial offers), We will first obtain Users consent, either when
          creating an account on the Website or the App or later by indicating Your choice in
          account settings/notifications. User will always have the right to withdraw his consent at
          any time, directly by clicking on the unsubscribe link available on each email received,
          by modifying his account settings, or by contacting Us at the following email address
          support@sportizen.in.
        </li>

        <li>
          In accordance with the legislations in force, User has the right to access, to rectify and
          to object data concerning himself. User can access and change the information and
          preferences provided when account is created through the account page or by contacting Us.
        </li>
      </ol>
    </div>

    <div>
      <h3>SECURITY</h3>
      <ol type="1">
        <li>
          The security of Users Personal Information is important to Us. We follow generally
          accepted industry standards to protect the Personal Information submitted to Us, both
          during transmission and once We receive it. All information gathered on Our Website/App is
          securely stored on amazon web services or “AWS” cloud servers. Access to the servers is
          password-protected and is strictly limited.
        </li>
        <li>
          Although We make best possible efforts to store Personal Information in a secure operating
          environment that is not open to the public, User must understand that there is no such
          thing as complete security, and We do not guarantee that there will be no unintended
          disclosures of Personal Information. If We become aware that Users Personal Information
          has been disclosed in a manner not in accordance with this Privacy Policy, We will use
          reasonable efforts to notify such User of the nature and extent of such disclosure as soon
          as reasonably possible and as permitted by law.
        </li>
        <li>
          We do not sell Users Personal Information to any advertisers or any third party. We use
          Users Personal Data to display relevant advertisements, based on his preferences. We make
          reports related to the advertisement campaigns, in particular statistics, without any
          reference or information related to the personal information of visitors or users of the
          Website/App. User can also block advertising cookies in the dedicated “cookies” page.
        </li>
      </ol>
    </div>

    <div>
      <h3>CHILDREN PROTECTION</h3>

      <ol type="1">
        <li>
          The Website/App is not intended for children, and if you are under the minimum age as
          specified in Sportizen User Agreement, You may not be able to create a Sportizen account
          or use the services available on the Website/App.
        </li>
        <li>
          We have zero tolerance to any form of child abuse or exploitation. Your data (including
          group messages and private messages) may be shared with law enforcement agencies if we
          have reasonable grounds to believe that You have engaged in child pornography, or if We
          are requested to do so by law enforcement agencies.
        </li>
      </ol>
    </div>

    <div>
      <h3>SPORTIZEN USER AGREEMENT</h3>
      <p>
        Effective as of 1st November, 2020
        <br />
        This Sportizen User Agreement (“Agreement”) governs Your usage of Our services including the
        Website/App i.e. social network developed by us and an audio/textual/video online streaming
        and commenting application enabling User to share images, videos, music, status updates, and
        more. The Website/App are a program guide and a social platform for internet-based content
        consumption through its use. By using our services, or by clicking on “Sign Up” during the
        registration process, You agree to all the terms of this Agreement. We, at our sole
        discretion, may revise this Agreement from time to time, and the current version will be
        found at the following link:(link of privacy policy). By continuing to avail our services,
        You agree to be bound by the revised Agreement.
      </p>
    </div>

    <div>
      <h3>CHANGES TO TERMS AND SERVICES</h3>
      <p>
        Our Platform is dynamic and may change rapidly. As such, We may change or add new services
        to the platform We provide at Our discretion. We may temporarily, or permanently, stop
        providing Services or any features to You generally. We may remove or add functionalities to
        Our Platform and services without any notice. However, if we make a change where Your
        consent is required, We will make sure to ask for it. Please be sure to keep visiting this
        page from time to time to stay updated on our latest changes and developments.
      </p>
    </div>

    <div>
      <h3>WHO MAY USE OUR SERVICES</h3>

      <ol type="1">
        <li>
          Our Platform provides You with a platform to stay in touch with Your friends and enables
          You to share photographs, images, videos, music, status updates, and more in Your
          preferred regional language.
        </li>
        <li>
          You may only use our service only if you are capable of forming a binding agreement with
          Us, are legally permitted to Use Our Services, and if you are not subject to statutory age
          limit to enter into this Agreement according to the applicable laws and regulations in
          Your country. If You are below the aforementioned minimum age, You may only use the
          Website/App if Your guardian has provided Us with valid consent for You to use
          Website/App. You undertake that no false claim for having reached the minimum age will be
          provided.
        </li>
      </ol>
    </div>

    <div>
      <h3>HOW TO USE OUR SERVICES</h3>
      <ol type="1">
        <li>
          To use Our services, You must register on our Platform by entering Your phone number and
          the One-Time-Password sent by Us via SMS to Your phone number. You may also register using
          your Google account. When You register with us using the App, You allow Us to read Your
          mobile device phone book, SMS inbox, access Your mobile gallery, mobile device storage,
          and mobile device camera. However, it is clarified that We do not read any information
          stored on Your mobile device and computer without Your permission.
        </li>
        <li>
          It is also stated that You shall be solely responsible for the safekeeping of Your
          Sportizen account and password. All behaviors and activities conducted through Your
          Sportizen account will be deemed as Your behaviors and activities for which You shall be
          solely responsible.
        </li>
        <li>
          You may not create Sportizen account for others or allow others to use Your Sportizen
          account. You shall immediately notify Us if You discover unlawful Use of Your account by
          others.
        </li>
        <li>
          In consideration for Our services, You agree that We have the right to place advertisement
          or other types of commercial information. You also agree to receive advertisement or other
          relevant commercial information from Us via email or other methods.
        </li>
      </ol>
    </div>

    <div>
      <h3>COMMITMENTS</h3>

      <ol type="1">
        <li>
          Providing a safe service for a broad community requires that We all do our part. In return
          for Our commitment to provide Our services, You must abide by all applicable laws and
          regulations, and all rules and policies of Sportizen. Further, You have to make some
          commitments to Us.
        </li>
        <li>
          Certain kind of content is not allowed on our Platform. If such content comes to our
          attention, we may take it down. If you come across any content that violates these
          Guidelines, we encourage you to report it. The intent of the creator is important. We do
          not welcome creations/content that intends to bring discomfort, spread mischief or promote
          illegal activities.
        </li>
        <li>
          Your commitments to Us are:
          <ol type="a">
            <li>
              You may only share information that You are comfortable sharing with the public. You
              may not distribute via Platform any content that may be considered:
              <ol type="i">
                <li>
                  pornographic, obscene or indecent, or any adult content, including any form of
                  child exploitation.
                </li>
                <li>
                  excessively violent, including any content that is related to death or serious
                  injury.
                </li>
                <li>depicting, encouraging or assisting suicide or self-harm.</li>
                <li>rumor, false or misleading information.</li>
                <li>
                  hateful speech or conduct, including any content that promote racism, terrorism,
                  ageism or sexism.
                </li>
                <li>
                  profane, blasphemous or any content that may offend people of certain faith, or
                  otherwise related to religion.
                </li>
                <li>
                  related to gambling, abortion, weapon, or other highly explosive subject matter.
                </li>
                <li>abusive, libelous, or otherwise harassing other people or group.</li>
                <li>spam, junk mail or other unsolicited advertisement.</li>
              </ol>
            </li>
            <li>
              If You do not have to use Your actual name on Our Platform, You are required to input
              Your correct phone number and gender to use our Services. You will not falsely
              represent Yourself as another person or representative of another person to use Our
              services. In the event You are operating a parody account for satirical or comedic
              purposes, You must state the same in Your account bio.
            </li>
            <li>
              You will ensure that you have requisite anti-malware and anti-virus software on your
              mobile device and computer to ensure its safety. You will not allow any person to use
              your phone number, and not allow multiple accounts to be linked to your phone number.
              You will be responsible for all content posted by any account linked to your phone
              number.
            </li>
            <li>
              You may not publish or distribute other people’s private information without their
              express authorization and permission. In the event express authorization and
              permission is received from the original content creator, at time of republishing the
              same, due credit to the original content creator must be given by You.
            </li>
            <li>
              You affirm, represent, and warrant that you own or have the necessary licenses,
              rights, consents, and permissions to publish or distribute any copyrighted or
              proprietary works. You are solely responsible to clear such licenses, rights,
              consents, and permissions.
            </li>
            <li>
              You may not publish or link to any malicious code, phishing website or other content
              that may threaten the security of the Internet.
            </li>
            <li>
              We have the right to review and monitor your behavior on the Platform. If We, at our
              sole discretion, reasonably consider that You have violated the terms of the
              Agreement, We may freeze, suspend, disable, ban or revoke your account. You understand
              that any virtual gift associated with your account will be frozen, suspended,
              disabled, banned or revoked as well.
            </li>
            <li>
              If We discover or reasonably suspect that any of Your virtual gift is acquired in a
              fraudulent or illegal manner, or is in an abnormal status, We may freeze, suspend,
              disable, ban or revoke such virtual gift.
            </li>
            <li>
              If Your account is frozen, suspended, disabled, banned or revoked, You may not create
              a second account or ask any other to create a second account for You.
            </li>
            <li>
              If You violate any terms of the Agreement, You shall indemnify and hold harmless of
              Sportizen against any liability resulting from a claim by a third party in relation to
              Your violation.
            </li>
          </ol>
        </li>
      </ol>
    </div>

    <div>
      <h3>GENERAL USE OF THE PLATFORM – PERMISSIONS AND RESTRICTIONS</h3>
      <ol type="1">
        <li>
          We hereby grant You the permission to access and use the service and the Platform as set
          forth in this Sportizen User Agreement, provided that:
          <ol type="a">
            <li>
              You agree not to distribute in any medium any part of the service or the content
              without Our prior written authorization, unless We make available the means for such
              distribution through functionality offered by the service or the Platform.
            </li>
            <li>You agree not to alter or modify any part of the service or the Platform.</li>
            <li>
              You agree not to access content through any technology or means other than the service
              provided on the Platform itself, the embeddable player, or other explicitly authorized
              means we may designate.
            </li>
            <li>
              You agree not to use the service for any of the following commercial uses unless You
              obtain Our prior written approval:
              <ol type="i">
                <li>the sale of access to the service.</li>
                <li>
                  the sale of advertising, sponsorships, or promotions placed on or within the
                  service or content.
                </li>
              </ol>
            </li>
            <li>
              Prohibited commercial uses do not include:
              <ol type="i">
                <li>
                  uploading an original photo/text/video to the Platform, or maintaining an original
                  channel on Platform, to promote Your business or artistic enterprise;
                </li>
              </ol>
            </li>
            <li>
              You agree not to use or launch any automated system, including without limitation,
              “robots,” “spiders,” or “offline readers,” that accesses the service in a manner that
              sends more request messages to Our servers in a given period of time than a human can
              reasonably produce in the same period by using a conventional on-line web browser.
              Notwithstanding the foregoing, We grant the operators of public search engines
              permission to use spiders to copy materials from the site for the sole purpose of and
              solely to the extent necessary for creating publicly available searchable indices of
              the materials, but not caches or archives of such materials. We reserve the right to
              revoke these exceptions either generally or in specific cases. You agree not to
              collect or harvest any personally identifiable information, including account names,
              from the service, nor to use the communication systems provided by the service (e.g.,
              comments, email) for any commercial solicitation purposes. You agree not to solicit,
              for commercial purposes, any users of the service with respect to their content.
            </li>
          </ol>
        </li>
        <li>
          Permissions You have granted Us are:
          <ol type="a">
            <li>
              While Our Platform is a freely accessible and usable platform, We may share Your user
              name and gender, and any data that We may collect relating to Your usage habits and
              patterns on Our Platform to show You any sponsored content or advertisements. We will
              not, however, be liable to pay You any revenue share if You purchase any products
              advertised to You. We do not endorse any products or vouch for the authenticity of the
              products. Merely advertising of products by the Users on Our Platform does not amount
              to an endorsement by Us.
            </li>
            <li>
              We are constantly updating our Platform and Services offered. To use Our Platform, You
              may need to download the Sportizen mobile application to Your mobile device and update
              it from time to time. Applications and software are constantly updated for Your use
              and You will need to install the latest version of the App to Your mobile device each
              time such an update is generated.
            </li>
          </ol>
        </li>
        <li>
          We may use cookies, pixel tags, web beacons, mobile device IDs, flash cookies and similar
          files or technologies to collect and store information with respect to Your use of the
          Services and third-party websites. Please see the Cookie Policy for more information
          regarding the use of cookies and other technologies described in this section, including
          regarding your choices relating to such technologies. All websites use cookies and store
          them on Your web browser so that usage information can be stored and logged in Your
          browser.
        </li>
      </ol>
    </div>

    <div>
      <h3>COPYRIGHT POLICY</h3>
      <ol type="1">
        <li>
          We operate with a clear copyright policy in relation to any content alleged to infringe
          the copyright of a third party.
        </li>
        <li>
          As part of Our copyright policy, We will terminate User access to the Platform if a User
          has been determined to be a repeat infringer. A repeat infringer is a User who has been
          notified of infringing activity more than 3 (Three) times.
        </li>
        <li>
          ) If your copyright-protected work was posted on the Platform without authorization, You
          may submit a copyright infringement notification. Be sure to consider whether fair use,
          fair dealing, or a similar exception to copyright applies before you submit your claim.
          These copyright claims should be sent by the copyright owner or an agent authorized to act
          on the owner’s behalf.
        </li>
        <li>
          The fastest and simplest way to submit a copyright takedown notice is by contacting us via
          email, here is how to do so: Email: support@sportizen.in
          <ol type="a">
            <li>
              The name You provide as copyright owner will be published on the Platform in place of
              the content taken down. If You can give us a valid legal alternative, such as a
              company name or the name of an authorized representative, We’ll review and apply it if
              appropriate. The name will become part of the public record of Your request, along
              with your description of the work(s) allegedly infringed. All other information,
              including Your full legal name and email, are part of the full takedown notice, which
              may be given to the uploader.
            </li>
            <li>
              If You choose to submit a copyright takedown request, remember that You’re starting a
              legal process. If You wish to appeal any such removal, You may write to us at
              support@sportizen.in
            </li>
          </ol>
        </li>
      </ol>
    </div>

    <div>
      <h3>CONTENT RIGHTS AND LIABILITIES</h3>

      <ol type="1">
        <li>
          We strongly believe in the freedom of expression and allow You to share images, videos,
          podcast, status updates, and other content on our Platform. We do not have any ownership
          over any of the content shared by You and the rights in the content remain only with You.
          However, if You use any content developed by Us, then we shall continue to own the
          intellectual property rights in such content.
        </li>
        <li>
          By sharing/posting/uploading content using Our services, You grant us a non-exclusive,
          royalty-free, transferable, sub-licensable, worldwide license to host, use, distribute,
          run, copy, publicly perform or display, translate, and create derivative works of your
          content (consistent with your privacy and application settings). You may delete Your
          content and/or account at any point. However, Your content may continue to appear on the
          Platform if it has been shared with others. To learn more about how we use information,
          and how to control or delete your content, please read the Sportizen Privacy Policy.
        </li>
        <li>
          You remain solely responsible for the content You post on our Platform. We do not endorse
          and are not responsible for any content shared or posted on or through our Platform, and
          for the consequence of such sharing or posting. The presence of our logo or any trademark
          on any content shared by You does not mean that we have endorsed or sponsored Your
          content. Further, we will not be liable for or responsible for the consequences of any
          transactions made or entered into by You with other users of the Platform. You will always
          have ownership and responsibilities for the content You share. We will never claim that We
          have intellectual property rights over Your content, but will have a free of cost,
          permanent license to use what You share and post on our Platform.
        </li>
      </ol>
    </div>

    <div>
      <h3>INTERMEDIARY STATUS AND NO LIABILITY</h3>
      <ol type="1">
        <li>
          We are an intermediary under the Information Technology Act, 2000 and the Information
          Technology Act (Intermediary Guidelines) Rules, 2011. These Terms are published in
          accordance with the provisions of Rule 3(1) of the Information Technology (Intermediaries
          Guidelines) Rules, 2011 that require publishing of the rules and regulations, Sportizen
          Privacy Policy, and Sportizen User Agreement for accessing and using our Platform. Our
          role is limited to providing a platform to display the content shared by You and Our other
          users.
        </li>
        <li>
          We do not control what people do or say and are not responsible for their (or your)
          actions (whether online or offline). We are not responsible for services and features
          offered by others, even if you access them through our services. Our responsibility for
          anything that happens on our Platform is strictly governed by the laws of the Republic of
          India and is limited to that extent. You agree that We will not be responsible for any
          loss of profits, revenues, information, or data, or consequential, special, indirect,
          exemplary, punitive, or incidental damages arising out of or related to these Terms, even
          if We know they are possible. This includes when We delete your content, information, or
          account.
        </li>
      </ol>
    </div>

    <div>
      <h3>TERMINATION</h3>
      <ol type="1">
        <li>
          To the fullest extent permitted by applicable law, We reserve the right, without notice
          and in our sole discretion, to terminate Your license to use the services available on the
          Platform (including to post user content), and to block or prevent your future access to
          and use of the Platform services, including where we reasonably consider that:
          <br />
          Your use of the services violates these terms of service or applicable law; You
          fraudulently use or misuse the Our Services; or We are unable to continue providing the
          services to You due to technical or legitimate business reasons.
        </li>
        <li>
          The termination includes the ability to terminate or to suspend Your access to any
          purchased services, including any subscriptions. To the fullest extent permitted by
          applicable law, Your only remedy with respect to any dissatisfaction with the services,
          any term of this Agreement, any policy or practice of Ours in operating the services, or
          any content or information transmitted through the Platform, is to terminate Your account
          and to discontinue use of any and all parts of the Rotter services.
        </li>
      </ol>
    </div>

    <div>
      <h3>SUPPORT</h3>
      <p>
        We have a Support team to address your concerns regarding data safety, privacy, and Platform
        usage concerns. We will resolve the issues raised by you within 30 (thirty) days from
        receiving them. You may contact the Support team at support@sportizen.in. We have created a
        method for you to get in touch with us and for us to address your concerns.
      </p>
    </div>

    <div>
      <h3>INDEMNIFICATION</h3>
      <p>
        You agree to indemnify, defend and hold harmless us, and our subsidiaries, affiliates and
        agents and their respective officers, directors, employees, successors and assigns from and
        against any claim, proceeding, loss, damage, liability, cost, demand or expense (including
        but not limited to attorney’s fees) of any kind arising out of:
      </p>
      <ol type="i">
        <li>your access to or use of the Platform and services;</li>
        <li>any breach by you of your obligations under this Agreement;</li>
        <li>
          your violation of the rights of any third party, including any infringement of
          intellectual property, or of any privacy or consumer protection right;
        </li>
        <li>
          any violation of law or contractual obligation and any claims, demands, notices pursuant
          to such violation;
        </li>
        <li>
          your negligence or willful misconduct. This obligation will survive termination of our
          Terms.
        </li>
      </ol>
    </div>

    <div>
      <h3>UNSOLICITED MATERIAL</h3>
      <p>
        We always appreciate feedback or other suggestions. We may use the same without any
        restrictions or obligation to compensate You for them and are under no obligation to keep
        them confidential.
      </p>
    </div>

    <div>
      <h3>GENERAL</h3>
      <ol type="1">
        <li>If any aspect of these Terms is unenforceable, the rest will remain in effect.</li>
        <li>Any amendment or waiver to our Terms must be in writing and signed by us.</li>
        <li>
          If we fail to enforce any aspect of these Terms, including reporting any illegal or
          impermissible actions to appropriate law enforcement authorities or blocking or suspending
          your profile, such failure to enforce Our rights will not be a waiver by Us.
        </li>
        <li>We reserve all rights not expressly granted to You.</li>
      </ol>
    </div>

    <div>
      <h3>DISPUTE AND DISPUTE RESOLUTION</h3>
      <ol type="1">
        <li>
          The courts of competent jurisdiction at Bombay shall have exclusive jurisdiction to
          determine any and all disputes arising out of, or in connection with, the Agreement and/or
          usage of the Platform and services provided by Us (including the content), the
          construction, validity, interpretation and enforceability of these terms, or the rights
          and obligations of the user or Us, as well as the exclusive jurisdiction to grant interim
          or preliminary relief in case of any dispute referred to arbitration as given below. All
          such issues and questions shall be governed and construed in accordance with the laws of
          the Republic of India.
        </li>
        <li>
          In the event of any legal dispute (which may be a legal issue or question) which may
          arise, the party raising the dispute shall provide a written notification (“Notification“)
          to the other party. On receipt of Notification, the parties shall first try to resolve the
          dispute through discussions. In the event the parties are unable to resolve the dispute
          within fifteen (15) days of receipt of Notification, then the dispute shall be settled by
          arbitration.
        </li>
        <li>
          The place of arbitration shall be Mumbai, India. All arbitration proceedings shall be
          presided by a sole arbitrator appointed by Sportizen and conducted in English in
          accordance with the provisions of the Arbitration and Conciliation Act, 1996 and the Rules
          made thereunder, as amended from time to time.
        </li>
        <li>
          The arbitration award will be final and binding on the Parties, and each Party will bear
          its own costs of arbitration and equally share the fees of the arbitrator unless the
          arbitral tribunal decides otherwise. The arbitrator shall be entitled to pass interim
          orders and awards, including the orders for specific performance and such orders would be
          enforceable in competent courts.
        </li>
        <li>
          Nothing contained in these terms shall prevent Us from seeking and obtaining interim or
          permanent equitable or injunctive relief, or any other relief available to safeguard Our
          interest prior to, during or following the filing of arbitration proceedings or pending
          the execution of a decision or award in connection with any arbitration proceedings from
          any court having jurisdiction to grant the same. The pursuit of equitable or injunctive
          relief shall not constitute a waiver on Our part to pursue any remedy for monetary damages
          through the arbitration described herein.
        </li>
      </ol>
    </div>

    <div>
      <h3>RELEASE AND LIMITATIONS OF LIABILITY</h3>

      <ol type="1">
        <li>
          Users shall access the Platform voluntarily and at their own risk. We shall, under no
          circumstances be held responsible or liable on account of any loss or damage sustained
          (including but not limited to any accident, injury, death, loss of property) by Users or
          any other person or entity during the course of access to the Platform and the services.
        </li>
        <li>
          By uploading user content and accessing the Platform provided therein, users hereby
          release from and agree to indemnify Us, and/ or any of Our directors, employees, partners,
          associates and licensors, against all liability, cost, loss or expense arising out their
          access to the Platform including but not limited to personal injury and damage to property
          and whether direct, indirect, consequential, foreseeable, due to some negligent act or
          omission on their part, or otherwise.
        </li>
        <li>
          Users shall be solely responsible for any consequences which may arise due to their access
          of Platform by conducting an illegal act or due to non-conformity with these terms and
          other rules and regulations in relation to Platform, including provision of incorrect
          address or other personal details. Users also undertake to indemnify Us and Our respective
          officers, directors, employees and agents on the happening of such an event (including
          without limitation cost of attorney, legal charges etc.) on full indemnity basis for any
          loss/damage suffered by Us on account of such act on the part of the Users.
        </li>
        <li>
          Users shall indemnify, defend, and hold Us harmless from any third party/ entity/
          organization claims arising from or related to such User’s engagement with Us or
          participation in any contest. In no event shall We be liable to any User for acts or
          omissions arising out of or related to User’s engagement with Us or his participation in
          any contest(s).
        </li>
        <li>
          In consideration of Our allowing Users to access the Platform, to the maximum extent
          permitted by law, the Users waive and release each and every right or claim, all actions,
          causes of actions (present or future) each of them has or may have against Us, its
          respective agents, directors, officers, business associates, group companies, sponsors,
          employees, or representatives for all and any injuries, accidents, or mishaps (whether
          known or unknown) or (whether anticipated or unanticipated) arising out of the provision
          of Platform.
        </li>
      </ol>
    </div>

    <div>
      <h3>OUR ACTIONS AGAINST TRANSGRESSORS</h3>
      <p>
        We take action against those who violate these Guidelines. If Your profile is reported for
        violating these Guidelines, then Your profile may be suspended temporarily for up to 360
        (three hundred and sixty) days. In case of repeated breach of these Guidelines, We may be
        compelled to terminate your account with Us and block you from registering with Us. If
        required, we will cooperate with legal authorities and note that We are under no duty to
        assist You.
      </p>
    </div>
  </div>
</div>
