<div class="auth-container">
  <form
    class="auth-form-container"
    (submit)="login()"
    [formGroup]="form"
    #loginFormDirective="ngForm"
  >
    <h1>login</h1>

    <h5>Welcome back! Please Login to Your Account</h5>

    <div class="row">
      <div class="col-12">
        <mat-form-field class="full-width">
          <mat-label for="email">Login Id</mat-label>

          <input matInput type="email" name="email" id="email" formControlName="email" />

          <mat-error *ngIf="form.get('email').hasError('email') && !form.hasError('required')">
            Please enter a valid email address
          </mat-error>

          <mat-error *ngIf="form.get('email').hasError('required')"> Email is required </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-form-field class="full-width">
          <mat-label for="password">Password</mat-label>

          <input
            matInput
            name="password"
            id="password"
            type="password"
            formControlName="password"
          />

          <mat-error *ngIf="form.get('password').hasError('required')">
            *Password is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12 auth-action-container">
        <div class="remember-me">
          <mat-checkbox>Remember me</mat-checkbox>
        </div>
        <div class="forgot-password">
          <a routerLink="/forgot-password">Forgot Password</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 auth-btn-container">
        <div class="login-btn-container">
          <button type="submit" mat-raised-button color="primary" class="auth-btn">Login</button>
        </div>

        <div class="signup-btn-container">
          <button
            type="button"
            mat-stroked-button
            color="primary"
            class="auth-btn"
            routerLink="/register"
          >
            Sign Up
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 or-container">
        <span class="bold-text">OR</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 google-btn-container">
        <div class="google-btn" (click)="signInWithGoogle()">
          <div class="google-icon-wrapper">
            <img
              class="google-icon"
              src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
            />
          </div>

          <span class="btn-text"><strong>Sign in with google</strong></span>
        </div>
      </div>
    </div>
  </form>

  <div class="auth-container-image"></div>
</div>
