<div class="blog-container" *ngIf="!loading">
  <div class="blog-image-container">
    <img src="{{ blogDetails.blogImage }}" />
    <div class="blog-info">
      <div class="profile-image">
        <img src="https://picsum.photos/200/200" />
        <div>{{ blogDetails.blogBy }}</div>
        <div>
          <span>{{ blogDetails.blogDate }}</span
          ><span>{{ blogDetails.blogCategory }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-content">
    <h2>{{ blogDetails.blogTitle }}</h2>
    <div class="blog-content-text">
      <p>{{ blogDetails.blogDescription }}</p>
    </div>
  </div>
</div>
