$primary-color: #05bae3;

td {
  vertical-align: middle;
}

.events-container {
  padding: 1rem;

  .event-card {
    margin: 1rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;

    .bold-text {
      font-weight: bold;
    }

    .registrations-container {
      font-size: 100%;

      .registered-members {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .registered-user-card {
        display: block;
        width: 100%;
        // margin: 1rem;

        .user-image {
          display: inline-block;
          width: 4rem;
          height: 4rem;
          border-radius: 0.25rem;
          background-size: cover;
          vertical-align: top;
        }

        .user-details {
          display: inline-block;
          padding-left: 1rem;

          .user-name {
            font-size: 1.2rem;
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          .user-email {
          }

          .user-contact {
          }
        }
      }
    }
  }
}

@media only screen and(max-width:900px) {
  .events-container {
    padding: 0.75rem;

    .event-card {
      margin: 0.75rem auto;
      border-radius: 0.875rem;

      .registrations-container {
        font-size: 97.5%;

        .registered-members {
          font-size: 1.375rem;
        }

        .registered-user-card {
          // margin: 0.875rem;

          .user-image {
            width: 3.875rem;
            height: 3.875rem;
          }

          .user-details {
            padding-left: 0.875rem;

            .user-name {
              font-size: 1.125rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width:767px) {
  .events-container {
    padding: 0.75rem;

    .event-card {
      margin: 0.75rem auto;
      border-radius: 0.75rem;

      .registrations-container {
        font-size: 95%;

        .registered-members {
          font-size: 1.25rem;
        }

        .registered-user-card {
          // margin: 0.75rem;

          .user-image {
            width: 3.75rem;
            height: 3.75rem;
          }

          .user-details {
            padding-left: 0.75rem;

            .user-name {
              font-size: 1.05rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width:600px) {
  .events-container {
    padding: 0.625rem;

    .event-card {
      margin: 0.625rem auto;
      border-radius: 0.625rem;

      .registrations-container {
        font-size: 92.5%;

        .registered-members {
          font-size: 1.125rem;
        }

        .registered-user-card {
          // margin: 0.625rem;

          .user-image {
            width: 3.625rem;
            height: 3.625rem;
          }

          .user-details {
            padding-left: 0.625rem;

            .user-name {
              font-size: 0.975rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width:400px) {
  .events-container {
    padding: 0.5rem;

    .event-card {
      margin: 0.5rem auto;
      border-radius: 0.5rem;

      .registrations-container {
        font-size: 90%;

        .registered-members {
          font-size: 1rem;
        }

        .registered-user-card {
          // margin: 0.5rem;

          .user-image {
            width: 3.5rem;
            height: 3.5rem;
          }

          .user-details {
            padding-left: 0.5rem;

            .user-name {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
