<div class="row events-container">
  <div class="col-12">
    <mat-card class="event-card" *ngIf="!loading; else loadingSpinner">
      <mat-card-content>
        <app-event-details [eventDetails]="event" [isList]="false"></app-event-details>

        <hr />

        <div class="registrations-container">
          <div class="row">
            <div
              class="col-md-10 col-sm-12 mx-auto table-responsive"
              *ngIf="!loadingPlayers; else loadingSpinner"
            >
              <table
                class="table table-borderless"
                *ngIf="players.length > 0; else noPlayersRegistered"
              >
                <thead>
                  <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th *ngIf="event.registrationType === 'team'">Team</th>
                    <th *ngIf="event.registrationType === 'team'">Team Members</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let player of players; let i = index">
                    <td>
                      {{ i + 1 }}
                    </td>
                    <td>
                      <div class="registered-user">
                        <span class="image-container">
                          <img
                            [src]="player.userImageURL"
                            [alt]="player.name"
                            class="user-image"
                            onerror="'./../../../../../assets/images/user.png'"
                          />
                        </span>

                        <span> {{ player.name | capitalizeEachWord }}</span>
                      </div>
                    </td>
                    <td>{{ player.email }}</td>
                    <td>
                      {{ player.contact }}
                    </td>
                    <td *ngIf="event.registrationType === 'team'">
                      {{ player.teamName }}
                    </td>
                    <td *ngIf="event.registrationType === 'team'">
                      <button
                        class=""
                        type="button"
                        mat-stroked-button
                        color="primary"
                        (click)="viewTeamMembers(player.teamMembers)"
                      >
                        Team Members
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #noPlayersRegistered>
  <span>No Registrations Yet</span>
</ng-template>

<ng-template #loadingSpinner>
  <div class="loading-container">
    <mat-spinner diameter="25"></mat-spinner>
  </div>
</ng-template>
