<div class="row">
  <div class="col-12">
    <h2>About Us</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-12 mx-auto">
    <div class="about about-content js--animate-about">
      <p class="content">
        Sportizen is a Sports discovery product that stands for the digital revolution of the sports
        industry. We are striving hard to integrate all the Sport stakeholders across the globe on a
        single platform with creating an Active Global Sports Community. We stand as one of the
        pioneer of this digital revolution in the Sports Ecosystem.
      </p>
    </div>
  </div>
</div>
