h2 {
  color: #fff;
  text-shadow: 0.125rem 0.125rem #444;
}

.about-content,
.content {
  color: #fff;
  font-size: 125%;
  text-align: center;
}

@media only screen and (max-width: 350px) {
  .content {
    font-size: 100%;
  }
}
