$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

.auth-container {
  background-color: #fff;
  height: calc(100vh - 4rem);

  position: relative;

  .auth-form-container {
    // vertical-align: baseline;
    padding: 1.5rem 5rem;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    h1 {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 2rem;
      letter-spacing: 0.75rem;
      margin-bottom: 1rem;
    }

    h5 {
      font-size: 1rem;
      letter-spacing: 0.125rem;
      margin-bottom: 1rem;
      font-weight: 400;
      color: #838383;

      &::after {
        margin: 1.5rem auto 0;
      }
    }

    .auth-btn {
      padding: 0.7rem 3.5rem;
      border-radius: 1rem;

      &:focus {
        outline: none;
      }

      .mat-raised-button {
        color: #fff;
      }
    }
  }

  .auth-container-image {
    float: right;
    overflow: hidden;
    width: 50%;
    background-image: linear-gradient(rgba(0, 149, 255, 0.5), rgba(0, 149, 255, 0.5)),
      url('./../../assets/images/login-image.jpg');
    height: calc(100vh - 4rem);
    background-size: cover;
    background-position: left;
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media only screen and (max-width: 1050px) {
  .auth-container {
    .auth-form-container {
      padding: 1.5rem 2rem;
    }
  }
}

@media only screen and (max-width: 900px) {
  .auth-container {
    height: calc(100vh - 3.75rem);
    font-size: 97.5%;

    .auth-form-container {
      padding: 1.5rem;

      h1 {
        font-size: 1.875rem;
        letter-spacing: 0.6875rem;
        margin-bottom: 0.875rem;
      }

      h5 {
        font-size: 0.9375rem;
        letter-spacing: 0.1875rem;
        margin-bottom: 0.875rem;

        &::after {
          margin: 1.375rem auto 0;
        }
      }

      .auth-btn {
        padding: 0.5rem 3rem;
        border-radius: 1rem;
      }
    }

    .auth-container-image {
      height: calc(100vh - 3.75rem);
    }
  }
}

@media only screen and (max-width: 767px) {
  .auth-container {
    height: calc(100vh - 3.5rem);
    font-size: 95%;

    .auth-form-container {
      width: 100%;

      h1 {
        font-size: 1.75rem;
        letter-spacing: 0.625rem;
        margin-bottom: 0.75rem;
      }

      h5 {
        font-size: 0.875rem;
        letter-spacing: 0.1125rem;
        margin-bottom: 0.75rem;

        &::after {
          margin: 1.25rem auto 0;
        }
      }
    }
  }

  .auth-container-image {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .auth-container {
    height: calc(100vh - 3.25rem);
    font-size: 92.5%;

    .auth-form-container {
      padding: 1.5rem;

      h1 {
        font-size: 1.625rem;
        letter-spacing: 0.6125rem;
        margin-bottom: 0.625rem;
      }

      h5 {
        font-size: 0.8125rem;
        letter-spacing: 0.10625rem;
        margin-bottom: 0.625rem;

        &::after {
          margin: 1.125rem auto 0;
        }
      }

      .auth-btn {
        padding: 0.5rem 2.5rem;
        border-radius: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .auth-container {
    height: calc(100vh - 3rem);
    font-size: 90%;

    .auth-form-container {
      padding: 1.5rem;
      top: 40%;
      -ms-transform: translateY(-40%);
      transform: translateY(-40%);

      h1 {
        font-size: 1.5rem;
        letter-spacing: 0.5rem;
        margin-bottom: 0.5rem;
      }

      h5 {
        font-size: 0.75rem;
        letter-spacing: 0.1rem;
        margin-bottom: 0.5rem;

        &::after {
          margin: 1rem auto 0;
        }
      }

      .auth-btn {
        padding: 0.5rem 2.5rem;
        border-radius: 1rem;
      }
    }
  }
}
