$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

.auth-container {
  background-color: #fff;
  height: calc(100vh - 3.75rem);

  .auth-form-container {
    vertical-align: middle;
    padding: 1.5rem 5rem;
    width: 50%;
    text-align: center;
    float: left;

    h1 {
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 0.75rem;
      font-size: 2rem;
    }

    h5 {
      font-size: 1rem;
      letter-spacing: 0.125rem;
      font-weight: 400;
      color: #838383;
    }

    .auth-btn {
      padding: 0.7rem 3.5rem;
      border-radius: 1rem;

      &:focus {
        outline: none;
      }

      .mat-raised-button {
        color: #fff;
      }
    }
  }

  .auth-container-image {
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 149, 255, 0.5), rgba(0, 149, 255, 0.5)),
      url('./../../assets/images/login-image.jpg');
    height: calc(100vh - 3.75rem);
    background-size: cover;
    background-position: left;
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media only screen and (max-width: 1050px) {
  .auth-container {
    .auth-form-container {
      padding: 1.5rem 2rem;
    }
  }
}

@media only screen and (max-width: 900px) {
  .auth-container {
    .auth-form-container {
      padding: 1.5rem;

      .auth-btn {
        padding: 0.5rem 3rem;
        border-radius: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .auth-container {
    .auth-form-container {
      width: 100%;
    }
  }

  .auth-container-image {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .auth-container {
    .auth-form-container {
      padding: 1.5rem;

      .auth-btn {
        padding: 0.5rem 2.5rem;
        border-radius: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .auth-container {
    .auth-form-container {
      padding: 1.5rem;

      .auth-btn {
        padding: 0.5rem 2.5rem;
        border-radius: 1rem;
      }
    }
  }
}
