<div class="message-container">
  <div class="connection-header">
    <div class="connection-user">
      <span class="back-icon-container" (click)="backToChatMembers()">
        <mat-icon class="back-icon">arrow_back</mat-icon>
      </span>
      <span class="profile-icon-container">
        <img
          class="profile-icon"
          aria-hidden
          [src]="user.userImageURL"
          [alt]="user.name"
          onerror="this.src='../../../../../assets/images/user.png'"
        />
        <span class="online" *ngIf="user.isOnline"></span>
      </span>
      <span class="profile-name">{{ user.name | capitalizeEachWord }}</span>
      <span class="user-action" (click)="onOptionClick($event, null)"> ... </span>
    </div>
  </div>

  <div class="messages" (scroll)="scrolled($event)" #messageScrollContainer>
    <ng-container *ngIf="!messageLoading; else loadingMessages">
      <div
        class="message-container"
        *ngFor="let message of messages; let i = index"
        [ngClass]="message.senderId === sportizenId ? 'my-message' : 'user-message'"
        #messageElement
        (contextmenu)="
          onOptionClick($event, {
            message: message._id,
            sender: message.senderId,
            receiver: message.receiverId,
            index: i
          })
        "
      >
        <div class="message">
          {{ message.message }}
          <span class="message-time">
            &nbsp;<small>{{ message.date | amTimeAgo }}</small>
          </span>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="input-message-container">
    <textarea
      type="text"
      class="input-message"
      [(ngModel)]="message"
      placeholder="...type message"
      rows="1"
    ></textarea>

    <div
      class="send-icon-container"
      matTooltipPosition="right"
      matTooltipHideDelay="100"
      matTooltip="Send"
      (click)="send()"
      *ngIf="!messageLoading"
    >
      <mat-icon class="send-icon icon-blue">send</mat-icon>
    </div>
  </div>
</div>

<ng-template #loadingMessages>
  <div class="loading-message-container">
    <mat-spinner diameter="25"></mat-spinner>
  </div>
</ng-template>

<div
  style="visibility: hidden; position: fixed"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="messageMenu"
></div>

<mat-menu class="" #messageMenu="matMenu">
  <ng-template class="" matMenuContent let-message="menuData">
    <button
      mat-menu-item
      (click)="deleteMessageForBoth(message)"
      *ngIf="message && message.sender === sportizenId"
      class=""
    >
      <i class="fa fa-trash"> </i>
      <span>&nbsp;Delete For Both</span>
    </button>
    <button mat-menu-item (click)="deleteMessage(message)" *ngIf="message" class="">
      <i class="fa fa-trash"> </i>
      <span>&nbsp;Delete</span>
    </button>
    <button mat-menu-item (click)="deleteAllMessages()" *ngIf="!message && user" class="">
      <span>Clear All Chats</span>
    </button>
  </ng-template>
</mat-menu>
