<div class="message-container">
  <div class="connection-header">
    <div class="connection-user">
      <span class="profile-icon-container">
        <img
          class="profile-icon"
          aria-hidden
          [src]="user.userImageURL"
          [alt]="user.name"
          onerror="this.src='../../../../../assets/images/user.png'"
        />
        <span class="online"></span>
      </span>
      <span class="profile-name">{{ user.name | capitalizeEachWord }}</span>
    </div>
  </div>

  <div class="messages">
    <div class="message-container user-message">
      <div class="message">
        user messageuser messageuser messageuser messageuser messageuser messageuser messageuser
        messageuser messageuser messageuser messageuser messageuser messageuser messageuser
        messageuser messageuser messageuser messageuser messageuser messageuser messageuser
        messageuser message
        <span class="message-time"> &nbsp;<small>1 min ago</small> </span>
      </div>
    </div>
    <div class="message-container my-message">
      <div class="message">
        my Message
        <span class="message-time"> &nbsp;<small>1 min ago</small> </span>
      </div>
    </div>
    <div class="message-container user-message">
      <div class="message">
        user message

        <span class="message-time"> &nbsp;<small>1 min ago</small> </span>
      </div>
    </div>
  </div>
  <div class="input-message">
    <input class="input-text" type="text" placeholder="Message" />
  </div>
</div>
