<div class="row events-container">
  <div class="col-12">
    <mat-card class="event-card" *ngIf="!loading">
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <h1 class="heading">{{ event.name }}</h1>
          </div>

          <div class="col-md-6">
            <div class="registered-user-container">
              <div class="register-user-label">
                <div>
                  <strong>Registered Users: </strong>
                </div>
                <div class="number-of-members">{{ event.registrations.length }} Members</div>
              </div>

              <div class="joined-users-container">
                <div class="joined-users-image-container">
                  <ng-container *ngIf="event.registrations.length > 0; else noRegistrations">
                    <img
                      class="joined-user"
                      *ngFor="let user of getRegistrations(event.registrations)"
                      [src]="user.userImageURL"
                      [alt]="user.name"
                      [matTooltip]="user.name"
                      (click)="viewProfile(user.sportizenId)"
                    />

                    <span class="more-user-container" *ngIf="event.registrations.length > 6">
                      <span class="more-joined-user">
                        <strong>+{{ event.registrations.length - 6 }}</strong>
                      </span>
                    </span>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 order-md-2">
            <div class="event-image-container" *ngIf="event.images.length > 0; else noImage">
              <div class="carousel-background">
                <div id="{{ 'event-image' }}" class="carousel slide" data-ride="carousel">
                  <ul class="carousel-indicators">
                    <li
                      [attr.data-target]="'#event-image'"
                      *ngFor="let image of event.images; let j = index"
                      [attr.data-slide-to]="j"
                      [ngClass]="j == 0 ? 'active' : ''"
                    ></li>
                  </ul>

                  <div class="carousel-inner">
                    <div
                      class="carousel-item"
                      *ngFor="let image of event.images; let k = index"
                      [ngClass]="k == 0 ? 'item active' : 'item'"
                    >
                      <div class="image-container">
                        <img class="image" [src]="image.secureUrl" [alt]="event.name" />
                      </div>
                    </div>
                  </div>

                  <a class="carousel-control-prev" href="{{ '#event-image' }}" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                  </a>

                  <a class="carousel-control-next" href="{{ '#event-image' }}" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                  </a>
                </div>
              </div>
            </div>

            <ng-template #noImage>
              <div class="no-image-container">No Images Available</div>
            </ng-template>
          </div>

          <div class="col-md-6 order-md-1">
            <div class="event-action">
              <mat-chip-list>
                <mat-chip class="event-type-box">Event Type: {{ event.eventType }}</mat-chip>
              </mat-chip-list>
            </div>

            <div class="created-user">
              <span class="image-container">
                <img
                  [src]="event.createdUserImage"
                  [alt]="event.createdUser"
                  class="created-user-image"
                  onerror="'./../../../../../assets/images/user.png'"
                />
              </span>

              <span class=""><strong>Created By :</strong></span>

              <span> {{ event.createdUser }}</span>

              <span class="created-at float-right">
                <i class="fa fa-clock-o icon-blue mr-2"></i>

                <span class="">{{ event.createdAt | amTimeAgo }}</span>
              </span>
            </div>

            <div class="schedule-container">
              <div class="border-box border-box-date">
                <div class="bold-text">
                  <span class="">Start Date :</span>
                </div>

                <div>
                  <i class="fa fa-calendar icon-yellow"></i>
                  {{ event.startDate | amCalendar }}
                </div>
              </div>

              <div class="border-box border-box-date">
                <div class="bold-text">
                  <span class=""> Last Date :</span>
                </div>

                <div>
                  <i class="fa fa-calendar icon-green"></i>
                  {{ event.endDate | amCalendar }}
                </div>
              </div>

              <div class="border-box border-box-date" *ngIf="event.time">
                <div class="bold-text">Time :</div>
                <div>
                  <i class="fa fa-clock-o icon-blue"></i>
                  {{ event.time }}
                </div>
              </div>
            </div>

            <div class="description-container">
              <div class="bold-text">Description :</div>
              <p class="description">
                {{ event.description }}
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                with desktop publishing software like Aldus PageMaker including versions of Lorem
                Ipsum
              </p>
            </div>

            <div class="entry-winning-container">
              <div class="winning-prize-box">
                <span class="bold-text">Winning Prize : </span>

                <span class="">{{ event.winningPrice }} /-</span>
              </div>

              <div class="border-box entry-fees-box">
                <span class="bold-text">Entry Fees : </span>

                <span class="">{{ event.fees ? event.fees + '/-' : 'free' }}</span>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-md-9 col-11 mx-auto">
            <div class="registration-container">
              <h3>Registration for {{ event.name }}</h3>

              <form
                (ngSubmit)="registerNow()"
                [formGroup]="joinEventForm"
                *ngIf="event.registrationType === '0'"
              >
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="full-width">
                      <mat-label>Name: </mat-label>

                      <input matInput type="text" name="name" id="name" formControlName="name" />

                      <mat-error *ngIf="joinEventForm.get('name').hasError('required')">
                        Name is required*
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4">
                    <mat-form-field class="full-width">
                      <mat-label>Email: </mat-label>

                      <input
                        matInput
                        type="email"
                        name="email"
                        id="email"
                        formControlName="email"
                      />

                      <mat-error *ngIf="joinEventForm.get('email').hasError('required')">
                        Email is required*
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4">
                    <mat-form-field class="full-width">
                      <mat-label>Contact: </mat-label>

                      <input
                        matInput
                        type="text"
                        name="contact"
                        id="contact"
                        formControlName="contact"
                      />

                      <mat-error *ngIf="joinEventForm.get('contact').hasError('required')">
                        Contact is required*
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <button mat-raised-button color="primary" type="submit" class="rounded-btn">
                  {{ event.registration ? 'Update' : 'Register Now' }}
                </button>
              </form>

              <form
                (ngSubmit)="registerNow()"
                [formGroup]="joinEventForm"
                *ngIf="event.registrationType === '1'"
              >
                <mat-form-field class="full-width">
                  <mat-label for="team-name">Team Name</mat-label>

                  <input
                    matInput
                    type="text"
                    name="teamName"
                    id="team-name"
                    formControlName="teamName"
                  />

                  <mat-error *ngIf="joinEventForm.get('teamName').hasError('required')">
                    Team Name is required*
                  </mat-error>
                </mat-form-field>

                <ng-container
                  *ngFor="
                    let teamMember of joinEventForm.get('teamMembers')['controls'];
                    let i = index
                  "
                >
                  <div class="row" [formGroup]="teamMember">
                    <div class="col-12">
                      <span>Team Member {{ i + 1 }} Details: </span>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                        <mat-label>Name: </mat-label>

                        <input
                          matInput
                          type="text"
                          name="name-{{ i }}"
                          id="name-{{ i }}"
                          formControlName="name"
                        />

                        <mat-error *ngIf="teamMember.get('name').hasError('required')">
                          Name is required*
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                        <mat-label>Email: </mat-label>

                        <input
                          matInput
                          type="email"
                          name="email-{{ i }}"
                          id="email-{{ i }}"
                          formControlName="email"
                        />

                        <mat-error *ngIf="teamMember.get('email').hasError('required')">
                          Email is required*
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                        <mat-label>Contact: </mat-label>

                        <input
                          matInput
                          type="text"
                          name="contact-{{ i }}"
                          id="contact-{{ i }}"
                          formControlName="contact"
                        />

                        <mat-error *ngIf="teamMember.get('contact').hasError('required')">
                          Contact is required*
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </ng-container>

                <button mat-raised-button color="primary" type="submit" class="register-btn">
                  {{ event.registration ? 'Update' : 'Register Now' }}
                </button>
              </form>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #noRegistrations>
  <span>You are first to Register on This Event</span>
</ng-template>
