<div class="row">
  <div class="col-12">
    <h2>Contact Us</h2>
  </div>
</div>
<div class="contact">
  <div class="row">
    <div class="col-md-6 col-12">
      <img
        src="../../../assets/images/contact.png"
        alt="Contact Us"
        class="contact-us-image"
        loading="lazy"
      />
    </div>
    <div class="col-md-6 col-sm-10 col-12">
      <div class="description">
        <p>Please feel free to talk to us if you have any questions.</p>
        <p>We endeavor to answer within 24 hours.</p>
      </div>

      <form (submit)="sendMessage()" [formGroup]="form" #formDirective="ngForm">
        <input
          placeholder="Name"
          type="text"
          id="name"
          name="name"
          formControlName="name"
          [ngClass]="
            form.get('name').invalid &&
            form.get('name').touched &&
            form.get('name').errors?.required
              ? 'error'
              : ''
          "
        />
        <div
          *ngIf="
            form.get('name').invalid &&
            form.get('name').touched &&
            form.get('name').errors?.required
          "
          class="error-msg"
        >
          *Name is Required
        </div>

        <br />

        <input
          placeholder="Email"
          type="email"
          id="email"
          name="email"
          formControlName="email"
          [ngClass]="
            form.get('email').invalid &&
            form.get('email').touched &&
            (form.get('email').errors?.required || form.get('email').errors?.email)
              ? 'error'
              : ''
          "
        />
        <div
          *ngIf="
            form.get('email').invalid &&
            form.get('email').touched &&
            form.get('email').errors?.required
          "
          class="error-msg"
        >
          *Email is Required
        </div>
        <div
          *ngIf="
            form.get('email').invalid &&
            form.get('email').touched &&
            form.get('email').errors?.email
          "
          class="error-msg"
        >
          *Enter Valid Email
        </div>
        <br />

        <textarea
          placeholder="Message"
          id="message"
          name="message"
          formControlName="message"
          [ngClass]="
            form.get('message').invalid &&
            form.get('message').touched &&
            form.get('message').errors?.required
              ? 'error'
              : ''
          "
        ></textarea>
        <div
          *ngIf="
            form.get('message').invalid &&
            form.get('message').touched &&
            form.get('message').errors?.required
          "
          class="error-msg"
        >
          *Message is Required
        </div>

        <br />

        <button type="submit" class="btn-default submit-btn float-right">Submit</button>
      </form>
    </div>
  </div>
</div>
