<div class="chat-container">
  <div class="chat-connections">
    <app-chat-connections></app-chat-connections>
  </div>
  <div class="chat-messages">
    <app-chat-messages *ngIf="user; else noUser"></app-chat-messages>
  </div>
</div>

<ng-template #noUser>
  <span class="no-user-container">
    <span class="no-user">
      <img class="no-user-image" src="./../../../../assets/images/no-user.png" alt="Select User" />
      <span class="no-user-text">Select User</span>
    </span>
  </span>
</ng-template>
