<mat-card class="user-info-card">
  <mat-card-header>
    <mat-card-title>
      <span class="header-title pointer" (click)="viewFollowers()">
        {{ noOfFollowers }} Followers
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row" *ngIf="followers.length > 0; else noFollowers">
      <div class="col-12 connection-container">
        <div class="user-connection" *ngFor="let follower of followers; let i = index">
          <app-user-connection
            [user]="follower"
            [isLoggedInUser]="follower.sportizenId === sportizenId"
            [isConnected]="follower.connectionStatus === 'following'"
            [connectionBtnText]="
              follower.connectionStatus === 'following' ? 'Unfollow' : !userId ? 'Remove' : 'Follow'
            "
            (connectionAction)="
              follower.connectionStatus === 'following'
                ? unfollowUser(follower.name, follower.sportizenId, i)
                : !userId
                ? remove(follower.name, follower.sportizenId, i)
                : followUser(follower.name, follower.sportizenId, i)
            "
          ></app-user-connection>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="user-info-card">
  <mat-card-header>
    <mat-card-title>
      <span class="header-title pointer" (click)="viewFollowings()">
        {{ noOfFollowings }} Followings
      </span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content
    ><div class="row" *ngIf="followings.length > 0; else noFollowings">
      <div class="col-12 connection-container">
        <div class="user-connection" *ngFor="let following of followings; let i = index">
          <app-user-connection
            [user]="following"
            [isLoggedInUser]="following.sportizenId === sportizenId"
            [isConnected]="following.connectionStatus === 'following'"
            [connectionBtnText]="following.connectionStatus === 'following' ? 'Unfollow' : 'Follow'"
            (connectionAction)="
              following.connectionStatus === 'following'
                ? unfollowUser(following.name, following.sportizenId, i)
                : followUser(following.name, following.sportizenId, i)
            "
          ></app-user-connection>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #noFollowers>
  <div class="row">
    <div class="col-12">
      <p class="text-center">No Followers</p>
    </div>
  </div>
</ng-template>

<ng-template #noFollowings>
  <div class="row">
    <div class="col-12">
      <p class="text-center">No Followings</p>
    </div>
  </div>
</ng-template>
