<mat-card class="user-info-card">
  <mat-card-header>
    <mat-card-title>
      <span class="header-title pointer" (click)="viewFollowers()">
        {{ noOfFollowers }} Followers
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row connection-container" *ngIf="followers.length > 0; else noFollowers">
      <div class="col-12">
        <div class="connection-card" *ngFor="let follower of followers; let i = index">
          <img
            class="connection-photo"
            [src]="follower.userImageURL"
            loading="lazy"
            onerror="this.src='./../../../../../assets/images/user.png'"
          />

          <div class="connection-details-container">
            <div class="connection-details">
              <div class="connection-info-container">
                <div class="connection-name pointer" (click)="viewProfile(follower.sportizenId)">
                  {{ follower.name | capitalizeEachWord }}
                </div>

                <div class="mutual-connection" *ngIf="follower.sportizenId !== sportizenId">
                  {{ follower.mutuleConnections ? follower.mutuleConnections : 0 }} Mutual Sportizen
                </div>
              </div>

              <div class="connection-btn-container">
                <div
                  class="connection-btn"
                  [ngClass]="
                    follower.connectionStatus === 'following' ? 'connected' : 'not-connected'
                  "
                  *ngIf="follower.sportizenId !== sportizenId"
                  (click)="
                    follower.connectionStatus === 'following'
                      ? unfollowUser(follower.name, follower.sportizenId, i)
                      : !userId
                      ? remove(follower.name, follower.sportizenId, i)
                      : followUser(follower.name, follower.sportizenId, i)
                  "
                >
                  {{
                    follower.connectionStatus === 'following'
                      ? 'Unfollow'
                      : !userId
                      ? 'Remove'
                      : 'Follow'
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="user-info-card">
  <mat-card-header>
    <mat-card-title>
      <span class="header-title pointer" (click)="viewFollowings()">
        {{ noOfFollowings }} Followings
      </span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content
    ><div class="row connection-container" *ngIf="followings.length > 0; else noFollowings">
      <div class="col-12">
        <div class="connection-card" *ngFor="let following of followings; let i = index">
          <img
            class="connection-photo"
            [src]="following.userImageURL"
            loading="lazy"
            onerror="this.src='./../../../../../assets/images/user.png'"
          />

          <div class="connection-details-container">
            <div class="connection-details">
              <div class="connection-info-container">
                <div class="connection-name pointer" (click)="viewProfile(following.sportizenId)">
                  {{ following.name | capitalizeEachWord }}
                </div>

                <div class="mutual-connection" *ngIf="following.sportizenId !== sportizenId">
                  {{ following.mutuleConnections ? following.mutuleConnections : 0 }}
                  Mutual Sportizen
                </div>
              </div>

              <div class="connection-btn-container">
                <div
                  class="connection-btn"
                  [ngClass]="
                    following.connectionStatus === 'following' ? 'connected' : 'not-connected'
                  "
                  *ngIf="following.sportizenId !== sportizenId"
                  (click)="
                    following.connectionStatus === 'following'
                      ? unfollowUser(following.name, following.sportizenId, i)
                      : followUser(following.name, following.sportizenId, i)
                  "
                >
                  {{ following.connectionStatus === 'following' ? 'Unfollow' : 'Follow' }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #noFollowers>
  <div class="row">
    <div class="col-12">
      <p class="text-center">No Followers</p>
    </div>
  </div>
</ng-template>

<ng-template #noFollowings>
  <div class="row">
    <div class="col-12">
      <p class="text-center">No Followings</p>
    </div>
  </div>
</ng-template>
